<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad: Temática</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="first"><a href="tematica.html" accesskey="1" title="">Temática</a></li>
				<li><a href="merethaderthad.html" accesskey="2" title="">La Mereth Aderthad</a></li>
				<li><a href="cuestionespracticas.html" accesskey="3" title="">Cuestiones prácticas</a></li>
				<li><a href="sobrenosotros.html" accesskey="4" title="">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Temática</span></h1>
					
					<p>Es tradición que cada convención anual gire en torno a una idea o tema de referencia.</p>
					<p>En este caso, el smial que coordina los preparativos y la ejecución, Hammo, ha decidido
					orientar la Mereth Aderthad hacia las obras consideradas «menores» de JRR Tolkien. Esto se debe en parte
					a que «Hammo» resulta ser el nombre dado a un pueblo en uno de estos relatos cortos, de ánimo desenfadado y sarcástico,
					y, por otro, a que resultaba un buen contrapunto al modelo tradicional basado en obras como El Silmarillion o El Señor de los Anillos.</p>
					<h2>Consecuencias</h2>
					<p>En realidad son pocas en lo que se refiere a los elementos más importantes (localización, duración, capacidad, etc) pero sí
					matiza otros en mayor o menor medida. Ponemos algunos ejemplos que se detallan en la sección «<a href="tematica_influencia.html">Influencia en actividades</a>»:</p>
					<ol>
						<li>El recinto habilitado para la convención se decorará siguiendo esta línea temática.</li>
						<li>Algunos lugares serán bautizadas siguiendo topónimos reconocibles de estas obras menores.</li>
						<li>Se promoverán actividades relacionadas con estas obras.</li>
						<li>Habrá alusiones constantes a personajes o sucesos de estas obras a lo largo de toda la convención.</li>
					</ol>
					<p>Recomendamos, por tanto, acudir la <a href="tematica_bibliografia.html">bibliografía recomendada</a> y leer al menos los textos más importantes (o tenerlos frescos días antes de acudir). Independientemente
					de que sea un valor en sí mismo, es muy probable que permita disfrutar la Mereth Aderthad en plenitud.</p>
				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
					<div class="boxed-top-second">
						<div class="boxed-bottom-second">
							<p>&nbsp;</p>
							<h2>Subsecciones</h2>
							<p>En este apartado, existen los siguientes enlaces fundamentales:</p>
							<ul class="list1">
							
							<li><a href="tematica_ambientacion.html">Ambientación</a></li>
							<li><a href="tematica_bibliografia.html">Bibliografía</a></li>
							<li><a href="tematica_influencia.html">Influencia en actividades</a></li>
						<li><a href="tematica_descargas.html">Descargas / extras</a></li>
						</ul>
																		
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.jpg" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Copyright (c) 2007 WebsiteName. All rights reserved.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->
</body>
</html>
