{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<section style="background: url('img/photogrid.jpg') center center repeat; background-size: cover;" class="bar background-white relative-positioned">
    <div class="container">
      <!-- Carousel Start-->
      <div class="home-carousel">
        <div class="dark-mask mask-primary"></div>
        <div class="container">
          <div class="homepage owl-carousel">
            <div class="item">
              <div class="row">
                <div class="col-md-5 text-right">
                  <p><img src="{% static 'img/logo.png' %}" alt="" class="ml-auto"></p>
                  <h1>ESTELCON 2018</h1>
                  <p>Ven con nosotros a celebrar la reunión anual de la STE<br>Del 1 al 4 de Noviembre</p>
                </div>
                <div class="col-md-7"><img src="{% static 'img/template-homepage.png' %}" alt="" class="img-fluid"></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-7 text-center"><img src="{% static 'img/template-mac.png' %}" alt="" class="img-fluid"></div>
                <div class="col-md-5">
                  <h2>46 HTML pages full of features</h2>
                  <ul class="list-unstyled">
                    <li>Sliders and carousels</li>
                    <li>4 Header variations</li>
                    <li>Google maps, Forms, Megamenu, CSS3 Animations and much more</li>
                    <li>+ 11 extra pages showing template features</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-5 text-right">
                  <h1>Design</h1>
                  <ul class="list-unstyled">
                    <li>Clean and elegant design</li>
                    <li>Full width and boxed mode</li>
                    <li>Easily readable Roboto font and awesome icons</li>
                    <li>7 preprepared colour variations</li>
                  </ul>
                </div>
                <div class="col-md-7"><img src="{% static '{% static 'img/template-easy-customize.png" alt="" class="img-fluid"></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-7"><img src="{% static 'img/template-easy-code.png' %}" alt="" class="img-fluid"></div>
                <div class="col-md-5">
                  <h1>Easy to customize</h1>
                  <ul class="list-unstyled">
                    <li>7 preprepared colour variations.</li>
                    <li>Easily to change fonts</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel End-->
    </div>
  </section>
    <div class="row">
        <div id="sidebar" class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% placeholder "sidebar-1" %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% placeholder "sidebar-2" %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% placeholder "sidebar-3" %}
                </div>
            </div>
        </div>
        <div id="main-column" class="col-sm-9">
            <div class="row">
                <div id="main-content" class="col-sm-12">
                    <ol class="breadcrumb">
                        <li>{% page_attribute "page_title" %}</li>
                    </ol>
                    {% placeholder "content" %}
                </div>
            </div>
            <div class="row">
                <div id="main-navigation" class="col-sm-8">
                    {% placeholder "navigation" %}
                </div>
                <div id="main-news" class="col-sm-4">
                    <h2>Última hora...</h2>
                    {% placeholder "news" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
