{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="row">
        <div id="sidebar" class="col-sm-3">
            <p>Subsecciones:</p>
            <ul class="nav nav-pills nav-stacked">
                {% show_menu 1 1 0 100 "menu.html" %}
            </ul>
        </div>
        <div id="main-column" class="col-sm-9">
            <ol class="breadcrumb">
                {% show_breadcrumb %}
            </ol>
            {% placeholder "content" %}
        </div>
    </div>
{% endblock content %}
