{% extends "base.html" %}

{% load cms_tags menu_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-sm-3">
                <ul class="nav nav-pills flex-column">
                    {% show_menu 1 1 0 100 "menu.html" %}
                </ul>
            </div>
            <div id="main-column" class="col-sm-9">
                <ol class="breadcrumb">
                    {% show_breadcrumb %}
                </ol>
                <div class="heading">
                    <h1>{% page_attribute "page_title" %}</h1>
                </div>
                <div id="map"></div>
                <br>
                {% placeholder "content" %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALvQq8q6kAxXOa_190k5q4c5-SycxFzSk&callback=initMap"></script>
<script src="js/gmaps.js"></script>
<script src="js/gmaps.init.js"></script>
{% endblock js %}
