{% extends "webapp/common/base_subsection.html" %}

{% block subsecciones %}
<ul class="list1">
    <li><a href="/merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
    <li><a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
    <li><a href="/merethaderthad_premios.html">Concursos y Premios</a></li>
    <li><a href="/merethaderthad_programa">Programa de actividades</li>
    <li><a href="/merethaderthad_inscripcion">Formulario de inscripción</a></li>
    <li class="aactive"><a href="/merethaderthad_ficha">Ficha personal</a></li>
</ul>
{% endblock %}

{% block content %}
<h1><span>La Mereth Aderthad</span> Ficha personal</h1>

{% if messages %}
    {% for message in messages %}
        <h3 class="message">{{ message }}</h3>
    {% endfor %}
{% else %}
    <p>Por favor, introduce tu nueva contraseña.</p>
{% endif %}

<form method="post" action=".">
{% csrf_token %}
<p>
  <label>Contraseña:</label><br/>
  {{ form.password1 }}
  {% if form.password1.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.password1.errors|join:", " }}&nbsp;</b>{% endif %}
</p>
<p>
  <label>Confirmar contraseña:</label><br/>
  {{ form.password2 }}
  {% if form.password2.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.password2.errors|join:", " }}&nbsp;</b>{% endif %}
</p>
{{ form.reminder_code }}

<p><input type="submit" value="Cambiar"/></p>
{{ form.session }}
</form>

{% endblock %}
