<html>
<body>
  <p>Listados accesibles para los administradores:</p>
  <ul>
    <li><a href="/listados/1">Listado de inscritos con datos de alojamiento y comida</a></li>
    <li><a href="/listados/2">Listado de inscritos con datos de viaje</a></li>
    <li><a href="/listados/3">Listado de no socios</a></li>
    <li><a href="/listados/4">Listado de escuderos</a></li>
    <li><a href="/listados/5">Listado de niños</a></li>
    <li><a href="/listados/6">Listado resumen de menús de cena de gala</a></li>
    <li><a href="/listados/7">Listado de NO PAGADOS por orden alfabético de nombre y apellidos</a></li>
    <li><a href="/listados/8">Listado de PAGADOS por orden alfabético de nombre y apellidos</a></li>
    <li><a href="/listados/9">Listado de cantidad de camisetas reservadas</a></li>
    <li><a href="/listados/10">Listado de personas reservando camisetas</a></li>
    <li><a href="/listados/11">Listado de "umbarianos"</a></li>
    <li><a href="/listados/12">Listado de personas con todo</a></li>
  </ul>
</body>

