<html>
<body>
  <p>Listados accesibles para los administradores:</p>
  <ul>
    <li><a href="/listados/1">Listado de inscritos por orden alfabético de nombre y apellidos</a></li>
    <li><a href="/listados/2">Listado de NO PAGADOS por orden alfabético de nombre y apellidos</a></li>
    <li><a href="/listados/3">Listado de PAGADOS por orden alfabético de nombre y apellidos</a></li>
    <li><a href="/listados/4">Listado de cantidad de camisetas reservadas</a></li>
    <li><a href="/listados/5">Listado de personas reservando camisetas</a></li>
  </ul>
</body>

