{% extends "webapp/common/base_subsection.html" %}

{% block subsecciones %}
<ul class="list1">
    <li><a href="/merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
    <li><a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
    <li><a href="/merethaderthad_premios.html">Concursos y Premios</a></li>
    <li><a href="/merethaderthad_programa">Programa de actividades</li>
    <li><a href="/merethaderthad_inscripcion">Formulario de inscripción</a></li>
    <li class="aactive"><a href="/merethaderthad_ficha">Ficha personal</a></li>
</ul>
{% endblock %}

{% block content %}
<h1><span>La Mereth Aderthad</span> Ficha personal</h1>

{% if messages %}
    {% for message in messages %}
        <h3 class="message">{{ message }}</h3>
    {% endfor %}
{% endif %}

{% if payment_code and quota %}

  {% if not queue %}

  <p>¡Bienvenido/a a la Mereth Aderthad!</p>
  {% comment %}
  <p>Tu inscripción ha sido procesada, el siguiente paso es realizar el pago.
  Debes realizar el ingreso de {{ quota }}€ en la cuenta de Caja3 ES79 2086 0002 11 3300558438 a nombre de IRENE BERBERANA,
  indicando en las observaciones el código {{ payment_code }}.</p>
  <p>Dispones de 5 días para la realización del pago que confirmará tu plaza, pasados los cuales la inscripción será cancelada
  si no lo hemos recibido.</p>
  <p>Cuando hayamos verificado el pago, lo reflejaremos así en tu ficha.</p>
  {% endcomment %}
  <p>Tu inscripción ha sido procesada. El siguiente paso sería realizar el pago, pero los pagos no están habilitados
  todavía, estamos terminando de cerrar las condiciones. En breve te enviaremos más instrucciones, recuerda tu importe
  de <strong>{{ quota }}€</strong> y tu código de inscripción <strong>{{ payment_code }}</strong>.</p>

  <p>Ahora puedes entrar en la página con el usuario y contraseña que acabas de
  indicar, para consultar tu ficha y apuntarte a las diferentes actividades.</p>

  {% else %}

  <p>¡Gracias por inscribirte en la Mereth Aderthad!</p>
  <p>Sin embargo, lamentamos comunicarte que el número de plazas máximo que teníamos establecido ha sido alcanzado, por
  lo que no podemos garantizar tu asistencia. ¡Lo sentimos muchísimo!</p>
  <p>Pero de todas formas, te ponemos en cola de espera por si aparece un hueco vacante y podemos dar paso a tu inscripción.
  Tu posición en la cola es la {{ queue }}. La cuota que te corresponde es de {{ quota }}€ y el código de pago es
  {{ payment_code }}, pero no hagas ningún ingreso todavía hasta que se pueda confirmar tu asistencia.</p>

  <p>Esperamos que tengas suerte y puedas disfrutar de esta Mereth Aderthad.</p>
  <p>Por ahora, puedes entrar en la página con el usuario y contraseña que acabas de indicar, para consultar la ficha
  y ver el estado de tu petición.</p>

  {% endif %}

{% else %}

<p>En esta sección podrás consultar y modificar los datos personales que introdujiste
al rellenar el formulario de inscripción, así como el estado de tu cuenta y las
actividades a las que te has apuntado. Y si eres colaborador, además, podrás proponernos
tus actividades y tendrás aceso a la información completa de las actividades que organizas.</p>

<p>Para poder ver todo esto, debes introducir ahora tu nombre de usuario y contraseña,
tal como los indicaste al rellenar el formulario. Si no lo has rellenado aún, puedes
hacerlo ahora entrando en el <a href="/merethaderthad_inscripcion">Formulario de
inscripción</a>.</p>

{% endif %}

{% if form.errors %}
<p><b>El usuario o contraseña son incorrectos. Por favor intentalo de nuevo.</b></p>
{% endif %}

<form method="post" action=".">
{% csrf_token %}
<table>
<tr>
    <td><label for="id_username">Usuario:</label></td>
    <td>
        {{ form.username }}
        {% if form.username.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.username.errors|join:", " }}&nbsp;</b>{% endif %}
    </td>
</tr>
<tr>
    <td><label for="id_password">Contraseña:</label></td>
    <td>
        {{ form.password }}
        {% if form.password.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.password.errors|join:", " }}&nbsp;</b>{% endif %}
    </td>
</tr>
</table>

<input type="submit" value="entrar" />
<input type="hidden" name="next" value="{{ next }}" />

<p>&nbsp;</p>
<p><a href="/merethaderthad_olvido">¿Olvidaste la contraseña?</a></p>
</form>
{% endblock %}
