{% extends "webapp/common/base_subsection.html" %}

{% block subsecciones %}
<ul class="list1">
    <li><a href="/merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
    <li><a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
    <li><a href="/merethaderthad_premios.html">Concursos y Premios</a></li>
    <li><a href="/merethaderthad_programa">Programa de actividades</a></li>
    <li class="aactive"><a href="/merethaderthad_inscripcion">Formulario inscripción</a></li>
    <li><a href="/merethaderthad_ficha">Ficha personal</a></li>
</ul>
{% endblock %}

{% block content %}
<h1><span>La Mereth Aderthad</span> Formulario de inscripción</h1>

<p><em>Muchas gracias por decidirte a asistir a la XX Mereth Aderthad 2015. Recuerda que las fechas
son <b>9, 10, 11 y 12 de octubre de este a&ntilde;o 2015</b>.</em></p>

<p>La política de precios es la siguiente. Todos los precios incluyen IVA. Para casos especiales
contactad por favor con la organización.</p>

<p><b>Inscripción completa: 160€</b></p>
<ul>
    <li>Incluye alojamiento y pensión completa desde la cena del viernes hasta la comida del lunes
        inclusive, más todos los gastos y actividades, y la cena de gala del domingo.</li>
</ul>

<p><b>Fin de semana y cena de gala: 110€</b></p>
<ul>
    <li>Incluye noche de sábado y domingo y desayunos de domingo y lunes, más todos los gastos y
        actividades, y la cena de gala del domingo. No incluye comidas.</li>
</ul>

<p><b>Infantil (de 3 a 12 años): 80€</b></p>
<ul>
    <li>Incluye lo mismo que la inscripción completa.</li>
    <li>Los niños menores de 3 años no tienen coste si los padres se encargan de su alimentación, y no hay
        que rellenar ficha de inscripción para ellos, aunque sí mencionarlos en la ficha de los padres.</li>
    <li>Los menores de 18 años deben venir con sus padres o tener autorización.</li>
</ul>

<p><b>Opción sin alojamiento: 40€</b></p>
<ul>
    <li>Existirá la posibilidad de asistir a la EstelCon y la cena de gala sin alojarse en el hotel. esta
        opción incluye todas las actividades pero no las comidas, excepto la cena de gala.</li>
</ul>
{% comment %}
<p><b>Condiciones para no socios:</b></p>
<ul>
    <li>Los no socios deberán pagar 10 € más en cualquiera de los casos excepto en la opción sin alojamiento, si bien podrán aprovechar y hacerse socios en la propia EstelCon, descontando esta parte de su cuota.</li>
</ul>
{% endcomment %}

{% comment %}
<p><b>Plazos de inscripción:</b>
<ul>
<li>Apertura de inscripciones: principios de octubre.</li>
<li>Fecha tope de inscripción: <b>12 de noviembre</b>.</li>
<li>En caso de desistir de la plaza, del precio pagado de la EstelCon, se devolverá:
    <ul>
        <li>el 60% a los que comuniquen su baja antes del 12 de noviembre.</li>
        <li>el 25% a los que comuniquen su baja antes del 1 de diciembre.</li>
    </ul>
</li>
</ul>
{% endcomment %}

<p><b>El proceso de inscripción es el siguiente:</b></p>
<ol>
  <li>Comprobar las <a href="/cuestionespracticas_normas.html">normas de la EstelCon</a>.</li>
  <li>Rellenar este formulario. Los campos marcados con un * son obligatorios. Hay que indicar un usuario y contraseña que servirá para acceder después a la ficha personal, apuntarse a las actividades y modificar los datos si se desea.</li>
  <li>Se mostrará un código de pago que hay que apuntar. Por ejemplo, EC245.</li>
  <li>Hacer el ingreso correspondiente en la cuenta bancaria que se indicará al completar la ficha. En el ingreso hay que indicar el código de pago apuntado en el paso anterior.</li>
  <li>En pocos días, entrando en la ficha personal aparecerá reflejado que hemos aceptado y comprobado el pago.</li>
  <li>Si se desea pagar por varias personas a la vez, hay que rellenar primero una ficha por cada uno, y en el ingreso indicar todos los códigos de pago. Se admite poner la misma dirección de correo de contacto en todas las fichas, si una persona quiere coordinar lo de todos.</li>
  <li>Los menores de edad, a partir de 3 años, deben rellenar su propia ficha, y además hay que mencionarlos en la ficha de sus padres si vienen también.</li>
  <li><b>No hay diferencia entre asistente y colaborador en el proceso de inscripción. Es posteriormente, al proponer actividades, donde esta distinción se hace patente</b>.</li>
</ol>
<p>MANTÉN INMÓVIL DURANTE 1 SEG. EL CURSOR DEL RATÓN SOBRE LOS RECUADROS DE TEXTO PARA OBTENER MÁS INFORMACIÓN.</p>

<form method="post" action=".">
  {% csrf_token %}
  <table style="vertical-align:top">
    <tr>
      <td><p title="Introduce un nombre corto y sin espacios. Será sensible a las mayúsculas y minúsculas.">
        <label for="id_username">Nombre de usuario: *</label><br/>
        {{ form.username }}
        {% if form.username.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.username.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
      <td><p title="Introduce tu dirección de correo electrónico.">
        <label for="id_email">Correo electrónico: *</label><br/>
        {{ form.email }}
        {% if form.email.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.email.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
     </tr><tr>
      <td><p title="Introduce una contraseña de al menos 5 caracteres de largo.">
        <label for="id_password1">Contraseña: *</label><br/>
        {{ form.password1 }}
        {% if form.password1.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.password1.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
      <td><p title="Repite la contraseña para confirmar que está bien escrita.">
        <label for="id_password2">Confirmar contraseña: *</label><br/>
        {{ form.password2 }}
        {% if form.password2.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.password2.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td><p title="Introduce tu nombre.">
        <label for="id_first_name">Nombre: *</label><br/>
        {{ form.first_name }}
        {% if form.first_name.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.first_name.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
      <td><p title="Introduce tus apellidos.">
        <label for="id_last_name">Apellidos: *</label><br/>
        {{ form.last_name }}
        {% if form.last_name.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.last_name.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td><p title="Introduce tu pseudónimo en la STE, si lo tienes. Si no, puedes dejarlo en blanco.">
        <label for="id_alias">Pseudónimo:</label><br/>
        {{ form.alias }}
        {% if form.alias.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.alias.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
      <td><p title="Nombre del smial al que perteneces, o en blanco si no eres de la STE.">
        <label for="id_smial">Smial:</label><br/>
        {{ form.smial }}
        {% if form.smial.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.smial.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td><p title="Introduce un teléfono de contacto.">
        <label for="id_phone">Teléfono: *</label><br/>
        {{ form.phone }}
        {% if form.phone.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.phone.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
      <td><p title="Introduce la población donde resides habitualmente.">
        <label for="id_city">Población: *</label><br/>
        {{ form.city }}
        {% if form.city.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.city.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr>
    </tr><tr>
      <td colspan="2"><p title="Recuerda que los menores necesitan venir con sus padres o una autorización firmada. Los niños de entre 3 y 12 años tienen un descuento en la inscripción, y los menores de 3 años no necesitan inscripción si no requieren cama ni comida.">
        <label for="id_age">Edad: *</label><br/>
        {{ form.age }} Importante para menores o niños de hasta 12 años.
        {% if form.age.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.age.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr>
  </table>
  <br/>
  <p title="Indica si vendrás en transporte privado o público, y en este caso, lugar y horario de llegada.">
    <label for="id_notes_transport">¿Cómo vas a venir?</label><br/>
    {{ form.notes_transport }}
    {% if form.notes_transport.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes_transport.errors|join:", " }}&nbsp;</b>{% endif %}
  </p>
  <p title="Indica qué días te vas a alojar. Si no te sirve ninguna de las opciones, pon 'otros' y contacta con la organización para ver el precio.">
    <label for="id_room_choice">Elige un tipo de alojamiento:</label><br/>
    {{ form.room_choice }}
    {% if form.room_choice.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.room_choice.errors|join:", " }}&nbsp;</b>{% endif %}
  </p>
  {% comment %}
  <script type="text/javascript">
    check_days = function() {
        var roomChoiceSelect = document.querySelector('#id_room_choice');
        var day1 = document.querySelector('#id_day_1');
        var day2 = document.querySelector('#id_day_2');
        var day3 = document.querySelector('#id_day_3');
        if (roomChoiceSelect.value === 'sin-alojamiento') {
            day1.checked = false;
            day2.checked = false;
            day3.checked = false;
        } else {
            if (day1.checked === false && day2.checked === false && day3.checked === false) {
                day1.checked = true;
                day2.checked = true;
                day3.checked = true;
            }
        }
    }

    // See http://youmightnotneedjquery.com/
    var roomChoiceSelect = document.querySelector('#id_room_choice');
    if (roomChoiceSelect.addEventListener) {
        roomChoiceSelect.addEventListener('change', check_days);
    } else {
        roomChoiceSelect.attachEvent('onchange', function() {
            check_days.call();
        });
    }
  </script>
  {% endcomment %}
  {% comment %}
  <p>Indica las noches que vas a pasar en el hotel:</p>
  <table title="Si asistes a la Estelcon completa, marca todo. Si no, dinos qué noches pernoctas en el hotel, incluyendo las comidas como se indica arriba. Si eliges la opción sin alojamiento, no marques nada.">
    <tr>
      <td><label for="id_day_1">Viernes/Sábado<label></td>
      <td>{{ form.day_1 }}
      {% if form.day_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.day_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr><tr>
      <td><label for="id_day_2">Sábado/Domingo<label></td>
      <td>{{ form.day_2 }}
      {% if form.day_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.day_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr><tr>
      <td><label for="id_day_3">Domingo/Lunes + Cena de gala<label></td>
      <td>{{ form.day_3 }}
      {% if form.day_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.day_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr>
  </table>
  <br/>
  {% endcomment %}
  <p title="Si prefieres compartir habitación con alguien, o cualquier otro comentario al respecto, indicalo aquí.">
    <label for="id_room_preferences">¿Tienes alguna preferencia sobre con quién compartir habitación?<label><br/>
    {{ form.room_preferences }}
    {% if form.room_preferences.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.room_preferences.errors|join:", " }}&nbsp;</b>{% endif %}
  </p>
  <p title="Indica si eres alérgico a algún alimento, vegetariano o cualquier otra condición especial.">
    <label for="id_notes_food">¿Tienes necesidades especiales respecto de las comidas?</label><br/>
    {{ form.notes_food }}
    {% if form.notes_food.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes_food.errors|join:", " }}&nbsp;</b>{% endif %}
  </p>
  {% comment %}
  <p title="Si has indicado algúna condición especial (alérgico, vegetariano... elige otros)">
    <label for="id_dinner_menu">Tienes que decirnos también qué plato principal querrás en la cena de gala, para reservarlo en el restaurante:</label><br/>
    {{ form.dinner_menu }}
    {% if form.dinner_menu.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.dinner_menu.errors|join:", " }}&nbsp;</b>{% endif %}
  </p>
  {% endcomment %}
  <p>¿Traes niños a tu cargo?</p>
  <table title="Si traes niños a tu cargo, indica aquí cuántos son y sus nombres. Luego tendrás que rellenar una inscripción por cada uno (si tienen 3 años o más). Si venis los dos padres, sólo hace falta rellenar esta información una vez.">
      <tr>
          <td><label for="id_children_count">Nº de niños</label></td>
          <td>{{ form.children_count }}
          {% if form.children_count.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.children_count.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
      </tr><tr>
          <td><label for="id_children_names">Nombres (uno por fila)</label></td>
          <td>{{ form.children_names }}
          {% if form.children_names.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.children_names.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
      </tr>
  </table>
  <br/>
  <p title="Indica si ya eres socio/a, con la cuota al día.">
    <label for="id_is_ste_member">¿Eres socio/a de la STE?</label><br/>
    {{ form.is_ste_member }}
    {% if form.is_ste_member.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.is_ste_member.errors|join:", " }}&nbsp;</b>{% endif %}
  </p>
  {% comment %}
  <p title="Como oferta de Estelcon, añadiendo 2€ a la inscripción te puedes convertir en socio/a de la STE, de cuota reducida (recibirías la revista por correo electrónico en lugar de en papel).">
    <label for="id_want_ste_member">En caso de que no, ¿quieres asociarte por 2€ más?</label><br/>
    {{ form.want_ste_member }}
    {% if form.want_ste_member.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.want_ste_member.errors|join:", " }}&nbsp;</b>{% endif %}
  </p>
  {% endcomment %}
  <p title="Los escuderos son ayudantes voluntarios para echar una mano a la organización en tareas sencillas.">
    <label for="id_squire">¿Quieres ser escudero en esta Estelcon?</label><br/>
    {{ form.squire }}
    {% if form.squire.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.squire.errors|join:", " }}&nbsp;</b>{% endif %}
  </p>
  <p title="Escribe cualquier otra consideración que nos quieras comentar respecto de tu inscripción.">
    <label for="id_notes_general">¿Algún otro comentario?<label><br/>
    {{ form.notes_general }}
    {% if form.notes_general.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes_general.errors|join:", " }}&nbsp;</b>{% endif %}
  </p>
  <p>Queremos dar la oportunidad de lucir la <a href="/static/images/camiseta.jpg" target="_blank">camiseta de la Estelcon</a> en el
  castillo de Santa Bárbara. Para ello deberéis reservarla indicando la talla y número de unidades en el formulario
  siguiente. Los que la reservéis y paguéis hasta el 1 de octubre se os entregara en el pack de bienvenida al llegar al
  Castillo. Si la reserva se hace a posteriori, no dará tiempo de tenerla lista para la Estelcon y os la haremos llegar
  a vuestra casa, en ese caso habrá que sumar al precio 2€ más en concepto de gastos de envío (se podrán consultar otros
  tipos de envios).</p>
  <p>El precio de la camiseta será de <b>6€</b> (precio de coste). Como el pago de la Estelcon va directamente a
  las cuentas de Esatur, hay que hacer un pago separado para la camiseta. Después de reservar se os mandará un mail con
  la información para el pago.</p>
  {% comment %}
  <p>En esta Estelcon, ¡por supuesto!, presentaremos unas nuevas y bonitas camisetas Mereth Aderthad. Para
  optimizar su producción, y asegurar que nadie se quede sin la suya, queremos ofrecerlas mediante reserva.
  Si vas a querer alguna camiseta, indícanos aquí la talla. También puedes, si lo deseas, reservar más de
  una, simplemente indicando la cantidad que quieres en la casilla o casillas correspondientes.</p>
  <p>Las camisetas costarán 10€ y se entregarán junto con el Maratulmë de la EstelCon, cuando os registréis
  nada más llegar.</p>
  {% endcomment %}
  <table title="Indica cuántas camisetas quieres de esta talla.">
    <tr>
      <td><label for="id_shirts_S">Camisetas talla S: <label></td>
      <td>{{ form.shirts_S }}
      {% if form.shirts_S.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_S.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr><tr>
      <td><label for="id_shirts_M">Camisetas talla M: <label></td>
      <td>{{ form.shirts_M }}
      {% if form.shirts_M.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_M.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr><tr>
      <td><label for="id_shirts_L">Camisetas talla L: <label></td>
      <td>{{ form.shirts_L }}
      {% if form.shirts_L.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_L.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr><tr>
      <td><label for="id_shirts_XL">Camisetas talla XL: <label></td>
      <td>{{ form.shirts_XL }}
      {% if form.shirts_XL.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XL.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr><tr>
      <td><label for="id_shirts_XXL">Camisetas talla XXL: <label></td>
      <td>{{ form.shirts_XXL }}
      {% if form.shirts_XXL.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XXL.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr>
  </table>
  <br/>
  <p>
    <input type="submit" value="enviar"/>
  </p>
  <p><em>En cumplimiento de la Ley de Protección de Datos, te informamos que los datos aquí introducidos
  serán incorporados a un fichero automatizado, que obrará en poder de la Sociedad Tolkien Española
  (nº 112532 en el Registro de Asociaciones del Ministerio del Interior) y será utilizado exclusivamente
  para gestionar la asistencia y las actividades de la EstelCon, siendo destruido al finalizar la misma.
  Puedes ejercer tus derechos de acceso, rectificación, cancelación y oposición en esta misma web, donde
  puedes consultarlos y modificarlos con los formularios correspondientes, o bien dirigirte a los
  organizadores de la EstelCon tal como se indica en la sección de contacto.</em></p>
</form>

{% endblock %}
