{% extends "webapp/common/base_subsection.html" %}

{% block subsecciones %}
<ul class="list1">
    <li><a href="/merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
    <li><a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
    <li><a href="/merethaderthad_premios.html">Concursos y Premios</a></li>
    <li><a href="/merethaderthad_programa">Programa de actividades</a></li>
    <li><a href="/merethaderthad_inscripcion">Formulario de inscripción</a></li>
    <li class="aactive"><a href="/merethaderthad_ficha">Ficha personal</a></li>
</ul>
{% endblock %}

{% block content %}
<h1><span>La Mereth Aderthad</span> Ficha personal</h1>

<div align="right"><a href="/merethaderthad_salida">Desconectar</a></div>

{% if messages %}
    {% for message in messages %}
        <h3 class="message">{{ message }}</h3>
    {% endfor %}
{% endif %}

<p>Estos son tus datos personales (<a href="{% url 'user-profile-edit-personal' %}">modificar</a>):</p>

<p>
<b>Nombre y apellidos</b>: {{ user.first_name }} {{ user.last_name }}<br/>
<b>Correo electrónico</b>: {{ user.email }}<br/>
<b>Nombre de usuario en la web</b>: {{ user.username }}<br/>
{% if profile.alias %}
  <b>Pseudónimo en la STE</b>: {{ profile.alias }}<br/>
{% endif %}
{% if profile.smial %}
  <b>Smial</b>: {{ profile.smial }}<br/>
{% endif %}
<b>Teléfono</b>: {{ profile.phone }}<br/>
{% if profile.city %}
  <b>Población</b>: {{ profile.city }}<br/>
{% endif %}
<b>Edad</b>: {{ profile.age }}
</p>

<div align="center">-----------------------------------------------------------------------------------------------------------------------------</div><br/>

<p>Aquí están los datos de tu inscripción (<a href="/merethaderthad_ficha_editar_inscr">modificar</a>):</p>
{% comment %}
<p><b>Días de asistencia</b><br/>
 - Viernes/Sábado: {% if profile.day_1 %} sí {% else %} no {% endif %}<br/>
 - Sábado/Domingo: {% if profile.day_2 %} sí {% else %} no {% endif %}<br/>
 - Domingo/Lunes + Cena: {% if profile.day_3 %} sí {% else %} no {% endif %}<br/>
</p>
{% endcomment %}
<p><b>Estado de la inscripción</b><br/>
{{ profile.payment }}<p>
{% if profile.notes_food %}
  <p><b>¿Tienes necesidades especiales respecto de las comidas?</b>:<br/>
  {{ profile.notes_food|linebreaksbr }}<p>
{% endif %}
{% comment %}
{% if profile.dinner_menu %}
  <p><b>Plato elegido para la cena de gala</b>:<br/>
  {{ profile.dinner_menu }}<p>
{% endif %}
{% endcomment %}
{% if profile.notes_transport %}
  <p><b>¿Cómo vas a venir?</b>:<br/>
  {{ profile.notes_transport|linebreaksbr }}<p>
{% endif %}
{% if profile.room_choice %}
  <p><b>Tipo de alojamiento</b>:<br/>
  {{ profile.room_choice }}<p>
{% endif %}
{% if profile.room_preferences %}
  <p><b>Preferencias de alojamiento</b>:<br/>
  {{ profile.room_preferences|linebreaksbr }}<p>
{% endif %}
{% if profile.children_names %}
  <p><b>Niños a tu cargo</b>:<br/>
  {{ profile.children_names|linebreaksbr }}<p>
{% endif %}
<p><b>¿Eres socio/a de la STE?</b>: {% if profile.is_ste_member %}sí{% else %}no{% endif %}</p>
{% comment %}
{% if not profile.is_ste_member %}
    <p><b>¿Te quieres hacer en esta Estelcon?</b>: {% if profile.want_ste_member %}sí{% else %}no{% endif %}</p>
{% endif %}
{% endcomment %}
<p><b>¿Quieres ser escudero?</b>: {% if profile.squire %}sí{% else %}no{% endif %}</p>
{% if profile.notes_general %}
  <p><b>¿Algún otro comentario?</b>:<br/>
  {{ profile.notes_general|linebreaksbr }}<p>
{% endif %}
{% comment %}
<p>
  <b>Reserva de camisetas</b><br/>
  {% if not profile.shirts_S and not profile.shirts_M and not profile.shirts_L and not profile.shirts_XL and not profile.shirts_XXL %}
    No has reservado ninguna camiseta. Puedes reservar si quieres pulsando el enlace 'modificar' más arriba.
  {% else %}
    Has reservado las siguientes camisetas:
    {% if profile.shirts_S %}<br> * {{ profile.shirts_S }} de talla S.{% endif %}
    {% if profile.shirts_M %}<br> * {{ profile.shirts_M }} de talla M.{% endif %}
    {% if profile.shirts_L %}<br> * {{ profile.shirts_L }} de talla L.{% endif %}
    {% if profile.shirts_XL %}<br> * {{ profile.shirts_XL }} de talla XL.{% endif %}
    {% if profile.shirts_XXL %}<br> * {{ profile.shirts_XXL }} de talla XXL.{% endif %}
  {% endif %}
{% endcomment %}
</p>

{% if owned_by or organized_by or participant_in %}
  <div align="center">-----------------------------------------------------------------------------------------------------------------------------</div><br/>
{% endif %}

{% if owned_by %}
  <p><b>Eres RESPONSABLE de las siguientes actividades</b>:
  {% for activity in owned_by %}
  <br/><a href="/merethaderthad_actividad/{{ activity.id }}">{{ activity.title }}</a>
  {% endfor %}
{% endif %}

{% if organized_by %}
  <p><b>Eres ORGANIZADOR de las siguientes actividades</b>:
  {% for activity in organized_by %}
  <br/><a href="/merethaderthad_actividad/{{ activity.id }}">{{ activity.title }}</a>
  {% endfor %}
{% endif %}

{% if participant_in %}
  <p><b>Estás inscrito en las siguientes actividades</b>:
  {% for activity in participant_in %}
  <br/><a href="/merethaderthad_actividad/{{ activity.id }}">{{ activity.title }}</a>
  {% endfor %}
{% endif %}

{% if activities_to_participate %}
  <div align="center">-----------------------------------------------------------------------------------------------------------------------------</div><br/>

  <p><b>Actividades que requieren inscripción</b>:</p>
  <p>Las siguientes actividades necesitan que te inscribas previamente antes de poder participar, puesto que
  sus organizadores deben saber cuánta gente las quiere realizar. Desde aquí puedes consultar las actividades
  y luego inscribirte, si lo deseas</p>
  <p>
    {% for activity in activities_to_participate %}
    {% if not forloop.first %}<br/>{% endif %}
    {{ activity.title }} (<a href="/merethaderthad_actividad_inscribir/{{ activity.id }}">ver e inscribir</a>)
    {% endfor %}
  </p>
{% else %}
<p><b>En la actualidad, no hay actividades que requieren inscripción.</b></p>
{% endif %}

<div align="center">-----------------------------------------------------------------------------------------------------------------------------</div><br/>

<p><b>¿Quieres participar?</b><br/>
¡No te limites a mirar! ¿Te apetece unirte a los organizadores de esta fiesta? Asegúrate de leer
la sección <a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a>, y luego haznos una
<a href="/merethaderthad_propuesta">propuesta de actividad</a>.</p>
{% comment %}
<p>También puedes usar este formulario para informarnos de artículos para su venta en la Esteltienda.</p>
{% endcomment %}

{% endblock %}
