<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XXII Mereth Aderthad: Colaboradores</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
            <a href="index.html"><img src="/static/images/logo_transparente_vacio.gif"></a>
		</div>
		<div id="menu">
			<ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr>
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Información para colaboradores</span></h1>
				<p>Puedes considerarte colaborador si piensas venir a la Mereth Aderthad cualquier número de días y vas a participar directa o indirectamente en alguna actividad (asistir a los talleres no cuenta).</p>
				<center><img src="/static/images/banner_participantes.png"></center><br/>
				<p>Algunos ejemplos de actividades que te confieren el carácter de colaborador son:</p>

				<ul>
				<li>Dar conferencias o charlas.</li>
				<li>Leer o ayudar en una lectura en la Lectura de cuentos.</li>
				<li>Coordinar o ayudar en un taller.</li>
				<li>Actuar o ayudar en una obra de teatro.</li>
				<li>Organizar actividades para otros socios.</li>
				<li>Presentar premios o actuaciones.</li>
				</ul>

<p>Es muy probable que esta lista aumente a medida que recibamos propuestas que no se nos habían ocurrido.</p>

<p>Para ser colaborador, te tienes que inscribir igual que cualquier asistente, y luego puedes proponernos actividades usando el formulario que
encontrarás en tu <a href="merethaderthad_ficha">Ficha Personal</a>. O bien que otra persona organice una actividad y te mencione como colaborador.</p>

<p>A continuación te presentamos un listado siempre actualizado de enlaces con información <b>fundamental</b>,
					 <b>recomendada</b> y completamente <b>opcional</b> para
					las personas colaboradoras. Lo único que has de hacer para asegurarte de estar siempre al 
					día es visitar de vez en cuando está misma página.</p>

					<div class="hr1"></div>
		<h2>Fundamentales</h2>
		<ol class="list2">
		<li><a href="merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
		<li><a href="merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
		<!--li><a href="tematica_ambientacion.html">Ambientación</a></li-->
		<li><a href="tematica_enlaces.html">Enlaces</a></li>
		<!--li><a href="tematica_influencia.html">Influencia en actividades</a></li-->
		<li><a href="merethaderthad_programa">Programa de actividades</a></li>

		<!--li><a href="cuestionespracticas_lugar.html">El lugar</a></li-->
		<li><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
		<li><a href="merethaderthad_ficha">Ficha Personal</a></li>

		</ol>
		<div class="hr1"></div>
		<h2>Recomendados</h2>
		<ol class="list2">
		<li><a href="merethaderthad_premios.html">Concursos y Premios</a></li>
		<li><a href="cuestionespracticas_consejos.html">Contactos y consejos útiles</a></li>
		<!--li><a href="cuestionespracticas_normas.html">Normas de la EstelCon</a></li-->
		<!--li><a href="cuestionespracticas_contacto.html">Teléfonos de contacto</a></li-->
        <!--<li><a href="tematica_descargas.html">Descargas / extras</a></li>-->
		</ol>
		<div class="hr1"></div>
		<h2>Opcionales</h2>
		<ol class="list2">
		<li><a href="sobrenosotros_merithaderthad.html">¿Qué es una Mereth Aderthad?</a></li>
		<li><a href="sobrenosotros_ste.html">¿Qué es la STE?</a></li>
		<!--<li><a href="sobrenosotros_fotografias.html">Fotografías</a></li>-->
		<li><a href="sobrenosotros_smial.html">&iquest;Qu&eacute; es el smial de L&oacute;rien?</a></li>
		</ol>
		<div class="hr1"></div>
		<p>Si tienes cualquier duda, por favor, escribe a:</p>
		<ul class="list1">
				<li><a href="mailto:estelconlorien@gmail.com">estelconlorien@gmail.com</a></li>
			</ul>
				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
                <div class="boxed-first">
                    <div class="boxed-top-first"></div>
                    <div class="boxed-content-first">
                        <img src="/static/images/subpage1_02bn.png" alt="" width="86" height="86" class="left" />
                        <h2>Asistentes</h2>
                        <p>Asegúrate de tener una plaza y la información útil sobre la EstelCon.</p>
                        <p class="more"><a href="asistentes.html">Lee más</a></p>
                    </div>
                    <div class="boxed-bottom-first"></div>
                </div>
                <div class="boxed">
                    <div class="boxed-top"></div>
                    <div class="boxed-content">
                        <img src="/static/images/subpage1_03.png" alt="" width="86" height="86" class="left" />
                        <h2>Colaboradores</h2>
                        <p>Te damos todas las facilidades para que traigas una actividad o colabores en una.</p>
                    </div>
                    <div class="boxed-bottom"></div>
                </div>
                <div class="boxed">
                    <div class="boxed-top"></div>
                    <div class="boxed-content">
                        <img src="/static/images/subpage1_04b.png" alt="" width="86" height="86" class="left" />
                        <h2>Curiosos</h2>
                        <p>¿De qué trata este evento y a quiénes va dirigido?.</p>
                        <p class="more"><a href="curiosos.html">Lee más</a></p>
                    </div>
                    <div class="boxed-bottom"></div>
                	</div>
                	<center>
                	<p><div><a target="_blank" href="http://www.sociedadtolkien.org"><img src="/static/images/tiodelapipa.png" alt="" width="230" height="100" /></a></div>
                	<p><div></div>
                	</center>
                	</div> 
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr>
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

