<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XXII Mereth Aderthad: Cuestiones Prácticas / Teléfonos de contacto</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <a href="index.html"><img src="/static/images/logo_transparente_vacio.gif"></a>
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>cuestiones prácticas</span> teléfonos de contacto</h1>

<p>La semana anterior al evento publicaremos algunos teléfonos para cuestiones urgentes. </p>

<p>Para cuestiones varias podéis contactar con miembros del equipo organizador </p>
<p>Óscar Neiras &quot;Strider&quot; (coordinador general) <br />
  Dani Fenoll &quot;Cebadilla&quot; (alojamiento)<br />
  Neus Franch &quot;Balrog&quot; (actividades) <br />
  Margarida Mimó &quot;Arien&quot; (material, aprovisionamiento)<br />
  Joan-Carles Jové &ldquo;Nirnaeth&rdquo; (comunicaci&oacute;n)<br />
  David (escuderos)</p>
<p>Mientras tanto, toda comunicación será atendida lo más rápidamente posible en el correo de la EstelCon: </p>
<p><a href="mailto:estelcon2017@gmail.com">estelconlorien@gmail.com</a> ó </p>
<p><a href="mailto:eventoslorien@gmail.com">eventoslorien@gmail.com</a></p>
<p>O mediante Facebook. Aquí tenéis el <a target="_blank" href="https://www.facebook.com/events/696934257155223/?acontext=%7B%22action_history%22%3A[%7B%22mechanism%22%3A%22home_tab_upcoming_event%22%2C%22surface%22%3A%22dashboard%22%2C%22extra_data%22%3A%22[]%22%7D%2C%7B%22mechanism%22%3A%22calendar_tab%22%2C%22surface%22%3A%22dashboard%22%2C%22extra_data%22%3A%22[]%22%7D%2C%7B%22surface%22%3A%22dashboard%22%2C%22mechanism%22%3A%22calendar_tab%22%2C%22extra_data%22%3A%22[]%22%7D]%2C%22source%22%3A2%7D">evento</a></p>
<p>Solemos también dar informaciones a través de nuestro blog <a target="_blank" href="http://smiallorien.blogspot.com.es/"></a><a target="_blank" href="http://smiallorien.blogspot.com.es/">http://smiallorien.blogspot.com.es/</a></p>
<p>
  <!-- start sidebar -->
            </p>
                </div>
            </div>
            <div id="sidebar">
                <div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <!--p><a href="index.html">Inicio</a></p-->
                        <h2>Subsecciones</h2>
                        <!--p>En este apartado, existen los siguientes enlaces fundamentales:</p-->
                         <ul class="list1">
                            <li><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
                            <li><a href="cuestionespracticas_lugar.html">Seminario de Tortosa</a></li>
                            <li><a href="cuestionespracticas_castillo.html">Castillo de Miravet</a></li>
                            <li><a href="cuestionespracticas_consejos.html">Consejos útiles</a></li>
                            <li class="aactive"><a href="cuestionespracticas_contacto.html">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="boxed-bottom"></div>
              </div>
                    <center>
                    <p><div><a target="_blank" href="http://www.sociedadtolkien.org"><img src="/static/images/tiodelapipa.png" alt="" width="230" height="100" /></a></div>
                    <p><div></div>
                    </center>
          </div>
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gajshost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3cscript src='" + gajshost + "google-analytics.com/ga.js' type='text/javascript'%3e%3c/script%3e"));
</script>
<script type="text/javascript">
var pagetracker = _gat._gettracker("ua-1016655-7");
pagetracker._initdata();
pagetracker._trackpageview();
</script>
{% endcomment %}
</body>
</html>
