<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad: Cuestiones prácticas / Cómo llegar</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="first"><a href="tematica.html" accesskey="1" title="">Temática</a></li>
				<li><a href="merethaderthad.html" accesskey="2" title="">La Mereth Aderthad</a></li>
				<li><a href="cuestionespracticas.html" accesskey="3" title="">Cuestiones prácticas</a></li>
				<li><a href="sobrenosotros.html" accesskey="4" title="">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Cuestiones prácticas</span> Cómo llegar</h1>

	<p>La XIV Mereth Aderthad va a celebrarse en la Residencia de los Padres
Paúles, que se encuentra situada en la localidad de <a
href="http://www.santamartadetormes.com/" target="_blank">Santa Marta
de Tormes</a>, en Salamanca. Más concretamente, se sitúa en la
Carretera de Madrid, 14.</p>

<p>La localización exacta se puede ver en el siguiente mapa. Pinchando
sobre el símbolo de la residencia, Google Maps te ofrece la
posibilidad de trazar la ruta en coche desde cualquier punto de la
Península.</p>

<center><iframe width="520" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.es/maps/ms?ie=UTF8&amp;hl=es&amp;om=0&amp;s=AARTsJqtGVV8nKBEfLQtcOAUpo2MrxOP4g&amp;msa=0&amp;msid=113560428782369775075.00043e59da48aa189ddca&amp;ll=40.95096,-5.646104&amp;spn=0.002836,0.00456&amp;t=h&amp;z=17&amp;output=embed"></iframe><br /><small><a href="http://maps.google.es/maps/ms?ie=UTF8&amp;hl=es&amp;om=0&amp;msa=0&amp;msid=113560428782369775075.00043e59da48aa189ddca&amp;ll=40.95096,-5.646104&amp;spn=0.002836,0.00456&amp;t=h&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small></center>

<br/>
<p>Desde la misma Salamanca, la manera de llegar hasta la residencia
en transporte público es mediante el autobús
urbano que une Salamanca con Santa Marta de Tormes, y que para en el
Centro Comercial que existe junto a la residencia, el Tormes. Con una
frecuencia de 15 minutos, los días laborables, y de 30 minutos los
días festivos, se puede coger en la Gran Vía de Salamanca, cerca de la
estación de tren.</p>

<p></p>Para llegar hasta Salamanca existen múltiples opciones, dependiendo
del medio de transporte utilizado: hay una red de autobuses regulares
tanto desde Madrid como desde Valladolid o Segovia; la red de
ferrocarril también es bastante completa, y <a
href=http://www.renfe.es
target="_blank">RENFE</a> ofrece servicios desde las principales
ciudades de España, como Madrid, Barcelona o Zaragoza. Además, en la
ciudad Salamanca existe un <a
href="http://www.aena.es/csee/Satellite?cid=1047408367985&pagename=subHome&SMO=-1&SiteName=SLM&c=Page&MO=0&Language=ES_ES"
target="_blank">aeropuerto</a> con vuelos regulares desde Barcelona,
Málaga y Mallorca.</p>	
<br/><br/>

<h2>Información adicional</h2>
<p>Si llegas a Salamanca en autobús, has de coger el autobus urbano número 4
(Filiberto Villalobos - Puente Ladrillo) que se toma en la calle Peña de Francia en
frente de la escuela oficial de idiomas, al lado de la Estación de autobuses, y bajarte en
la octava parada, en Gran Vía 25 enfrente de la oficina central de Correos. Una vez
allí hay que tomar otro autobús, el servicio especial que lleva hacia el centro comercial
'El Tormes'. Al lado del centro comercial se encuenta la residencia de los Padres Paules
donde se celebra la Eslecón.</p>

<p>
Si llegas a Salamanca en tren, has de coger el autobus urbano número 1 (Los
Cipreses - Buenos Aires) que se toma en el Paseo de la Estación 117, justo en la acera
de enfrente a la estación de trenes, y bajarte en la quinta parada, en la calle
Azafranal nº 55. Desde ahí hay que caminar unos 100 metros bajando por la Gran Vía hasta el nº 25
enfrente de la oficina central de Correos. Una vez allí hay que tomar otro autobús, el
servicio especial que lleva hacia el centro comercial 'El Tormes'. Al lado del centro
comercial se encuenta la residencia de los Padres Paules donde se celebra la Estelcón.</p>

<p>El autobús que va hacia el centro comercial 'El Tormes' tiene una frecuancia de lunes a viernes de 15 minutos hasta las 21:00 de la noche, y de 30 minutos a partir de esa hora, siendo el último servicio sobre las 23:45. Los fines de semana circula cada 30 minutos siendo el último servicio también hasta las 23:45.
</p>

<p>

<a href="http://www.gruporuiz.com/plantillas/salamanca/verlinea.php?id=4">Línea 4 de autobuses urbanos de Salamanca</a>
</p>
<p>
<a href="http://www.gruporuiz.com/plantillas/salamanca/verlinea.php?id=1">Línea 1 de autobuses urbanos de Salamanca</a>
</p>

<p>También tienes disponible un servicio de taxis. Puedes llamar a:</p>
<ul>
  <li><b>RadioTaxi Salamanca</b><br/>
      Teléfono 923 250 000<br/><br/></li>

  <li><b><a href="http://www.paginasamarillas.es/ficha_ig.asp?adw=&sec=home&fmt=dat&docn=ba9a9d9e088213efa3470d4c7aa8296a36ea17901862bbff3eedde65c71c33ae43c34d3ad6d43329&inse=IG&nd=001815547-000000001&dirgx=279589&dirgy=4537110&flrp=N&flrc=N&anun=&proc=&dircam=Santiago%20Mart%EDn%20el%20Viti,%2030&dirlop=SANTA%20MARTA%20DE%20TORMES&Provinc=SALAMANCA&mode=static&site=paol&id_busq=stat7e6c01832468f21c888e082e7f949a1b&posicion=24&cod_producto=&contrato=001815547-000000001&anuncio=&gp_orden=0">Taxis José Isidro Díaz Rodriguez</a></b><br/>
      Santiago Martín el Viti, 30, 37900 SANTA MARTA DE TORMES - SALAMANCA.  Tel: 619 267 681</li>
</ul>
			
					
					
				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
					<div class="boxed-top-second">
						<div class="boxed-bottom-second">
							<p>&nbsp;</p>
							<h2>Subsecciones</h2>
							<p>En este apartado, existen los siguientes enlaces fundamentales:</p>
							<ul class="list1">
							
							<li><a href="cuestionespracticas_lugar.html">El lugar</a></li>
							<li class="aactive" ><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
							<li><a href="cuestionespracticas_normas.html">Normas de la EstelCon</a></li>
							<li><a href="cuestionespracticas_consejos.html">Consejos útiles</a></li>
							<li><a href="cuestionespracticas_contacto.html">Teléfonos de contacto</a></li>
							<li><a href="cuestionespracticas_prevision.html">Previsión metereológica</a></li>
						</ul>

							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.jpg" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

