<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XX Mereth Aderthad: Cuestiones prácticas / Cómo llegar</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <!--h1><a href="index.html">XX Mereth Aderthad</a></h1>
            <p><a href="index.html">Sociedad Tolkien Española</a></p-->
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Cuestiones prácticas</span> Cómo llegar</h1>

<p>La XX Mereth Aderthad, a diferencia de la típica Estelcon (que suele tener lugar en un hotel o albergue, reservado en exclusiva para los asistentes, desarrollándose en privado y en un ambiente acotado) tendrá un carácter urbano y público debido a que las actividades se desarrollarán principalmente en tres localizaciones diferentes, y de acceso libre:</p>

<p><h2><a href="cuestionespracticas_castillo.html">Castillo de Santa Bárbara</a></h2>Se utilizará para para diversas actividades diurnas al aire libre y para la cena de gala (domingo 11 de octubre).</p>
<p><center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6258.133289626308!2d-0.47759932016774853!3d38.347439504538876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6237a56b88b8e7%3A0x4330f58a4a223e08!2sCastillo+de+Santa+B%C3%A1rbara!5e0!3m2!1ses!2ses!4v1433868942256" width="480" height="360" frameborder="1" style="border:2"></iframe></center></p>


<p><h2><a href="cuestionespracticas_volvo.html">Sede/Museo de la Volvo Ocean Race</a></h2>Para actividades vespertinas (a partir de las 19h) de viernes y sábado.</p>
<p><center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3129.4110572864597!2d-0.4800339999999999!3d38.339467!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd624c52592266cd%3A0x9ec23f1ec4415636!2sVolvo+Ocean+Race+S.L.U.!5e0!3m2!1ses!2ses!4v1433869346575" width="480" height="360" frameborder="1" style="border:2"></iframe></center></p>

<p><h2><a href="cuestionespracticas_hotel.html">Hotel Maya</a></h2>Sin actividades programadas (a priori), y destinado al alojamiento de grupo, desayunos y cenas de Viernes y sábado.</p>
<p><center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3128.8739680317126!2d-0.4745489999999938!3d38.35189900000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6237a420373a17%3A0xfdb4a687ddc05a12!2sHotel+Maya!5e0!3m2!1ses!2ses!4v1433869289797" width="480" height="360" frameborder="1" style="border:2"></iframe></center></p>
 
El ascensor del castillo y el museo están a aproximadamente 10 y 20 minutos a pie desde el hotel, respectivamente. Plantearemos también la posibilidad de organizar transportes colectivos a horas determinadas entre estos puntos, para mayor comodidad de los asistentes.

<!--ul>
    <li>Si vienes en <b>tu propio vehículo</b>, el hotel dispone de numerosas <b>plazas de garaje gratuitas</b> además de un parking exterior.</li>
</ul>
<ul>
    <li>Si acudes desde el <b>Aeropuerto de Zaragoza</b>:
        <ul>
            <li>Disponen de un servicio de <b>transfer completamente gratuito</b>, previa petición.</li>
            <li>Ir en <b>taxi</b> es otra manera fácil y rápida de llegar, ya que la distancia que separa ambos puntos es de tan sólo de 4 km.</li>
            <li>Existe también un servicio de <b>autobús</b> entre la estación de autobuses (sale de Paseo María Agustín, 7 y pasa luego por la Estación Intermodal y el aeropuerto) que pasa por PLAZA y tiene una parada muy cerca del hotel. El autobús pasa con una frecuencia de 30 minutos de lunes a sábado. Los domingos pasa cada hora.</li>
            <li>En el aeropuerto existen las siguientes empresas con todo tipo de <b>vehículos de alquiler</b> a disposición del viajero: <a href="http://www.atesa.es/webcorporativa/home.aspx" target="_blank">Atesa</a>, <a href="http://www.avis.es/default.aspx" target="_blank">Avis</a>, <a href="http://www.europcar.es/" target="_blank">Europcar</a> y <a href="https://www.hertz.es/rentacar/reservation/" target="_blank">Hertz</a>.</li>
        </ul>
    </li>
</ul>
<ul>
    <li>Si acudes desde la <b>estación de tren AVE</b> lo más sencillo para llegar es coger un taxi. En menos de 10 minutos estarás en tu destino.</li>
</ul-->

<br/>
                </div>
            </div>
            <!-- end content -->
            <!-- start sidebar -->
            <div id="sidebar">
                <div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <p>&nbsp;</p>
                        <h2><p><a href="index.html">Inicio</a></p>Subsecciones</h2>
                        <!--p>En este apartado, existen los siguientes enlaces fundamentales:</p-->
                        <ul class="list1">
                            <li class="aactive"><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
                            <li><a href="cuestionespracticas_castillo.html">Castillo de Santa Bárbara</a></li>
                            <li><a href="cuestionespracticas_volvo.html">Sala de congresos Volvo Ocean Race</a></li>
                            <li><a href="cuestionespracticas_hotel.html">El hotel Maya</a></li>
                            <li><a href="cuestionespracticas_consejos.html">Consejos útiles</a></li>
                            <li><a href="cuestionespracticas_contacto.html">Contacto</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="boxed-bottom-second"></div>
                </div>
                <div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
            </div>
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

