<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad: Cuestiones prácticas / Normas del recinto</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="first"><a href="tematica.html" accesskey="1" title="">Temática</a></li>
				<li><a href="merethaderthad.html" accesskey="2" title="">La Mereth Aderthad</a></li>
				<li><a href="cuestionespracticas.html" accesskey="3" title="">Cuestiones prácticas</a></li>
				<li><a href="sobrenosotros.html" accesskey="4" title="">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Cuestiones prácticas</span> Consejos útiles</h1>
<p><b>Habitaciones</b>: No es necesario llevar sábanas ni ropa de cama ni toallas a la Estelcón, las habitaciones lo tienen. Lo que no hay son jabones, champú, gel de baño y cosas similares. El último día la ropa de cama y las toallas usadas se depositarán en cestos a la salida de las habitaciones. Se ruega encarecidamente el mayor de los cuidados con todas las instalaciones del monasterio y con los elementos decorativos y religiosos existentes. Puesto que es un edificio religioso hay crucifijos y otras imágenes en la mayor parte de las habitaciones. Quien quiera puede descolgarlos y guardarlos en los cajones siempre que al abandonar las habitaciones el último día vuelva a colocarlos en su sitio.</p>

<p><b>Dinero</b>: Quien necesite un cajero automático para sacar dinero dispone de un centro comercial al lado del monasterio donde se pueden encontrar cajeros de las entidades Caja Duero, Caja Rural y Banco Santander.</p>

<p><b>Coches y aparcamiento</b>: En el monasterio hay plazas de aparcamiento suficientes para automóviles y motocicletas.</p>

<p><b>Cena de gala</b>: Al ser la cena de gala en un restaurante habrá un cubierto por persona inscrita, sin posibilidad alguna de añadidos de última hora. Si alguien quiere acudir únicamente a la cena de gala que se inscriba en los plazos previstos y que lo comunique a la organización.</p>

<p><b>Acceso y salida al monasterio</b>: Las entradas y salidas al monasterio estarán controladas y restringidas durante las horas que se indican en la sección Normas de la Estelcón. Durante el día se podrá acceder a las cafeterías y al centro comercial cercano al monasterio aunque se solicita que estas salidas del recinto se reduzcan al mínimo.</p>

				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
					<div class="boxed-top-second">
						<div class="boxed-bottom-second">
							<p>&nbsp;</p>
							<h2>Subsecciones</h2>
							<p>En este apartado, existen los siguientes enlaces fundamentales:</p>
							<ul class="list1">
							
							<li><a href="cuestionespracticas_lugar.html">El lugar</a></li>
							<li><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
							<li><a href="cuestionespracticas_normas.html">Normas de la EstelCon</a></li>
							<li class="aactive"><a href="cuestionespracticas_consejos.html">Consejos útiles</a></li>
							<li><a href="cuestionespracticas_contacto.html">Teléfonos de contacto</a></li>
							<li><a href="cuestionespracticas_prevision.html">Previsión metereológica</a></li>
						</ul>
																		
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.jpg" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

