<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XX Mereth Aderthad: Cuestiones Prácticas / Teléfonos de contacto</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <h1><a href="index.html">XX Mereth Aderthad</a></h1>
            <p><a href="index.html">Sociedad Tolkien Española</a></p>
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Cuestiones prácticas</span> Castillo de Santa Bárbara</h1>
                    <p> El Castillo de Santa Bárbara es el monumento más importante de Alicante, y el espacio más atractivo, por ambientación y por la presencia en él de la exposición “La Fortaleza del Anillo”. Está abierto al público y en él se realizarán las actividades diurnas de la Estelcon.</p>
                    <p>Las instalaciones disponen de zonas al aire libre, aseos, cafetería, un sinfín de lugares evocadores y magníficos y unas vistas absolutamente impresionantes de toda la ciudad y la costa.
                        <center><img src="/static/images/mapacastillo.jpg" alt="" width="480" height="640"></center>
                    <br><p> En el patio de armas tendrán lugar distintas actividades tales como la Cena de Gala, talleres de baile, conciertos, cuentacuentos, representaciones teatrales...</p>
                        <center><img src="/static/images/patiodearmas.jpg" alt="" width="480" height="320"></center>
                    <br><p> La Asamblea General y las Conferencias tendrán lugar en el salón Felipe II</p>
                        <center><img src="/static/images/asambleageneral.jpg" alt="" width="480" height="320"></center>
                    <br><p> El Agujero Hobbit se instalará en uno de sus departamentos dedicado al esparcimiento infantil</p>
                        <center><img src="/static/images/agujero_hobbit.jpg" alt="" width="480" height="560"></center>
                    <!--br><p> Aunque en ocasiones se escuchan extraños gorgoteos procedentes de las mazmorras...</p>
                        <center><img src="/static/images/mazmorra.jpg" alt="" width="480" height="640"></center-->
                </div>
            </div>
            <!-- end content -->
            <!-- start sidebar -->
            <div id="sidebar">
                <div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <p>&nbsp;</p>
                        <h2>Subsecciones</h2>
                        <!--p>En este apartado, existen los siguientes enlaces fundamentales:</p-->
                         <ul class="list1">
                            <li><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
                            <li class="aactive"><a href="cuestionespracticas_castillo.html">Castillo de Santa Bárbara</a></li>
                            <li><a href="cuestionespracticas_volvo.html">Sala de congresos Volvo Ocean Race</a></li>
                            <li><a href="cuestionespracticas_hotel.html">El hotel Maya</a></li>
                            <li><a href="cuestionespracticas_consejos.html">Consejos útiles</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="boxed-bottom-second"></div>
                </div>
                <div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
            </div>
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gajshost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3cscript src='" + gajshost + "google-analytics.com/ga.js' type='text/javascript'%3e%3c/script%3e"));
</script>
<script type="text/javascript">
var pagetracker = _gat._gettracker("ua-1016655-7");
pagetracker._initdata();
pagetracker._trackpageview();
</script>
{% endcomment %}
</body>
</html>

