<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>xiv mereth aderthad: cuestiones prácticas / teléfonos de contacto</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">xiv mereth aderthad</a></h1>
			<p><a href="index.html">sociedad tolkien española</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="first"><a href="tematica.html" accesskey="1" title="">temática</a></li>
				<li><a href="merethaderthad.html" accesskey="2" title="">la mereth aderthad</a></li>
				<li><a href="cuestionespracticas.html" accesskey="3" title="">cuestiones prácticas</a></li>
				<li><a href="sobrenosotros.html" accesskey="4" title="">sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>cuestiones prácticas</span> teléfonos de contacto</h1>

<p>Para solventar cualquier duda o incidencia que se presente, tanto antes como durante el desarrollo de la estelcon, ponemos a vuestra disposición los teléfonos de algunos de los organizadores:</p>
<img src="/static/images/tlf.png"/>
					
				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
					<div class="boxed-top-second">
						<div class="boxed-bottom-second">
							<p>&nbsp;</p>
							<h2>subsecciones</h2>
							<p>en este apartado, existen los siguientes enlaces fundamentales:</p>
							<ul class="list1">
							
							<li><a href="cuestionespracticas_lugar.html">el lugar</a></li>
							<li><a href="cuestionespracticas_comollegar.html">cómo llegar</a></li>
							<li><a href="cuestionespracticas_normas.html">normas de la estelcon</a></li>
							<li><a href="cuestionespracticas_consejos.html">consejos útiles</a></li>
							<li class="aactive"><a href="cuestionespracticas_contacto.html">teléfonos de contacto</a></li>
							<li><a href="cuestionespracticas_prevision.html">previsión metereológica</a></li>
						</ul>
																		
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.jpg" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>smial de hammo - sociedad tolkien española. contenido bajo creative commons by-nc-sa 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gajshost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3cscript src='" + gajshost + "google-analytics.com/ga.js' type='text/javascript'%3e%3c/script%3e"));
</script>
<script type="text/javascript">
var pagetracker = _gat._gettracker("ua-1016655-7");
pagetracker._initdata();
pagetracker._trackpageview();
</script>
{% endcomment %}
</body>
</html>

