<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad: Cuestiones prácticas / Normas del recinto</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="first"><a href="tematica.html" accesskey="1" title="">Temática</a></li>
				<li><a href="merethaderthad.html" accesskey="2" title="">La Mereth Aderthad</a></li>
				<li><a href="cuestionespracticas.html" accesskey="3" title="">Cuestiones prácticas</a></li>
				<li><a href="sobrenosotros.html" accesskey="4" title="">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Cuestiones prácticas</span> Normas de la EstelCon</h1>

<p>La Residencia de los Padres Paúles es un complejo pensado para
reuniones de grupos de adultos, y tiene unas normas muy claras con
objeto de mantener el recinto en óptimas condiciones de utilización:</p>

<ol>

<li>No está permitido fumar en ningún lugar dentro de la residencia,
especialmente en las habitaciones o en las aulas. Se podrá fumar
únicamente en los lugares habilitados en el exterior. Estos puntos de
fumadores se localizarán con ceniceros que las hermanas facilitarán.</li>
<li>No está permitido consumir bebidas alcohólicas en la residencia, ni
en el interior ni en el exterior. A 100 metros del alojamiento existe
un bar y un hotel-restaurante.</li>
<li>Los menores de 14 años deberán estar siempre acompañados de sus
padres o tutores, que se responsabilizarán personalmente tanto del
bienestar del menor, como del uso que el menor haga de las
instalaciones.</li>
<li>A partir de las 23.00, y hasta las 8.00, las puertas de la
residencia permanecerán cerradas. Un responsable de la organización
tendrá las llaves y será el encargado de abrir la puerta cuando sea
estrictamente necesario.</li>
<li>A partir de las 0.00 y hasta las 7.00 se considerará "hora de
silencio", para garantizar las horas de sueño tanto de los asistentes
que deseen disfrutarla como de la congregación religiosa que vive y
regente la residencia. Para las <i>noches intemporales</i> se
habilitará una zona específica alejada de los dormitorios.</li>
<li>No está permitido el acceso a las cocinas ni el uso de hornillos
ni fuegos portátiles en ningun lugar del monasterio.</li>
</ul>

					
					
				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
					<div class="boxed-top-second">
						<div class="boxed-bottom-second">
							<p>&nbsp;</p>
							<h2>Subsecciones</h2>
							<p>En este apartado, existen los siguientes enlaces fundamentales:</p>
							<ul class="list1">
							
							<li><a href="cuestionespracticas_lugar.html">El lugar</a></li>
							<li><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
							<li  class="aactive" ><a href="cuestionespracticas_normas.html">Normas de la EstelCon</a></li>
							<li><a href="cuestionespracticas_consejos.html">Consejos útiles</a></li>
							<li><a href="cuestionespracticas_contacto.html">Teléfonos de contacto</a></li>
							<li><a href="cuestionespracticas_prevision.html">Previsión metereológica</a></li>
						</ul>
																		
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.jpg" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

