<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XX Mereth Aderthad: Cuestiones prácticas / Normas del recinto</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
            <a href="index.html"><img src="/static/images/logo_transparente_vacio.gif"></a>
		</div>
		<div id="menu">
			<ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Cuestiones prácticas</span> Normas de la EstelCon</h1>

<p>El hotel tiene una serie de normas básicas para grupos, muy sencillas de cumplir y que harán la estancia lo más agradable posible.
</p>

<ol>

<li>A la llegada al hotel y al entregar las habitaciones, los responsables del grupo deberán revisar las habitaciones y comunicar cualquier anomalía que encuentren. Los asistentes, deberán pues informar a la organización si detectan dichas anomalías.
</li>
</br>
<li>Respetar el descanso de los demás evitando ruidos innecesarios y haciendo uso adecuado de radios, TV, o equipos de música.
</li>
</br>
<li>Evitar reuniones y voces en los pasillos y otras zonas de uso común, que puedan molestar a otros clientes.
</li>
</br>
<li>Todas las zonas comunes (entrada del hotel, salones, servicios, ascensores...) deberán dejarse en el mismo estado en el que nos gustaría encontrarlas, evitando usos indebidos. La capacidad máxima de los ascensores es de 6 personas. Hay escaleras de acceso a todas las plantas.
</li>
</br>
<li>Las habitaciones son de uso personal y no deben servir de lugar de reunión, celebraciones, fiestas...</li>
</br>
<li>Todos los desperfectos ocasionados por mal uso, deberán ser comunicados de inmediato y serán responsabilidad de las personas que los produzcan o en su caso del club al que pertenezcan.
</li>
</br>
<li>No se permite mover muebles de sitio. No se permite arrojar objetos al exterior ni al interior del Atrio.</li>
</br>
<li>Los desechos y basuras, deberán ser depositados en las papeleras correspondientes.</li>
</br>
<li>No está permitido consumir bebidas alcohólicas a los menores de 18 años.</li>
</br>
<li>Queda prohibida la entrada al establecimiento a toda persona ajena o no autorizada.</li>
</br>
<li>No se permite sacar del restaurante ni comida ni bebida para su consumo fuera del restaurante y fuera del horario de desayunos, almuerzos y cenas.</li>
</br>
<li>No se permite sacar del hotel material propiedad del mismo (toallas, sábanas...)</li>
</br>
<li> Las habitaciones deberán dejarse cada mañana con un mínimo de orden y limpieza para que nuestro personal de pisos pueda desempeñar su trabajo sin problemas. En las habitaciones que no se cumpla este requisito, no se realizará la limpieza diaria, dando parte a los responsables de grupo.</li>
</br>
<li>El alojarse en este establecimiento, indica que se está totalmente de acuerdo con el cumplimiento de estas normas. Su incumplimiento conllevará la expulsión del grupo al completo.</li>
</br>
<li>A la salida del grupo, el personal del hotel (Gobernanta) revisará dentro de las 48 horas posteriores, el estado de las habitaciones y pasará un comunicado a la organización de cualquier desperfecto que se encuentre en las habitaciones y no se hubiera comunicado en el momento de la llegada. La organización corroborará dichos daños para su posterior reclamación.</li>
</br>
<li> La Dirección de este establecimiento se reserva la potestad de actuaciones dentro de la ley ante cualquier tipo de comportamiento anómalo no incluido en estas normas.</li>
</ul>
				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <!--p><a href="index.html">Inicio</a></p-->
                        <h2>Subsecciones</h2>
                        <!--p>En este apartado, existen los siguientes enlaces fundamentales:</p-->
                         <ul class="list1">
                            <li><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
                            <li><a href="cuestionespracticas_castillo.html">Castillo de Santa Bárbara</a></li>
                            <li><a href="cuestionespracticas_volvo.html">Volvo Ocean Race</a></li>
                            <li><a href="cuestionespracticas_hotel.html">El hotel Maya</a></li>
                            <li><a href="cuestionespracticas_consejos.html">Consejos útiles</a></li>
                            <li><a href="cuestionespracticas_contacto.html">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="boxed-bottom"></div>
                	</div>
                	<center>
                	<p><div><a href="http://www.sociedadtolkien.org"><img src="/static/images/tiodelapipa.png" alt="" width="230" height="100" /></a></div>
                	<p><div><a href="http://www.esatur.com/esatur-servicios.html"><img src="/static/images/logo_esatur.png" alt="" width="115" height="50" /></a></div>
                	</center>
                	</div> 
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

