<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XX Mereth Aderthad: Cuestiones Prácticas / Teléfonos de contacto</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <!--h1><a href="index.html">XX Mereth Aderthad</a></h1>
            <p><a href="index.html">Sociedad Tolkien Española</a></p-->
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
           <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Cuestiones prácticas</span> El hotel</h1>

<p>El <a href="http://www.hotelalicantemaya.com/" target="blank">Hotel Maya</a>, en Alicante, es el lugar en el que los asistentes podrán descansar, desayunar, comer y cenar durante los días en los que transcurra la Mereth Aderthad 2015. </p>

<center><img src="/static/images/hotel-maya-alicante-005.jpg" alt="" width="480" height="360"></center>

<br><h2>Dirección</h2>
<p>Calle Canónigo Manuel Penalva, 2, Alicante (España)</p>

<h2>Coordenadas GPS</h2>
<p>Latitud: 38.352190 Longitud: -0.474775</p>
<p>Latitud: 38° 21′ 7.88” N Longitud: 0° 28′ 29.19” W</p>

</br>
<center><img src="/static/images/hotel-maya-alicante-004.jpg" alt="" width="480" height="360"></center>
</br>
<p>
<h2>Transporte</h2>
<p> Avión: Estamos a sólo 13 km del aeropuerto El Altet de Alicante (a unos 15 minutos en coche o taxi, dependiendo del tráfico). La línea de autobús C6 con destino al aeropuerto tiene parada a 50 metros del Hotel Maya en C/ Lopez Oseba (junto a C/ Perpetuo Socorro).</p>
<center><img src="/static/images/aeropuerto.jpg" alt="" width="480" height="360"></center>

<br><p>Autobús: La estación de autobuses de Alicante se encuentra a unos 2,7 km. Podrás tomar un taxi en la propia estación. El autobús C6, que va al aeropuerto, tiene una parada al lado del hotel. Por ser el autobús que va al aeropuerto el billete individual cuesta 3,85€.</p>
<center><img src="/static/images/estacion_autobuses.jpg" alt="" width="480" height="360"></center>

<br><p>Tren: Si vienes a Alicante en tren, la estación se halla a unos 2 km. Allí podrás tomar un taxi, autobús o tranvía o alquilar un coche.</p>
<center><img src="/static/images/estacion_tren.jpg" alt="" width="480" height="360"></center>

<br><h2>Habitaciones</h2>

<p>Las habitaciones del Hotel Maya Alicante son estancias cómodas y espaciosas, totalmente equipadas para garantizar el descanso y el bienestar de sus clientes. La mayoría de ellas ofrece vistas al mar, al Castillo de Santa Bárbara o a la piscina del hotel.</p>

<p> En todas las habitaciones del hotel podrás disfrutar de: Conexión a internet Wi-Fi gratuita, televisión vía satélite, aire acondicionado y calefacción, baño completo, teléfono directo, caja fuerte de seguridad gratuita, minibar</p>

<center><img src="/static/images/doble_supletoria_sofa_cama.jpg" alt="" width="480" height="360"></center>

<br/>
                </div>
            </div>
            <!-- end content -->
            <!-- start sidebar -->
            <div id="sidebar">
                <div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <p>&nbsp;</p>
                        <h2><p><a href="index.html">Inicio</a></p>Subsecciones</h2>
                        <!--p>En este apartado, existen los siguientes enlaces fundamentales:</p-->
                         <ul class="list1">
                            <li><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
                            <li><a href="cuestionespracticas_castillo.html">Castillo de Santa Bárbara</a></li>
                            <li><a href="cuestionespracticas_volvo.html">Sala de congresos Volvo Ocean Race</a></li>
                            <li class="aactive"><a href="cuestionespracticas_hotel.html">El hotel Maya</a></li>
                            <li><a href="cuestionespracticas_consejos.html">Consejos útiles</a></li>
                            <li><a href="cuestionespracticas_contacto.html">Contacto</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="boxed-bottom-second"></div>
                </div>
                <div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
            </div>
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gajshost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3cscript src='" + gajshost + "google-analytics.com/ga.js' type='text/javascript'%3e%3c/script%3e"));
</script>
<script type="text/javascript">
var pagetracker = _gat._gettracker("ua-1016655-7");
pagetracker._initdata();
pagetracker._trackpageview();
</script>
{% endcomment %}
</body>
</html>

