<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad: Cuestiones prácticas / El lugar</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="first"><a href="tematica.html" accesskey="1" title="">Temática</a></li>
				<li><a href="merethaderthad.html" accesskey="2" title="">La Mereth Aderthad</a></li>
				<li><a href="cuestionespracticas.html" accesskey="3" title="">Cuestiones prácticas</a></li>
				<li><a href="sobrenosotros.html" accesskey="4" title="">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Cuestiones prácticas</span> El lugar</h1>

<p>La organización ha encontrado un
magnífico      sitio    donde     poder
desarrollar    un    evento    de    las
características de la EstelCon. Se trata
de la Residencia de los Padres Paúles,
en Santa Marta de Tormes, en la
periferia de Salamanca.</p>


<p><b>Habitaciones</b>. Hay 217 plazas repartidas en tres plantas. Las habitaciones son de 1
  y 2 personas, todas con baño propio y calefacción, así como armario y escritorio.
  Unas son más nuevas que otras, pero todas son espectaculares. La diferencia es que
  las reformadas más recientemente tiene suelo de tarima flotante y ducha en los
  baños y las otras tiene bañera y suelos de baldosa. Además, nos garantizan la
  exclusividad.
   <center><img src="/static/images/dormitorio.jpg"></center><br/>
  </p>
<p><b>Aulas</b>. Hay muchas más de las que podamos necesitar y están todas a nuestra
  disposición. Están todas provistas de mesas y sillas; algunas tienen pizarra y
  pupitres. Las capacidades de las aulas van desde 20-30 plazas hasta 50-60 plazas.</p>
<p><b>Salón de actos</b>. Hay dos salones.
  Uno más pequeño, para unas 80-100
  personas, preparado específicamente
  para conferencias (mesa cabecera
  con equipo de sonido, pizarras,
  pantalla y mesa para el cañón). El
  salón de actos grande es un teatro
  con una capacidad de unas 400
  personas. Tienen cañón proyector y
  pantalla. Sistemas de sonido y luces
  semi-profesionales.
   <center><img src="/static/images/salon_actos.jpg"></center><br/>
  </p>
<p><b>Comedores</b>. Hay 3 comedores, de
  20, 80 y 300 plazas; en principio,
  nosotros utilizaremos en todos los
  casos este último. Para servir la comida se usa un sistema mixto, entre el "sírvase
  usted mismo" y la comida a mesa puesta, muy útil para que todos podamos ir
  comiendo a la vez y sin turnos de espera. Los menús son normales, de comida casera
 Existe vertiente más juvenil (pastas,
  arroces y fritos) o más adulta
  (consomé, verduras y filetes). Los
  horarios son: desayuno a las 9, comida
 a las 14 y cena a las 21. Son horarios
  inapelables, debido a los turnos de los
  trabajadores. Para quienes quieran
  algo fuera de estos horarios, hay
  algunas máquinas de café y refrescos,
 y al lado del monasterio hay un bar, un
  hotel y un centro comercial.
  <center><img src="/static/images/comedor.jpg"></center><br/>
  </p>

			
					
					
				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
					<div class="boxed-top-second">
						<div class="boxed-bottom-second">
							<p>&nbsp;</p>
							<h2>Subsecciones</h2>
							<p>En este apartado, existen los siguientes enlaces fundamentales:</p>
							<ul class="list1">
							
							<li class="aactive" ><a href="cuestionespracticas_lugar.html">El lugar</a></li>
							<li><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
							<li><a href="cuestionespracticas_normas.html">Normas de la EstelCon</a></li>
							<li><a href="cuestionespracticas_consejos.html">Consejos útiles</a></li>
							<li><a href="cuestionespracticas_contacto.html">Teléfonos de contacto</a></li>
							<li><a href="cuestionespracticas_prevision.html">Previsión metereológica</a></li>
						</ul>
																		
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.jpg" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

