<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XXII Mereth Aderthad: Cuestiones prácticas / Cómo llegar</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <a href="index.html"><img src="/static/images/logo_transparente_vacio.gif"></a>
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Cuestiones prácticas</span> Cómo llegar</h1>

                    <p>La XXII Mereth Aderthad tendrá dos sedes: Las Casas de Curación (Seminario Tortosa) y La Ciudadela de Minas Tirith (Castillo de Miravet) : </p>

                    <p><a href="/cuestionespracticas_lugar.html">Seminario de Tortosa</a></p>
                    <p>Sede central de toda la Estelcon salvo por la Cena de Gala del sábado 14 de octubre. </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.948841197184!2d0.5235233154078448!3d40.80711797932162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a0e3587410776f%3A0x9cc7f7b1797b0391!2sEdifici+Seminari!5e0!3m2!1ses!2ses!4v1498028616886" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><p>&nbsp;</p>
                    <p><a href="/cuestionespracticas_castillo.html">Castillo de Miravet</a></p>
                    <p>Se utilizará como sede de la Cena de Gala la tarde-noche del sábado 14. </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.526778619702!2d0.5918483154148767!3d41.03560797929803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a0df530edf4027%3A0x2dd5343a1d0b036b!2sCastell+de+Miravet!5e0!3m2!1ses!2ses!4v1498028894124" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <p>&nbsp;</p>
                    <h1>¡Precios especiales RENFE! </h1>
                    <p>—Creo que no voy a ir porque el viaje cuesta una pasta. </p>
                    <p>—¡Excusas de mal pagador!—dijo la Organización </p>
                    <p>Los que os desplaceis en &ldquo;caballo de hierro&rdquo; que sepáis que hemos obtenido de RENFE el descuento especial por participar en evento cultural. </p>
                    <p>En una entrada del <a href="http://smiallorien.blogspot.com.es/2017/06/descuento-30-renfe-para-viajes-de-ida-y.html">blog de Lórien</a> tenéis todos los detalles </p>
                    <p></p>
              </div>
            </div>
            <!-- end content -->
            <!-- start sidebar -->
            <div id="sidebar">
                <div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <!--p><a href="index.html">Inicio</a></p-->
                        <h2>Subsecciones</h2>
                        <!--p>En este apartado, existen los siguientes enlaces fundamentales:</p-->
                        <ul class="list1">
                            <li class="aactive"><a href="cuestionespracticas_comollegar.html">Cómo llegar</a></li>
                            <li><a href="cuestionespracticas_lugar.html">Seminario de Tortosa</a></li>
                            <li><a href="cuestionespracticas_castillo.html">Castillo de Miravet</a></li>
                            <li><a href="cuestionespracticas_consejos.html">Consejos útiles</a></li>
                            <li><a href="cuestionespracticas_contacto.html">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="boxed-bottom"></div>
              </div>
                    <center>
                    <p><div><a target="_blank" href="http://www.sociedadtolkien.org"><img src="/static/images/tiodelapipa.png" alt="" width="230" height="100" /></a></div>
                    <p><div></div>
                    </center>
          </div> 
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

