<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad: Sociedad Tolkien Española</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <!--<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
                <p><a href="index.html">Sociedad Tolkien Española</a></p>-->
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada, cómo todo esto influye en las actividades y una sección de descarga de material de interés.">Temática</a></li>
                <li><a href="merethaderthad.html" accesskey="2" title="En esta sección se describe que es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el Programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interñes.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Tenna rato!</span> Concluyó la XIV Mereth Aderthad</h1>
                    <p>Bienvenido a la página electrónica de la XIV convención anual de la <a href="sobrenosotros_ste.html">Sociedad Tolkien Española</a>,
                    conocida como <a href="sobrenosotros_merithaderthad.html">Mereth Aderthad</a> o, simplemente, EstelCon. Este año la organizó el Smial (delegación
                     local) de <a href="sobrenosotros_hammo.html">Hammo</a> (Ciudad de Madrid) <a href="cuestionespracticas_lugar.html">en Salamanca</a> y estuvo, como siempre, abierta
                     tanto a socios de la STE como al público general.<br/>
<!--
<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-6666653540000"
codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=4,0,2,0"
width="480" height="100">
<PARAM name="movie" value="final_c.swf">
<PARAM name="quality" value="high">
<PARAM name="menu" value="true">
<EMBED SRC="/extra/final_c.swf" quality="high" menu="true"
pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
type="application/x-shockwave-flash" width="480" height="100">
</EMBED>
</OBJECT><br/><br/>
-->
<p><b>Si ya te inscribiste</b>, puedes ir directamente a <a href="{% url 'user-profile' %}">tu ficha personal</a> y actualizar tus preferencias o apuntarte a actividades.</p>
<p> <b>Durante los días 16, 17, 18 y 19 de octubre</b> todos pudimos disfrutar del magnífico <a href="merethaderthad_programa">programa de actividades</a>. Pasada la EstelCon, esta web queda como repositorio histórico del contenido y cualquier material relacionado que pueda resultar de interés tras su conclusión, fundamentalmente enlaces a álbumes fotográficos y vídeos. Recordamos que es obligación de todos <b>respetar el derecho a la intimidad de los asistentes</b> y no publicar material de forma abierta sin el consentimiento previo de los involucrados.</p>
<p><b>[ENGLISH SPEAKERS]</b> The XIV Mereth Aderthad is now gone. Please check our <a href="english.html">English edition</a> if you still want to read some general information.</p>


                </div>
                <div class="hr1"></div>
                <div class="two-columns">
                    <div class="column1">
                        <h2><span>Cómo encontrar lo que buscas...</span></h2>
                        <p>Te recomendamos que te identifiques con uno de los tres perfiles que aparecen a la
                        izquierda de este texto. Al hacerlo, la web generará automáticamente un listado actualizado
                        de los contenidos más relevantes para ti.</p>
                        <p>También puedes explorar todas las secciones y subsecciones empleando el menú superior.</p>
                        <p>Para cualquier duda o consulta sobre la convención, por favor escribe a:</p>
                        <ul class="list1">
                            <li><a href="mailto:info@estelcon2008.org">info@estelcon2008.org</a></li>
                        </ul><br/>

                    </div>
                    <div class="column2">
                        <h2><span>&Uacute;ltima hora</span></h2

                                                ><img src="/static/images/homepage06.jpg" alt="" width="68" height="68" class="left" />
                        <h3>Concluye la XIV Mereth Aderthad</h3>
                        <p>¡Terminó la convención anual de la Sociedad Tolkien Española! Desde la organización, os damos las más sinceras gracias a todos los asistentes y participantes. Estad atentos a esta web unos días más ya que recopilaremos álbumes de fotos y vídeos.</p>

                        <img src="/static/images/md08.png" alt="" width="68" height="68" class="left" />
                        <h3>¡Último Mensajero Draconarii!</h3>
                        <p>A un mes exacto de la inauguración de la XIV Mereth Aderthad, publicamos el último ejemplar de los ocho mensajeros. Con información muy útil sobre el evento.</p>
                        <p class="more"><a href="tematica_descargas.html">Lee más</a></p

                        ><img src="/static/images/cartapapanoel_p.jpg" alt="" width="68" height="68" class="left" />
                        <h3>¡Recibimos una carta de Father Christmas!</h3>
                        <p>Con gran sorpresa hemos de anunciar un hecho sin precedentes... una carta de Papá Noel en pleno verano.</p>
                        <p class="more"><a href="tematica_descargas.html">Léela completa</a></p>














                    </div>
                </div>
            </div>
            <!-- end content -->
            <!-- start sidebar -->
            <div id="sidebar">
                <div class="boxed-first">
                    <div class="boxed-top-first"></div>
                    <div class="boxed-content-first">
                        <img src="/static/images/subpage1_02.jpg" alt="" width="86" height="86" class="left" />
                        <h2>Asistentes</h2>
                        <p>Asegúrate de tener una plaza y toda la información útil sobre la EstelCon.</p>
                        <p class="more"><a href="asistentes.html">Lee más</a></p>
                    </div>
                    <div class="boxed-bottom-first"></div>
                </div>
                <div class="boxed">
                    <div class="boxed-top"></div>
                    <div class="boxed-content">
                        <img src="/static/images/subpage1_03.jpg" alt="" width="86" height="86" class="left" />
                        <h2>Participantes</h2>
                        <p>Te damos todas las facilidades para que traigas una actividad o colabores en una de las nuestras.</p>
                        <p class="more"><a href="participantes.html">Lee más</a></p>
                    </div>
                    <div class="boxed-bottom"></div>
                </div>
                <div class="boxed">
                    <div class="boxed-top"></div>
                    <div class="boxed-content">
                        <img src="/static/images/subpage1_04.jpg" alt="" width="86" height="86" class="left" />
                        <h2>Curiosos</h2>
                        <p>¿De qué trata este evento y a quiénes va dirigido?.</p>
                        <p class="more"><a href="curiosos.html">Lee más</a></p>
                    </div>
                    <div class="boxed-bottom"></div>
                </div>
                <div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
            </div>
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>
