<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XXI Mereth Aderthad: Sociedad Tolkien Española</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <h1><a href="/index.html">XXI Mereth Aderthad</a></h1>
            <p><a href="/index.html">Sociedad Tolkien Española</a></p>
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Tenna rato!</span> XXI Mereth Aderthad</h1>
                    <p>Bienvenido a la página electrónica de la XXI convención anual de la <a href="sobrenosotros_ste.html">Sociedad Tolkien Española</a>,
                    conocida como <a href="sobrenosotros_merithaderthad.html">Mereth Aderthad</a> o, simplemente, EstelCon.</p>
                    <p>Este año la organiza el Smial (delegación local) de <a href="sobrenosotros_smial.html">Khazad-Dûm</a>
                    (Zaragoza) <a href="cuestionespracticas_lugar.html">en Zaragoza</a> los días <b>8, 9, 10 y 11 de diciembre de 2016</b>, y está, como
                    siempre, abierta tanto a socios de la STE como al público general.<br/>
                    <p><b>Si ya te inscribiste</b>, puedes ir directamente a <a href="{% url 'user-profile' %}">tu ficha personal</a> y actualizar tus preferencias o apuntarte a actividades.</p>
                    <p class="english-edition"><a href="english.html"><img src="/static/images/eng.jpg" alt="" width="40" height="21"></a> <a href="english.html">English edition</a></p>
                </div>
                <div class="hr1"></div>
                <div class="two-columns">
                    <div class="column1">
                        <h2><span>Cómo encontrar lo que buscas...</span></h2>
                        <p>Si ya sabes lo que quieres, puedes ir directamente a</p>
                        <ul>
                            <li><a href="/merethaderthad_programa">El programa de actividades</a></li>
                            <li><a href="/merethaderthad_inscripcion">El formulario de inscripción</a></li>
                            <li><a href="/merethaderthad_propuesta">Proponer una actividad</a> (requiere inscripción)</li>
                        </ul>
                        <p>Si no, te recomendamos que sigas uno de los tres perfiles que aparecen a la
                        izquierda de este texto. Al hacerlo, verás un listado de los contenidos más relevantes para ti.</p>
                        <p>O también puedes explorar todas las secciones y subsecciones empleando el menú superior.</p>
                        <p>Para cualquier duda o consulta sobre la convención, por favor escribe a:</p>
                        <ul class="list1">
                            <li><a href="mailto:estelcon2016@gmail.com">estelcon2016@gmail.com</a></li>
                        </ul><br/>
                    </div>
                    <div class="column2">
                        <h2><span>&Uacute;ltima hora</span></h2><img src="/static/images/Logoweb.png" alt="" width="68" height="68" class="left" />

                        <h3>Sección de actividades en contrucción</h3>
                        <p>Estamos preparando el horario de actividades de la EstelCon. No te olvides de visitar la web con asiduidad para estar al día de todo. Y si tienes alguna actividad que proponer, no olvides inscribirte como colaborador y presentarnos tus ideas.</p>
                        <p class="more"><a href="/merethaderthad_inscripcion">Inscríbete</a></p>


                        <h3>Abierto el plazo de inscripción</h3>
                        <p>¡Ya puedes inscribirte en la Mereth Aderthad! Presentamos esta página web donde podrás ver toda la información de la Estelcon y gestionar tu inscripción y actividades.</p>
						<p class="more"><a href="/merethaderthad_inscripcion">Inscríbete</a></p>
                        <p>Tambien puedes encontrarnos en las redes sociales.</p>
						<p> <img src="/static/images/Fac.png" alt="" width="20" height="20"><a href="https://www.facebook.com/events/1171654709521885" target="_blank">Facebook</a></p>
						<p><img src="/static/images/TW.png" alt="" width="20" height="20"><a href="https://twitter.com/estelcon2016?lang=es" target="_blank">Twitter</a></p>
                    </div>
                </div>
            </div>
            <!-- end content -->
            <!-- start sidebar -->
            <div id="sidebar">
                <div class="boxed-first">
                    <div class="boxed-top-first"></div>
                    <div class="boxed-content-first">
                        <img src="/static/images/subpage1_02.png" alt="" width="86" height="86" class="left" />
                        <h2>Asistentes</h2>
                        <p>Asegúrate de tener una plaza y la información útil sobre la EstelCon.</p>
                        <p class="more"><a href="asistentes.html">Lee más</a></p>
                    </div>
                    <div class="boxed-bottom-first"></div>
                </div>
                <div class="boxed">
                    <div class="boxed-top"></div>
                    <div class="boxed-content">
                        <img src="/static/images/subpage1_03.png" alt="" width="86" height="86" class="left" />
                        <h2>Colaboradores</h2>
                        <p>Facilidades para Traer tu actividad o colaborar en una.</p>
                        <p class="more"><a href="colaboradores.html">Lee más</a></p>
                    </div>
                    <div class="boxed-bottom"></div>
                </div>
                <div class="boxed">
                    <div class="boxed-top"></div>
                    <div class="boxed-content">
                        <img src="/static/images/subpage1_04.png" alt="" width="86" height="86" class="left" />
                        <h2>Curiosos</h2>
                        <p>¿De qué trata este evento y a quiénes va dirigido?.</p>
                        <p class="more"><a href="curiosos.html">Lee más</a></p>
                    </div>
                    <div class="boxed-bottom"></div>
                </div>
                <div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
            </div>
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <p>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>
