<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad: La Mereth Aderthad / Modelo de Mereth Aderthad</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="first"><a href="tematica.html" accesskey="1" title="">Temática</a></li>
				<li><a href="merethaderthad.html" accesskey="2" title="">La Mereth Aderthad</a></li>
				<li><a href="cuestionespracticas.html" accesskey="3" title="">Cuestiones prácticas</a></li>
				<li><a href="sobrenosotros.html" accesskey="4" title="">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>La Mereth Aderthad</span> Modelo de Mereth Aderthad</h1>
					
					
					<p>Desde Hammo queremos
impulsar un modelo de EstelCon distinto, en el que todos tengamos una parcela de
colaboración, ya sea grande o pequeña, pero esencial para el desarrollo del evento.
Queremos que todos los socios hagamos esta Fiesta de la Reunión, que todos nos sintamos
involucrados, que todos disfrutemos por igual, sintiéndonos parte de esta Convención Anual
que muchos miramos con expectación, con alegría y, esperamos, con confianza.
Obviamente, debe haber un núcleo que gestione el marco, y ponga los medios necesarios
para que todos aportemos lo que podamos, lo que sepamos o lo que queramos. Y ahí es
donde aparece el smial de Hammo, para intentar llevar a buen puerto una organización
eficaz, eficiente y de calidad, donde tenga cabida todo lo que los socios queráis traer para
conseguir que esta celebración posea la merecida entidad que todos buscamos. Desde
Hammo os invitamos a que participéis activamente con nosotros en la creación de esta
EstelCon; en otras ocasiones, los socios de la Sociedad Tolkien Española habéis demostrado
con creces que sois capaces de hacer grandes actividades, inolvidables actuaciones e
interesantísimas conferencias, y esperamos que volváis a demostrárnoslo en este Hammo
2008 que os presentamos, y que nosotros preferiríamos que fuera, simplemente, la XIV
Mereth Aderthad de la Sociedad Tolkien Española.</p>
					
					
					
					<p> Desde la organización realizaremos, principalmente,
tareas de gestión, coordinación y fomento. La idea es promover una EstelCon participativa,
en la que nos impliquemos todos los socios. De este modo, los miembros del Smial de
Hammo dedicaríamos nuestros esfuerzos a que haya actividades interesantes y que se
desarrollen con fluidez, en un marco que garantice una calidad óptima tanto en el
alojamiento como en las instalaciones a utilizar en los diferentes actos. Para ello hemos
considerado que el proyecto de esta EstelCon debe basarse en tres puntos básicos que
pasamos a detallar a continuación.</p>

<h2>Gestión</h2>

<p>Esta parte consiste en:</p>

<ul>
<li>localizar un alojamiento cómodo y accesible</li>
<li>garantizar la calidad de la estancia y las comidas, zonas de asueto para los
ratos en que uno prefiere estar sentado tranquilamente charlando</li>
<li>garantizar infraestructuras y logística apropiadas para todas las actividades:
teatro, cañón proyector, aulas para actividades, megafonía, zona de
exposiciones.</li>
<li>facilitar el acceso a la inscripción con las debidas herramientas
o informar periódicamente de los progresos y responder a las dudas de los
socios y otros interesados en asistir</li>
<li>solicitar subvenciones que aligeren el coste de la EstelCon para los asistentes</li>
</ul>
<h2>Coordinación</h2>
<p>Esta parte se refiere a:</p>
<ul>
<li>las inscripciones, con herramientas web (principal medio de comunicación)
preparadas para solucionar la inscripción y las dudas que surjan antes de la
Reunión.</li>
<li>las actividades: poner a disposición zonas preparadas y medios adecuados
para la ejecución de las actividades.
o el desarrollo de un programa que permita el mejor aprovechamiento de los
asistentes</li>
<li>la preparación de tareas específicas de coordinación de personal tales como:</li>
<ul>
<li>recibir a los asistentes y guiarlos en su primer contacto para evitar que
se queden "colgados" nada más llegar</li>
<li>tener gente exclusivamente para resolver cualquier problema o petición
de las que surgen a última hora</li>
<li>llevar el horario de las actividades, comidas, descansos, etc... Que
todos los asistentes sepan lo que hay previsto a continuación, dónde y
cuándo.</li></ul>
</ul>
<p>En definitiva, una organización preparada para que el asistente disfrute el máximo sin
preocuparse de la organización.</p>

<h2>Fomento</h2>
<p>Esta parte se deriva de nuestra idea de promover la participación de todos
los socios, y ser capaces de realizar una EstelCon centrada en la optimización de la
organización, sin perder de vista los contenidos finales, pero desde un punto de vista
basado en la participación correctamente organizada. Por tanto, vamos a realizar
mucha actividad publicitaria antes de la EstelCon, animando y tirando de la gente
para que traigan aportaciones a la convención anual, grandes o pequeñas.</p>
				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
					<div class="boxed-top-second">
						<div class="boxed-bottom-second">
							<p>&nbsp;</p>
							<h2>Subsecciones</h2>
							<p>En este apartado, existen los siguientes enlaces fundamentales:</p>
							<ul class="list1">
							
							<li class="aactive" ><a href="merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
							<li><a href="merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
<li><a href="merethaderthad_premios.html">Concursos y Premios</a></li>
							<li><a href="merethaderthad_programa">Programa de actividades</a></li>
							<li><a
href="merethaderthad_inscripcion">Formulario de inscripció</a>n</li>
							<li><a href="merethaderthad_ficha">Ficha personal</a></li>

						</ul>
																		
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.jpg" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

