<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XX Mereth Aderthad: La Mereth Aderthad</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
            <a href="index.html"><img src="/static/images/logo_transparente_vacio.gif"></a>
		</div>
		<div id="menu">
			<ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>La Mereth Aderthad</span></h1>

					<p>La Mereth Aderthad o EstelCon en la convención anual de la <a href="http://www.sociedadtolkien.org">Sociedad Tolkien Española</a>, así que ya tenemos una pista; es algo relacionado con Tolkien y su mundo, 
					la Tierra Media, y es algo relacionado con los fans de este escritor.</p>
<center><img src="/static/images/socios_fotos2.png"></center><br/>
<p>La Mereth Aderthad es la gran reunión de los miembros de la Sociedad Tolkien (más los que se quieran unir)
 para pasar unos días inmersos en un mundo de fantasía, humor, camaradería y cultura en múltiples formas... 
 haciendo lo que a todos nos gusta, leer a Tolkien, leer relatos basados en su obra, escuchar conferencias 
 sobre ella, hacer obras de teatro que representen pasajes de ésta, escuchar canciones que narran amores o 
 hazañas, composisiciones en <em>quenya</em> con voces sublimes, participar en talleres de lo mas variopinto 
 (desde costura hasta fumado en pipa), o cursos de baile hobbit y de música, 
 incluso visionado de los vídeos realizados por los diferentes socios. Y, sobre todo, escuchar a 
 auténticos eruditos demostrar que Tolkien es algo mas que uno de tantos escritores fantásticos, 
 es uno de los grandes escritores de la historia, injustamente olvidado por algunos académicos que 
 son incapaces de ver la profundidad y la profunda reflexión sobre el ser humano que impregnó en 
 sus obras. Si en algo hay consenso en una Mereth Aderthad es la necesidad de reivindicar para Tolkien
  su puesto en la historia.</p>

<p>Y todo ello mientras tratas de conocer a 200 personas y tener un ratillo para cada una, bien sea en 
una pausa entre los múltiples actos o en alguna de las noches intemporales donde los mas resistentes 
charlan y ríen hasta el amanecer de siguiente día...</p>
<p><em>Texto <a href="http://akin.blogalia.com/historias/2554" target="_blank">originalmente escrito</a> por Akin y publicado con su permiso</em></p>
				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <p>&nbsp;</p>
                        <!--p><a href="index.html">Inicio</a-->
                        <h2></p>Subsecciones</h2>
                        <ul class="list1">
                            <li><a href="merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
                            <li><a href="merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
                            <li><a href="merethaderthad_premios.html">Concursos y Premios</a></li>
                            <li><a href="merethaderthad_programa">Programa de actividades</a></li>
                            <li><a href="merethaderthad_inscripcion.html">Formulario de inscripción</a></li>
                            <li><a href="merethaderthad_ficha.html">Ficha personal</a></li>
                        </ul>
                    </div>
                    <div class="boxed-bottom"></div>
                	</div>
                	<center>
                	<p><div><a href="http://www.sociedadtolkien.org"><img src="/static/images/tiodelapipa.png" alt="" width="230" height="100" /></a></div>
                	<p><div><a href="http://www.esatur.com/esatur-servicios.html"><img src="/static/images/logo_esatur.png" alt="" width="115" height="50" /></a></div>
                	</center>
                	</div> 
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>
