<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XXII Mereth Aderthad: La Mereth Aderthad / Premios</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
            <a href="index.html"><img src="/static/images/logo_transparente_vacio.gif"></a>
		</div>
		<div id="menu">
			<ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>La Mereth Aderthad</span> Concursos y Premios</h1>
					<p>La STE organiza anualmente varios certámenes  literarios, artísticos y académicos. La entrega de premios tendrá lugar durante la ceremonia de clausura de la convención, el día 15 de octubre por la mañana.</p>

<ul>
  
  <li><b>Premio de ensayo Ælfwine 2017</b>: Certamen que premia estudios y trabajos sobre vida u obra de J.R.R. Tolkien. ¡<a href="http://bit.do/bases-aelfwine" target="_blank">Participa hasta el 17 de septiembre!</a></li>
    <br/>
    
    <li><b>Premio de relato Gandalf 2017</b>: El certamen más longevo con esta su XXII convocatoria. Relatos ambientados en las obras de J.R.R. Tolkien. <a href="http://bit.do/bases-gandalf" target="_blank">¡Participa hasta el 30 de agosto!</a></li><br/>

    <li><b>Premio de artesanía Niggle 2017</b>: Certamen centrado en las artes plásticas inspiradas en cualquiera de las obras de J.R.R. Tolkien. <a href="http://bit.do/bases-niggle">¡Participa hasta el 10 de septiembre!</a></li><br/>

    <li><b>Premio de microrrelato Bilbo 2017</b>: El certamen más breve, microrrelatos en 140 caracteres. <a href="http://bit.do/bases-bilbo">Leer las bases</a></li></ul>
<p>&nbsp;</p>
<p align="center"><img src="../../../../static/images/Cartel_Aelfwine_2017_LR.jpg" alt="" width="281" height="400" /> &nbsp;&nbsp;  <img src="../../../../static/images/cartel-premios-gandalf-relato-Tolkien-2017_LR.jpg" width="267" height="400" /> </p>
<p align="center"><img src="../../../../static/images/Cartel_Niggle_2017_low_res.jpg" width="266" height="400" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../../../static/images/Cartel_premios_Bilbo_2016.jpg" width="266" height="400" /></p>
<p align="center">La participación en todos los certámenes se encuentra abierta a todo el mundo. ¡A qué estáis esperando!</p>
<p>&nbsp;</p>


				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <!--p><a href="index.html">Inicio</a></p-->
                        <h2>Subsecciones</h2>
                        <ul class="list1">
                            <li><a href="merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
                            <li><a href="merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
                            <li class="aactive" ><a href="merethaderthad_premios.html">Concursos y Premios</a></li>
                            <li><a href="merethaderthad_programa">Programa de actividades</a></li>
                            <li><a href="merethaderthad_inscripcion">Formulario de inscripción</a></li>
                            <li><a href="merethaderthad_ficha">Ficha personal</a></li>
                        </ul>
                    </div>
                    <div class="boxed-bottom"></div>
                	</div>
                	<center>
                	<p><div><a href="http://www.sociedadtolkien.org"><img src="/static/images/tiodelapipa.png" alt="" width="230" height="100" /></a></div>
                	
                	</center>
                	</div> 
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

