<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XXII Mereth Aderthad: La Mereth Aderthad: Invitados</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
            <a href="index.html"><img src="/static/images/logo_transparente_vacio.gif"></a>
		</div>
		<div id="menu">
			<ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>La Mereth Aderthad</span> Nuestros invitados</h1>

		<p>Este año en la Estelcon contaremos con la presencia de algunos invitados. Aquí os ofrecemos algunos detalles sobre ellos</p>
		
<img src="/static/images/John_Garth_by_Janet_Miles.jpg" width="165" height="248" class="left"/>
		<h2>Jonh Garth</h2>
		<p><a href="https://johngarth.wordpress.com/">John Garth</a> es un autor, investigador y periodista británico que en los últimos tiempos ha centrado su trabajo en la vida y obra de Tolkien a través de diversos artículos y ensayos. Como periodista ha trabajado para diversos rotativos como The Times o The Guardian, entre otros. También ha desempeñado la labor profesional de Becado en Estudios Humanísticos en el Black Mountain Institute de Nevada y ha impartido cursos sobre Tolkien en el Departamento de Educación Contínua de Oxford, en la UNLV y en el instituto Mythgard de la Universidad de Signum (éste último on-line). </p>
<p>Con su libro <a href="http://www.johngarth.co.uk/php/tolkien_and_the_great_war.php"> Tolkien y la Gran Guerra </a>, un relato pormenorizado de la vivencia y participación de J.R.R. Tolkien en la Primera Guerra Mundial, ganó &nbsp;el <a href="http://www.mythsoc.org/awards/">Mythopoeic Prize for Scholarship </a> en 2004. Al a&ntilde;o siguiente qued&oacute; finalista en ese mismo certamen con otro de sus trabajos sobre el Profesor, esta vez centr&aacute;ndose en su vida como estudiante universitario: &quot;Tolkien at Exeter College&quot;, que fue publicado por la Universidad de Oxford en 2014 y a&uacute;n no ha sido traducido al castellano. Este a&ntilde;o 2017, Garth ha sido galardonado en los <a href="https://www.tolkiensociety.org/2017/04/winners-of-the-tolkien-society-awards-2017-announced/">premios</a> anuales convocados por la Tolkien Society inglesa por su &quot;excepcional contribuci&oacute;n&quot; al estudio y investigaci&oacute;n de la vida y obra de Tolkien. </p>
<p>Podéis leer otros de sus artículos sobre Tolkien <a href="http://sociedadtolkien.org/noticias/view/tolkien-y-el-nino-que-no-creia-en-las-hadas/">aquí </a> y <a href="http://finduriel.blogspot.com.es/2016/04/los-cinco-inmortales-de-tolkien-se.html">aquí </a> ambos traducidos amablemente por nuestra compañera <a href="http://finduriel.blogspot.com.es/">Findúriel.</a></p>
        <img src="/static/images/Chris%20Bouchard.jpg" width="165" height="241" class="left"/>
		<h2>Chris  Bouchard</h2>
		<p><a href="http://chrisbouchard.moonfruit.com/">Chris Bouchard</a> es un director de cine británico afincado en Londres. Desde pequeño mostró interés por la literatura, la música (formó parte del coro de la Catedral de Glouceter) y el cine (participó en varios episodios de la serie de la BBC &ldquo;The Choir&rdquo; en 1995). Mientras estudiaba música y tecnología multimedia en York, empezó a dirigir sus propios cortos, en los que realizaba diversas tareas, incluyendo la composición de la banda sonora. Una vez graduado, trabajó en Dolby Laboratories y más tarde en el estudio de efectos especiales Framestore. </p>
<p>En esta época realizó el fan film <a href="http://www.thehuntforgollum.com/">&ldquo;The Hunt for Gollum </a>&rdquo;, que se convirtió en un éxito en YouTube con millones de visitas y recibió diversos premios en varios festivales: &ldquo;Mejor corto de acción&rdquo; en el Festival de cine de Balticon y &ldquo;Premio del público&rdquo; en el Festival de cine Independiente Tri-City.&nbsp;&nbsp; </p>
        <p>Su trabajo en la industria de los efectos especiales le ha llevado a trabajar tanto en anuncions comerciales para grandes marcas como en la realización de importantes cintas como The Dark Knight, Gravity, Fantastic Beasts, SkyFall. En su trabajo como director cuenta con diversos cortos y varias películas como &ldquo;Hackney&rsquo;s Finest&rdquo;, una cinta policiaca galardonada en el London's East End Film Festival y la adaptación con personajes reales de &ldquo;La sirenita&rdquo; </p>
        <img src="/static/images/Adrian%20Webster_.jpg" width="165" height="244" class="left"/>
		<h2>Adrian Webster</h2>
		<p><a href="http://www.imdb.com/name/nm2423411/bio?ref_=nm_ov_bio_sm">Adrian Webster </a> es un actor nacido en Sheffield, Inglaterra. Cursó estudios de arte dramático en Joy Reynolds School of Performing Arts y caracterización en Trinity Guildhall.</p>
				<p>Debutó en el teatro con un papel en la obra &quot;Our Town&quot; de Thornton Wilder y ha aparecido en diversas series y cortos independientes, algunos de los cuales también ha escrito y producido. Esta actividad lo llevó a participar en el fan-film &quot;The Hunt for Gollum&quot;, asumiendo el papel de Aragorn. </p>
                <p>
                  <!-- start sidebar -->
		  
		
			      </p>
				</div>
			</div>
			<div id="sidebar">
				<div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <!--p><a href="index.html">Inicio</a></p-->
                        <h2>Subsecciones</h2>
                        <ul class="list1">
                            <li><a href="merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
                            <li class="aactive" ><a href="merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
                            <li><a href="merethaderthad_premios.html">Concursos y Premios</a></li>
                            <li><a href="merethaderthad_programa">Programa de actividades</a></li>
                            <li><a href="merethaderthad_invitados.html">Nuestros invitados</a></li>
                            <li><a href="merethaderthad_inscripcion">Formulario de inscripción</a></li>
                            <li><a href="merethaderthad_ficha">Ficha personal</a></li>
                        </ul>
                    </div>
                    <div class="boxed-bottom"></div>
           	  </div>
                	<center>
                	<p><div><a target="_blank" href="http://www.sociedadtolkien.org"><img src="/static/images/tiodelapipa.png" alt="" width="230" height="100" /></a></div>
                	<p><div></div>
                	</center>
       	  </div> 
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

