<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XXI Mereth Aderthad: La Mereth Aderthad / Modelo de Mereth Aderthad</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XXI Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>La Mereth Aderthad</span> Concursos y Premios</h1>
					<p>En la Sociedad Tolkien Española se celebran desde hace muchos años diferentes concursos. Habitualmente son organizados por las Comisiones pero existen otros promovidos por Smiales. Salvo ciertas ceremonias pasadas, el fallo de los jurados se produce pocas semanas antes de la celebración de la Mereth Aderthad y la entrega de premios tiene lugar durante la conclusión de ésta, siendo un colofón estupendo en la despedida.
</p>
<p>En este apartado mostraremos una lista con los premios que se entregarán en nuestra Mereth Aderthad. </p>

<ul>

<li><b>Premios literarios Gandalf 2016</b>: se trata de la XX convocatoria de los premios más importantes de la Sociedad Tolkien Española, promovidos por la Comisión de Literatura, ComLit. <a href="http://sociedadtolkien.org/certamenes/bases/bases-certamen-relato-gandalf/" target="_blank">Leer las bases</a></li>
<li><b>Premios de ensayo Ælfwine 2016</b>: en donde se premia al mejor estudio sobre la vida u obra de JRR Tolkien. Organizados por la Comisión de Hermenéutica. <a href="http://sociedadtolkien.org/certamenes/bases/bases-certamen-ensayo-aelfwine/" target="_blank">Leer las bases</a></li>
</ul>
<p>Puesto que todos los premios se encuentran abiertos tanto a socios de la STE como al público en general, os animamos a que participéis sin pudor y con la máxima ilusión.</p>


				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <p>&nbsp;</p>
                        <h2>Subsecciones</h2>
                        <p>En este apartado, existen los siguientes enlaces fundamentales:</p>
                        <ul class="list1">
                            <li><a href="merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
                            <li><a href="merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
                            <li class="aactive" ><a href="merethaderthad_premios.html">Concursos y Premios</a></li>
                            <li><a href="merethaderthad_programa">Programa de actividades</a></li>
                            <li><a href="merethaderthad_inscripcion">Formulario de inscripción</a></li>
                            <li><a href="merethaderthad_ficha">Ficha personal</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="boxed-bottom-second"></div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

