<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIX Mereth Aderthad Khazad-dûm y Tol Eressëa: Sobre nosotros / Qué es la STE</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <h1><a href="index.html">XIX Mereth Aderthad</a></h1>
            <p><a href="index.html">Sociedad Tolkien Española</a></p>
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Sobre nosotros</span> Qué es la STE</h1>

                    <p>La Sociedad Tolkien Española, al igual que otras sociedades Tolkien de otros países, 
                    fue creada por un grupo de aficionados a la obra del escritor hace ya algunos años; 
                    concretamente en el año 1991 algunos ilicitanos formaron la STE como una asociación
                     cultural sin ánimo de lucro. Actualmente está inscrita en el Registro de Asociaciones 
                     del Ministerio del Interior con el número 112532 y ámbito nacional.</p>

<p>La mitología, las lenguas, las artes, que son descritos en la obra de J.R.R. Tolkien suscitan la 
admiración de un grupo muy diverso de aficionados a la literatura de este escritor.</p>

<p>Burocráticamente, la STE se organiza en torno a las delegaciones locales, repartidas por toda la 
geografía española: desde Granada hasta Galicia, pasando por prácticamente todo el territorio español. 
Además, una vez al año se celebra la Asamblea General de socios, órgano de administración de la STE. 
Además, existe un órgano de representación de la STE, la Comisión Permanente, formada por el Presidente, 
Vicepresidente, Tesorero, Secretario y Vocales de la sociedad. La CP cambia cada tres años en elecciones 
votadas en la Asamblea General.</p>

<h2>Ser socio de la STE</h2>

<p>Hacerse socio de la STE implica el pago de una cuota de 30€ anuales, que dan derecho a recibir 
la revista oficial de la STE, la Estel, y el Boletín Informativo de la misma llamado BiSTE y a
 ser informado y participar en los eventos que la STE realice o en los que colabore. Así mismo 
 tendrás acceso al material del que dispone la biblioteca de la STE.</p>

<p>Cuando se entra a la STE, se suele elegir un pseudónimo que te guste, tanto de la obra de Tolkien 
como de invención propia. Si quieres alguno con un significado especial, te recomendamos que consultes 
con una de las comisiones, la de Lenguas, que seguro que te ayudarán gustosos con la traducción. 
Además, el personaje que elijas tendrá que tener una raza dentro de todas las posibilidades que 
nos ha legado Tolkein: elfo, enano, humano, orco, balrog, maia, vala, etc. Si además, le creas una 
historia, tanto mejor. </p>

<p>Evidentemente, si eliges un personaje de la obra de Tolkien, ya tendrá su propia historia. En la STE 
se recomienda que no se repitan los pseudónimos; para ello puedes echar un ojo a la lista de pseudónimos 
en la web de la STE. Ten en cuenta que no pasa de ser una recomendación, aunque si vas a elegir un pseudónimo
 que ya haya escogido alguien antes, lo mejor sería que le añadieras un segundo nombre a tu personaje, 
 ya sea el smial al que perteneces (Haleth de Hammo) u otro nombre que te haya gustado (Elanor Finduriel).</p>

<p>Sin embargo, hay tres pseudónimos que están vedados en el seno de la STE: Beren, Luthien y Gandalf; 
aunque por razones muy distintas. Beren y Luthien son los pseudónimos que eligió Tolkien para denominarse
 a él mismo y a su esposa, Edith, y así aparecen en sus lápidas del cementerio de Oxford (Inglaterra). 
 Como muestra de respeto hacia Tolkien y hacia Edith, se ha impuesto esta norma en todas las sociedades 
 Tolkien del mundo.</p>

<p>La razón del nombre <em>Gandalf</em> es bien distinta: el premio literario de mayor importancia dentro de la 
STE son los Premios Gandalf, y como tal, este nombre está reservado a este certamen. </p>

                </div>
            </div>
            <!-- end content -->
            <!-- start sidebar -->
            <div id="sidebar">
                <div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <p>&nbsp;</p>
                        <h2>Subsecciones</h2>
                        <p>En este apartado, existen los siguientes enlaces fundamentales:</p>
                        <ul class="list1">
                            <li class="aactive" ><a href="sobrenosotros_ste.html">Qué es la STE</a></li>
                            <li><a href="sobrenosotros_hammo.html">Qué son Khazad-dûm y Tol Eressëa</a></li>
                            <li><a href="sobrenosotros_merithaderthad.html">Que son las Merith</a></li>
                            <li><a href="sobrenosotros_fotografias.html">Fotografías</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="boxed-bottom-second"></div>
                </div>
                <div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
            </div>
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

