<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mereth Aderthad: Sobre nosotros / Fotografías</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <h1><a href="index.html">XXI Mereth Aderthad</a></h1>
            <p><a href="index.html">Sociedad Tolkien Española</a></p>
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Sobre nosotros</span> Fotografías</h1>

                    <p>La estética y lo visual suelen sugerirnos qué hay en el fondo de las cosas.
                    En ocasiones ese vínculo se emplea de forma perversa pero en la Sociedad Tolkien Española es
                    una muestra fiel de nuestra naturaleza variada, a lomos de la cultura
                    y el simple divertimento ocioso.</p>

                    <p>Puesto que la Mereth Aderthad 2008 aún no ha tenido lugar, las mejores fotos que se
                    nos ocurren provienen de la convención anterior, organizada por el Smial de Númenor
                    (Comunidad de Madrid) con el apoyo del Smial de Cuernavilla (Cuenca). Tuvo
                    lugar en el Monasterio de Uclés en septiembre del año pasado y congregó a más de 170
                    personas durante cuatro intensos días.</p>

                    <p><center><a href="http://flickr.com/photos/angelaypablo/sets/72157601940350182/" title="Fotos de EstelCon 2007"><img src="/static/images/fotos_otros_eventos.jpg"/></a></center></p><br/>

                    <p>Para aquéllos que quieran entretenerse un rato más con colecciones de fotografías, hemos realizado una selección que irá creciendo gracias a contribuciones de los socios que asistan a merith previas a la EstelCon:</p>
                    <ol class="list2">
<li><a href="/static/images/carta_SSTT.jpg">Fotografía de las invitaciones a otras Sociedades Tolkien del mundo.</a></li>
<li><a href="/extra/CartaUnquendor.pdf">Respuesta a la invitación de Unquendor, Sociedad Tolkien Holandesa.</a></li>
</ol>
<ol class="list2">
                    <li><a href="http://www.flickr.com/gp/23301048@N00/5kpG68">Retratos de socios de la Sociedad Tolkien Española</a></li>
<li><a href="http://www.sociedadtolkien.org/tanwe/index.php?seccion=museo">Museo de los Mathoms (regalos dentro de la STE)</a></li>
                    <li><a href="http://flickr.com/photos/pedro_aule/sets/72157603346968385/">Última Mereth del Smial de Pelargir</a></li>
<li>Última Mereth del Smial de Minas Tirith: Fotos de <a href="http://fotospompa2.spaces.live.com/">Paula Erendis</a> y de <a href="http://picasaweb.google.es/dmgishere/AONuevoGondoriano2008">Narya-Mithrandir</a></li>

<li>Mereth E-Daur: Fotos de <a href="http://oromar.net/fotos/edaur2008">Andrés Hirunatan</a> y fototrónica de <a href="http://finduriel.blogspot.com/2008/04/fotocrnica-de-la-iii-mereth-e-daur.html"> Mónica Findûriel</a></li>

                    </ol><br/>
                    <p>Por favor, <a href="mailto:info@estelcon2008.org">envíanos un enlace</a> a fotos que tengan sentido para un público amplio (no lleno de «chistes privados» de la STE) y es muy probable que lo coloquemos aquí.</p>

                    </div>
            </div>
            <!-- end content -->
            <!-- start sidebar -->
            <div id="sidebar">
                <div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <p>&nbsp;</p>
                        <h2>Subsecciones</h2>
                        <p>En este apartado, existen los siguientes enlaces fundamentales:</p>
                        <ul class="list1">
                            <li><a href="sobrenosotros_ste.html">Qué es la STE</a></li>
                            <li><a href="sobrenosotros_smial.html">Qué es Khazad-dûm</a></li>
                            <li><a href="sobrenosotros_merithaderthad.html">Qué son las Merith</a></li>
                            <li class="aactive" ><a href="sobrenosotros_fotografias.html">Fotografías</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="boxed-bottom-second"></div>
                </div>
                <div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
            </div>
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr>
    <div id="footer">
        <p>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

