<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad Hammo: Sobre nosotros / Las Merith Aderthad</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
						<ul>
				<li class="first"><a href="tematica.html" accesskey="1" title="">Temática</a></li>
				<li><a href="merethaderthad.html" accesskey="2" title="">La Mereth Aderthad</a></li>
				<li><a href="cuestionespracticas.html" accesskey="3" title="">Cuestiones prácticas</a></li>
				<li><a href="sobrenosotros.html" accesskey="4" title="">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Sobre nosotros</span> Qué son las Merith</h1>
					
					
					<p>Literalmente, en uno de los idiomas élficos inventados por 
					J.R.R. Tolkien –el sindarin-, mereth significa reunión; el plural es merith,
					 y se utiliza para designar una actividad muy común dentro de los smiales:
					  juntarse durante un día o un fin de semana para disfrutar de diversas actividades
					   en torno a la obra de Tolkien.</p>
					   <center><img src="/static/images/merith.jpg"></center><br/>

<p>Normalmente una mereth es organizada por un smial en concreto y dura un fin de semana. 
Durante estos días se hacen mesas redondas, se dan conferencias, se realizan juegos, y 
prácticamente cualquier cosa que se le ocurra al smial organizador. Lo que normalmente 
nunca falta en estas merith es una lectura de cuentos, y una cena de gala. Esta última 
recibe su nombre de la costumbre dentro de la STE de engalanarse con vestidos ambientados 
en la obra de Tolkien para esta cena en concreto. Evidentemente no es obligatorio, y mucha
 gente no utiliza ningún disfraz.</p>

<p>Cada smial que realiza una mereth acostumbra a darle un nombre que conserva ya a lo largo de los años. 
En Hammo celebramos la Mereth DraCon, de la cual te hablaremos más adelante. Otros smiales, otras merith:
 el smial de Edhellond, la Mereth Ithiledhellond; el smial de Númenor, la Mereth Erukyerme; 
 el smial de Khazad-Dûm, la Mereth Bizar Barazinbaru; y un largo etcétera.</p>

<p>Sin embargo, hay una mereth especial a lo largo del año, la que reúne a muchos socios de la STE, 
y en la que se encuadra normalmente la Asamblea General. Esta recibe siempre el mismo nombre, la 
Mereth Aderthad o Fiesta de la Reunión, y cada año se encarga un smial de organizarla.</p>

<p>Normalmente llamada EstelCon (por Convención de la Estel) es una reunión anual que suele durar 
cuatro días, aunque se han dado casos en los que ha durado toda una semana, con un número de 
asistentes mayor que el de una mereth normal (de unos 150 ó 200 frente a 40), y en la que participa
 toda la STE, ya que aunque sea organizada por un único smial -y el trabajo grande lo hacen ellos-, 
 las actividades son desarrolladas por socios de la STE de cualquier sitio, por las comisiones de 
 trabajo, o por otros smiales.</p>
 
   <center><img src="/static/images/merith2.jpg"></center><br/>

<p>Al igual que las merith particulares de cada smial, la EstelCon suele tener un tema que la guía y 
al que están orientadas algunas actividades especiales que prepara el smial. Por ejemplo, la
 X Mereth Aderthad, organizada por el smial de Mithlond, estuvo dedicada, como no podía ser de 
 otra manera, a los 10 años de EstelCones en el seno de la STE.</p>

<p>Una cosa que no hay que olvidar en toda mereth es la existencia de un pequeño regalo denominado 
mathom. En El Señor de los Anillos: De los Hobbits, J.R.R. Tolkien define un mathom de la siguiente manera:<br/>
	«<em>...los Hobbits llamaban mathom a todo aquello
	 que no tenía uso inmediato y que tampoco 
	se decidían a desechar...</em>»</p>
	
	
<p>Es costumbre en todas las merith que el smial organizador regale un mathom a los asistentes; 
cuanto más original sea, mejor. Por el contrario, los asistentes a una mereth suelen llevar de 
regalo un mathom para el smial organizador, como forma de agradecer el esfuerzo realizado.</p>
					
					
					</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
					<div class="boxed-top-second">
						<div class="boxed-bottom-second">
							<p>&nbsp;</p>
							<h2>Subsecciones</h2>
							<p>En este apartado, existen los siguientes enlaces fundamentales:</p>
							<ul class="list1">
							
							<li><a href="sobrenosotros_ste.html">Qué es la STE</a></li>
							<li><a href="sobrenosotros_hammo.html">Qué es Hammo</a></li>
							<li class="aactive" ><a href="sobrenosotros_merithaderthad.html">Qué son las Merith</a></li>
							<li><a href="sobrenosotros_fotografias.html">Fotografías</a></li>
						</ul>
																		
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.jpg" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>
