<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XXI Mereth Aderthad Khazad-dûm y Tol Eressëa: Sobre nosotros / Qué son Khazad-dûm y Tol Eressëa</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <h1><a href="index.html">XXI Mereth Aderthad</a></h1>
            <p><a href="index.html">Sociedad Tolkien Española</a></p>
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Sobre nosotros</span> Qué es Khazad-dûm</h1>

                    <p>La Sociedad Tolkien Española cuenta con <a href="http://sociedadtolkien.org/donde-encontrarnos/" target="_blank">delegaciones locales</a> en numerosos puntos de España. Cada una de estas delegaciones, denominada <a href="http://www.sociedadtolkien.org/donde-encontrarnos/delegaciones/" target="_blank">smial</a>, y formadas por al menos 5 socios, realiza actividades internas y de difusión en su ámbito geográfico.</p>

<p> Khazad-Dûm es el nombre que recibe la delegación en Zaragoza. Nuestro objetivo como delegaciones es dar a conocer y disfrutar de la obra de J.R.R. Tolkien.</p>

<p>La Delegación zaragozana de la Sociedad Tolkien Española se fundó en 1992. Ha llevado a cabo actividades difusoras como charlas en bibliotecas sobre la obra literaria de Tolkien, lecturas de cuentos para niños y adultos, catas de cervezas ambientadas en la literatúra de Tolkien o reuniones abiertas a cualquiera que quisiera disfrutar de una buena tertulia sobre la obra del Profesor.</p>

<p>El Smial ha trabajado también con el ámbito más docto del estudio de Tolkien, con los "Encuentros con Tolkien" de Khazad-Dûm (con una dilatada historia que comenzó en 2001) celebrados en la Facultad de Filosofía y Letras de la Universidad de Zaragoza.</p>

<p>En los diferentes eventos organizados por el smial se realizan diferentes actividades como son talleres de escritura, exposiciones, proyecciones, audiciones, actuaciones en colaboración con artistas de la localidad, representaciones dramáticas… siempre relacionados con la vida y obra de J.R.R. Tolkien.</p>

                </div>
            </div>
            <!-- end content -->
            <!-- start sidebar -->
            <div id="sidebar">
                <div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <p>&nbsp;</p>
                        <h2>Subsecciones</h2>
                        <p>En este apartado, existen los siguientes enlaces fundamentales:</p>
                        <ul class="list1">
                            <li><a href="sobrenosotros_ste.html">Qué es la STE</a></li>
                            <li class="aactive" ><a href="sobrenosotros_smial.html">Qué son Khazad-dûm y Tol Eressëa</a></li>
                            <li><a href="sobrenosotros_merithaderthad.html">Qué son las Merith</a></li>
                            <!--<li><a href="sobrenosotros_fotografias.html">Fotografías</a></li>-->
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="boxed-bottom-second"></div>
                </div>
                <div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
            </div>
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <p>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

