<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XXII Mereth Aderthad Sobre nosotros: ¿Qué es la STE?</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <a href="index.html"><img src="/static/images/logo_transparente_vacio.gif"></a>
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Sobre nosotros</span> &iquest;Qué es la STE?</h1>

                    <p>La Sociedad Tolkien Española (STE) es una asociación cultural sin ánimo de lucro cuyo objetivo es la promoción, difusión y estudio de la obra de J.R.R. Tolkien. En ella tienen cabida diversas actividades relacionadas con la literatura, mitología, lingüística y filología, pintura e ilustración, música, juegos… dentro del ámbito de la obra de Tolkien. </p>

                    <p>Fundada en 1991, la asociación y sus miembros organizan cursos en <a href="http://sociedadtolkien.org/eventos/universidades/">universidades</a>y centros culturales, encuentros, obras de teatro y musicales, talleres literarios, de juegos y de artesanía. Así mismo se edita la revista trimestral <a href="http://sociedadtolkien.org/contenidos/revista-estel/">ESTEL</a>y <a href="http://sociedadtolkien.org/qu-es-la-ste/publicaciones/">otras publicaciones</a> y se convocan anualmente <a href="http://sociedadtolkien.org/certamenes/">certámenes literarios, de arte y de ensayo.</a> Incluso existen comisiones de trabajo que exploran en profundidad los aspectos concretos del amplio abanico de facetas que Tolkien desarrolló: lenguas, música, estudios literarios, arte... </p>
                    <p>nualmente se realizan varios <a href="http://sociedadtolkien.org/eventos/merith/">encuentros</a>y <a href="http://sociedadtolkien.org/eventos/otros/">convenciones</a>abiertas tanto a socios como a simpatizantes y curiosos, donde compartimos unos días alrededor de la obra de Tolkien. Así mismo, el día 25 de marzo acudimos a la llamada de la <a href="https://www.tolkiensociety.org/">Tolkien Society</a> británica para recordar la fecha de la destrucción del Anillo leyendo pasajes de la obra de Tolkien en diversos actos conmemorativos del <a href="http://sociedadtolkien.org/eventos/da-tolkien/">Día de leer a Tolkien</a>                    </p>
                    <p>
                      <!-- start sidebar -->
                    </p>
                </div>
            </div>
            <div id="sidebar">
                <div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <!--p><a href="index.html">Inicio</a></p-->
                        <h2>Subsecciones</h2>
                        <ul class="list1">
                            <li class="aactive"><a href="sobrenosotros_ste.html">&iquest;Qué es la STE?</a></li>
                            <li><a href="sobrenosotros_smial.html">&iquest;Qu&eacute; es el Smial de L&oacute;rien?</a> </li>
                            <!--li><a href="sobrenosotros_smial.html">Qué son Khazad-dûm y Tol Eressëa</a></li-->
                            <li><a href="sobrenosotros_merithaderthad.html">&iquest;Qué son las Merith?</a></li>
                            <li class="aactive" ></li>
                            </ul>
                    </div>
                    <div class="boxed-bottom"></div>
              </div>
                    <center>
                    <p><div><a href="http://www.sociedadtolkien.org"><img src="/static/images/tiodelapipa.png" alt="" width="230" height="100" /></a></div>
                    <p><div></div>
                    </center>
          </div> 
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

