<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XX Mereth Aderthad: Temática / Influencia en actividades</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
    <!-- start header -->
    <div id="header">
        <div id="logo">
            <!--h1><a href="index.html">XX Mereth Aderthad</a></h1>
            <p><a href="index.html">Sociedad Tolkien Española</a></p-->
        </div>
        <div id="menu">
            <ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- end header -->
    <!-- start page -->
    <div id="page">
        <div id="page-bg">
            <!-- start content -->
            <div id="content">
                <div class="one-column">
                    <h1><span>Tem&aacute;tica</span> Exposici&oacute;n</h1>

<p>El Hobbit y El Señor de los Anillos, ya sea como obras literarias o a través de sus adaptaciones a la pantalla convertidas en éxitos cinematográficos, constituyen sin duda, auténticos iconos contemporáneos que podemos calificar, sin ser en absoluto audaces, como referentes de la cultura popular de nuestro tiempo.</p>

<center><img src="/static/images/expo_puerta.jpg" alt="" width="480" height="480"></center>

<br><p>En muy pocas ocasiones la simbiosis entre lo literario y lo cinematográfico ha generado tanta repercusión y lo que en su origen fue un producto exclusivamente literario alcanza en nuestro tiempo niveles de reconocimiento universal en todos los ámbitos, pues paisajes, personajes o incluso la propia historia son conocidos de un modo tal que dan la impresión de ser hechos o lugares de nuestra propia realidad. Es evidente que la Tierra Media, los Hobbits, los Elfos, El Anillo Único, Gandalf, Sauron, Frodo, etc. describen lugares, razas, objetos o personajes absolutamente sugestivos. Cabe pues buscar dónde reside su fuerza evocadora.</p>

<center><img src="/static/images/expo_figuras.jpg" alt="" width="480" height="600"></center>

<br><p> La exposición "La Fortaleza del Anillo" constituye el acontecimiento más importante organizado por la Sociedad Tolkien Española desde su fundación, debido tanto a su duración (la exposición permanecerá disponible durante un año), como a su repercusión en los medios de comunicación y ocupará varias salas del castillo de Santa Bárbara: Sala Taberna, Planta Principal y Planta Superior del Cuerpo de Guardia y Sótano del Cuerpo de Guardia.

<center><img src="/static/images/expo_despachobilbo.jpg" alt="" width="480" height="420"></center>

<br><p>El material que albergará cada uno de los espacios va desde tamaños de apenas unos centímetros hasta figuras a representación real (escala 1:1). La exposición puede dividirse en tres partes claramente diferenciadas, atendiendo a las ubicaciones que va a ocupar, así como en otras categorías atendiendo a sus contenidos. Es así como podemos hablar de los siguientes contenidos expositivos: </p>

<p><h2>
Parte 1 – Sala Taberna:</h2>
♦ Introducción y presentación de la Tierra Media (panel informativo)<br>
♦ Exhibición del Anillo<br>
♦ Exposición de trajes propios de la Tierra Media<br>
♦ Colección de armas y escudos<br>
♦ Zona Tolkien (panel biográfico sobre el creador de la Tierra Media, J.R.R Tolkien).<br>
♦ Figuras a escala real: Bárbol y Uruk Hai<br>
♦ Banderas de los distintos pueblos de la Tierra Media<br>
♦ Zona multimedia<br>
♦ Espacio para la Sociedad Tolkien Española<br>
♦ Tolkien en el cómic español (Luis Bermejo), Tolkien y el rock y Tolkien y el cine<br>
♦ Colección de más de 80 ediciones de libros El Hobbit<br>
♦ Trilogía pirata El Señor de los Anillos<br>
♦ Recreación del pub de Oxford Eagle and Child<br>
</p>

<p><h2>
Parte 2 – Planta Principal y Segunda del Cuerpo de Guardia:</h2>
Planta Principal<br>
♦ Exposición de litografías de Tomás Hijo<br>
♦ Exposición de sellos<br>
♦ Exposición de objetos de coleccionismo de Mario Werner<br>
♦ Figuras a escala real de Sauron y Aragorn<br>
♦ Photocall<br>
♦ Espacio para tienda<br>
</p>
Primera Planta<br>
♦ Dioramas de Ricardo Núñez "Celebrimbor" y paneles explicativos<br>
♦ Recreación del despacho de Bilbo Bolsón<br>
♦ Reproducción exacta del escritorio, así como del libro rojo del artista Fernando López<br>
♦ Exposición de objetos de coleccionismo de Mario Werner "Wulf"<br>

<p><h2>
Parte 3 – Sótano del Cuerpo de Guardia:</h2>
♦Recreación de la cueva de Gollum<br>
♦Figura a tamaño real de Gollum<br>
</p>

<p><h2><br>

ACTIVIDADES COMPLEMENTARIAS</h2>

<p>
<br>La Exposición "La Fortaleza del Anillo. El Año de la Tierra Media en el Castillo de Santa Bárbara” irá acompañada, durante su periodo de exhibición, de una serie de actividades paralelas de temática relacionada con los contenidos expositivos y dirigidas a todos los públicos, con el fin de facilitar la inmersión del visitante al Mundo Tolkien y a la Tierra Media.
Estas acciones se desarrollarán en tres momentos: con motivo de la inauguración, en la
Campaña “Vive tu Castillo” y en el mes de octubre de 2015, además de una serie de charlas durante todo el año.
</p><p>
- Ciclo de Charlas “Tolkien y la Ciencia”
Las historias imaginadas por Tolkien también han servido como hilo conductor para divulgar conceptos científicos, desde la evolución biológica y la herencia genética hasta reacciones químicas, leyes físicas o acontecimientos astronómicos. En este ciclo estarán presentes ambos enfoques, tanto la influencia de Tolkien en la ciencia, como el valor de la mitología tolkieniana para la divulgación científica, de la mano de expertos de primer nivel.
</p><p>
- Programa Estival. Campaña "Vive tu castillo"
La Sociedad Tolkien Española es una asociación cultural sin ánimo de lucro cuyo objetivo es la promoción, difusión y estudio de la obra de J.R.R. Tolkien. En ella tienen cabida diversas actividades relacionadas con la literatura, mitología, lingüística y filología, pintura e ilustración, música, juegos... dentro del ámbito de la obra de Tolkien.
</p><p>
Estas actividades estarán abiertas al público que visite el Castillo de Santa Bárbara el citado día, sin que tengan necesariamente que visitar la exposición (salvo, evidentemente, la visita guiada a la misma). 
Se plantea pues llevar a término una serie de actividades en el intervalo horario comprendido entre las 11:00 horas y las 20:00 horas del sábado 28 de Marzo: photocall y visitas guiadas, taller de baile, cuentacuentos, lectura de cuentos, tu nombre en élfico y taller infantil de equipación Hobbit y Enana.
</p><p>
Durante los meses de julio y agosto, bajo la campaña “Vive tu Castillo” se realizarán una serie de
actividades como las siguientes talleres infantiles de la mano de Ricardo Núñez o conciertos de la banda Innerlands.
</p><p>
Más información en
<a href="http://www.castillodesantabarbara.com" target="blank">www.castillodesantabarbara.com</a>, <a href="http://www.lafortalezadelanillo.com" target="blank">www.lafortalezadelanillo.com</a><!--a href="http://www.alicante.es/cultura" target="blank">www.alicante.es/cultura</a-->
</p>

</li>
</ul>
                </div>
            </div>
            <!-- end content -->
            <!-- start sidebar -->
            <div id="sidebar">
                <div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <h2><p><a href="index.html">Inicio</a></p>Subsecciones</h2>
                        <ul class="list1">
                            <!--li class="aactive" ><a href="tematica_ambientacion.html">Ambientación</a></li-->
                            <li class="aactive" ><a href="tematica_exposicion.html">Exposición "La Fortaleza del Anillo"</a></li>
                            <li><a href="tematica_enlaces.html">Enlaces relacionados</a></li>
                            <!--li><a href="tematica_influencia.html">Influencia en actividades</a></li-->
                            <!--li class="aactive"><a href="tematica_descargas.html">Descargas / extras</a></li-->
                        </ul>
                    </div>
                    <div class="boxed-bottom-second"></div>
                </div>
                <div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
            </div>
            <!-- end sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>
    <!-- end page -->
    <!-- start footer -->
    <hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
    <!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

