<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad: Temática / Influencia en actividades</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="first"><a
href="tematica.html" accesskey="1" title="">Tem&aacute;tica</a></li>
				<li><a href="merethaderthad.html" accesskey="2" title="">La Mereth Aderthad</a></li>
				<li><a href="cuestionespracticas.html"
accesskey="3" title="">Cuestiones pr&aacute;cticas</a></li>
				<li><a href="sobrenosotros.html" accesskey="4" title="">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Tem&aacute;tica</span> Descargas / extras</h1>

<p>Con cierta periodicidad, habilitaremos aqu&iacute; material descargable que sirva tanto para ampliar informaci&oacute;n
sobre la propia EstelCon como para fomentar ciertos puntos comunes relacionados con la ambientaci&oacute;n.
</p>

<h3>Carta de Father Christmas/Papá Noel</h3>
<p>En el mes de septiembre llegaron a múltiples destinos una carta de Papá Noel sobre sus previsiones para la XIV Mereth Aderthad.</p>
<ul>
<li>Carta completa. <a href="/extra/CartaPapaNoel.pdf">Ver</a></li>
<li>Conjunto de cartas enviadas con sus cartas y sellos. <a href="/extra/cartas_papanoel_todas.jpg">Ver</a></li>
</ul>


<h3>Mensajero Draconarii</h3>
<p>Os presentamos el bolet&iacute;n mensual con las novedades sobre el Peque&ntilde;o Reino y los preparativos de la XIV Mereth Aderthad.</p>

<ul>

<li><p><b>N&uacute;mero 8, septiembre de 2008:</b> <a
href="/extra/mensajerodraconarii_08.pdf"> edici&oacute;n pantalla</a> / <a
href="/extra/mensajerodraconarii_08_imprenta.pdf">edici&oacute;n
imprenta</a>. Env&iacute;a el m&aacute;ximo n&uacute;mero de nombres correctos de todos los que enviaron anuncios clasificados a info[@]estelcon2008[.]org antes del 10 de octubre y gana
una camiseta de la EstelCon que sorteamos. ¡Último número y con programa de actividades!
</p></li>

<li><p><b>N&uacute;mero 7, agosto de 2008:</b> <a
href="/extra/mensajerodraconarii_07.pdf"> edici&oacute;n pantalla</a> / <a
href="/extra/mensajerodraconarii_07_imprenta.pdf">edici&oacute;n
imprenta</a>. Env&iacute;a el m&aacute;ximo n&uacute;mero de nombres correctos de todos los que enviaron anuncios clasificados a info[@]estelcon2008[.]org antes del 20 de septiembre y gana
una camiseta de la EstelCon que sorteamos.
</p></li>

<li><p><b>N&uacute;mero 6, julio de 2008:</b> <a
href="/extra/mensajerodraconarii_06.pdf"> edici&oacute;n pantalla</a> / <a
href="/extra/mensajerodraconarii_06_imprenta.pdf">edici&oacute;n
imprenta</a>. Env&iacute;a el m&aacute;ximo n&uacute;mero de nombres correctos de todos los que enviaron anuncios clasificados a info[@]estelcon2008[.]org antes del 20 de agosto y gana
una camiseta de la EstelCon que sorteamos.
</p></li>

<li><p><b>N&uacute;mero 5, junio de 2008:</b> <a
href="/extra/mensajero_draconarii05.pdf"> edici&oacute;n pantalla</a> / <a
href="/extra/mensajero_draconarii05_imprenta.pdf">edici&oacute;n
imprenta</a>. Env&iacute;a el m&aacute;ximo n&uacute;mero de nombres correctos de todos los que enviaron anuncios clasificados a info[@]estelcon2008[.]org antes del 20 de julio y gana
una de las dos camisetas de la EstelCon que sorteamos.
</p></li>

<li><p><b>N&uacute;mero 4, mayo de 2008:</b> <a
href="/extra/mensajerodraconarii_04.pdf"> edici&oacute;n pantalla</a> / <a
href="/extra/mensajerodraconarii_04_imprenta.pdf">edici&oacute;n
imprenta</a>. Env&iacute;a el m&aacute;ximo n&uacute;mero de nombres correctos de todos los que enviaron anuncios clasificados a info[@]estelcon2008[.]org antes del 20 de junio y gana
una de las dos camisetas de la EstelCon que sorteamos.
</p></li>


<li><p><b>N&uacute;mero 3, abril de 2008:</b> <a
href="/extra/mensajerodraconarii_03.pdf"> edici&oacute;n pantalla</a> / <a
href="/extra/mensajerodraconarii_03_imprenta.pdf">edici&oacute;n
imprenta</a>. Env&iacute;a el m&aacute;ximo n&uacute;mero de nombres correctos de todos los que enviaron anuncios clasificados a info[@]estelcon2008[.]org antes del 20 de mayo y gana
una de las dos camisetas de la EstelCon que sorteamos.
</p></li>


<li><p><b>N&uacute;mero 2, marzo de 2008:</b> <a
href="/extra/mensajerodraconarii_02.pdf"> edici&oacute;n pantalla</a> / <a
href="/extra/mensajerodraconarii_02_imprenta.pdf">edici&oacute;n
imprenta</a>. Env&iacute;a los nombres correctos de todos los que enviaron anuncios clasificados a info[@]estelcon2008[.]org antes del 6 de abril y gana
una camiseta de la EstelCon en un sorteo múltiple ante Bonifacius.
</p></li>
<lI>
<p><b>N&uacute;mero 1, febrero de 2008:</b> <a
href="/extra/mensajerodraconarii.pdf"> edici&oacute;n pantalla</a> /
<a href="/extra/mensajerodraconarii_imprenta.pdf">edici&oacute;n imprenta</a>.
</p></li>
</ul>

<h3>Material promocional</h3>
<p>Se trata de dípticos publicitarios, logos, banners y cualquier elemento de apoyo para la difusión de la XIV Mereth Aderthad.</p>

<ul>
<li><p><b>Banner Flash de la EstelCon:</b> Descargad <a href="/extra/bannerEC2008.zip">este fichero ZIP</a> (400KB) con todo lo que necesitáis para incluirlo en vuestra web. También os indicamos cómo hacerlo sin necesidad de manipular el fichero flash.<br/>

<a href="http://www.estelcon2008.org"><OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-6666653540000"
codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=4,0,2,0"
width="480" height="100">
<PARAM name="movie" value="bannerEC2008.swf">
<PARAM name="quality" value="high">
<PARAM name="menu" value="true">
<EMBED SRC="/extra/bannerEC2008.swf" quality="high" menu="true"
pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
type="application/x-shockwave-flash" width="480" height="100">
</EMBED>
</OBJECT></a>
</li>
</ul>




				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
					<div class="boxed-top-second">
						<div class="boxed-bottom-second">
							<p>&nbsp;</p>
							<h2>Subsecciones</h2>
							<p>En este apartado, existen los siguientes enlaces fundamentales:</p>
							<ul class="list1">
							
							<li><a href="tematica_ambientacion.html">Ambientación</a></li>
							<li><a href="tematica_bibliografia.html">Bibliografía</a></li>
							<li><a href="tematica_influencia.html">Influencia en actividades</a></li>
							<li class="aactive"><a href="tematica_descargas.html">Descargas / extras</a></li>

						</ul>
																		
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.jpg" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

