<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad: Temática / Ambientación</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Temática</span> Ambientación</h1>

<p>Toca la puerta. En el cartel sobre la madera pone ‘pase sin llamar’.<br/>
¿Cede? Perfecto. No tengas miedo de la luz que sale de las rendijas, es normal. Te hará
cosquillas, pero no te resistas a su brillo.<br/>
<p>¿Qué es lo que ves?</p>

<p>¡Qué escándalo! Alguien pisa tan fuerte que la tierra retumba. Ahí tienes un hueco, entre los
arbustos, para esconderte y poder contemplar sin que te vean. Así, agacha un poco la
cabeza.<br/>
¿Pero qué es esto? ¡Un gigante! Tan torpe y cabezota como una manada de asnos... vaya,
acaba de engullir a una pobre vaca que pastaba tan tranquilamente. ¿Y ese perro? Ladra de
una forma tan escandalosa que parece que se le vaya a desgarrar la garganta.<br/>
Ahí llega su amo, y parece enfadado. ¿Qué es lo que lleva en las manos? ¿Una escopeta?
No, no... es un trabuco, un trabuco. Con todos los clavos y la chatarra que su mal humor
pueden cargar ¡Agáchese, granjero, o el gigante lo verá!<br/>
PUM<br/>
Vaya... curioso... el susto que se ha llevado el pobre le ha hecho temblar el dedo del gatillo
¡Vayamos tras el espantado granjero a ver dónde nos conduce!<br/></p>


<p>¿Qué te ocurre? No puedes andar hacia el pueblo, claro... eso que brota ante tus pies ¿no es
una vía de tren? Asciendes mientras el andén se eleva bajo tus plantas entre la hierba, y te
ases las ropas, que se te pegan al cuerpo con el ascenso. Y un tren te hace cerrar los ojos
con su silbido largo y penetrante.<br/>
Se abren las puertas... ¿Es que no vas a entrar?<br/>
El revisor no te pide el billete cuando pasa junto a ti. Las casas se vuelven borrones de color
y los árboles huyen junto a los cristales. No cierres los ojos aunque comiencen a llorarte con
la velocidad.<br/>
El tren se ha parado ¿no vas a bajar? ¿te asusta el vapor? No te preocupes, yo bajaré
contigo.<br/>
Vaya... curioso panorama. El paisaje parece fundirse en un óleo de terciopelo mientras
caminas sobre él. Los pájaros surcan el cielo, casi puedes leer sus ‘pío, pío’ escritos en el
aire dulce y espeso. Ahí tienen su nido, sobre esa casita, entre las ramas del árbol
Y qué árbol...<br/>
Acércate, no te pasará nada. Toca sus hojas, respira su aroma, palpa su corteza. Es el árbol
de Niggle, el árbol de Parish, pero también tú árbol, y el mío, y el suyo, y el de ella... parece
fundirse en tus yemas mientras intentas atraparlo con la pupila inquisitiva. Toma una hoja,
está permitido, pero guárdala en secreto.<br/></p>

<p>Eso que sale del bosque... ¿No es música?<br/>
¿Quieres bailar?</p>

<p>Una fiesta, al apartar las ramas, te deslumbra con sus candelas. Hay letreros en el claro del
bosque donde llamean las antorchas, apuntando a los caminos que salen de allí. ‘A la
Cabaña del Juego Perdido’, reza uno. ‘A la sepultura de Beorthnot’, indica el siguiente’. ‘A la
Casa de Papá Noel’ aparece en un tercero.<br/>
¿Es que no quieres bizcocho? Esa niña tan risueña te ofrece un pedazo. Está hecho por el
mejor pastelero de Wooton Major, y con un poco de suerte te encontrarás alguna sorpresa
dentro. Dale si quieres un pedazo a ese perrito que te lame la mano con su lengua de fieltro.</p>


<p>¿Qué dices? Ah, sí, aquel hombrecillo del sombrero largo, largo te hace señas. Es nuestro
vecino, que quiere acompañarte en el camino de vuelta. Acaba de comprarse un coche
nuevo que le lleva colina arriba, colina abajo. No creo que te marees, pero ten cuidado, no
te vayas a llevar en la ropa algún trozo de col, o un pelo de oso.<br/>
Bueno, buena suerte en lo siguiente. ¿Llevas todo? No le hagas caso a ese estruendo, es
Crisófilax, que arrastra el tesoro rezongando. ¿Qué quién es Crisófilax? Otro día, otro día.
Cierra bien la puerta al salir, y conserva los recuerdos que te has guardado en el camino.
Cuando quieras puedes volver, sólo tienes que ponerte de nuevo esa estrella que llevas en
la frente, y podré presentarte a mucha gente más, y contarte muchas más historias
maravillosas.</p>

<p>Pregunta por mí cuando vuelvas. ¿Qué cual es mi nombre? Yo soy Tom, y Tom soy yo. Hale,
felices sueños, buenos días, buen provecho y felicidades, y todas esas cosas que suelen
decirse para que la fortuna te sonría. Dentro de poco el tren de Niggle Parish volverá a
pasar, Egidio llegará a algún acuerdo con las joyas y se celebrará otra fiesta de Wooton
Mayor. Podemos explorar los caminos que te han quedado por ver, en esa ocasión.<br/>
¿Cuándo? En Octubre. Sólo tienes que tocar a la puerta y hacer brillar la
estrella. Nosotros te estaremos esperando.</p>

<p><em>Hey Dol, Merry Dol...</em></p>


				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <p>&nbsp;</p>
                        <h2>Subsecciones</h2>
                        <p>En este apartado, existen los siguientes enlaces fundamentales:</p>
                        <ul class="list1">
                            <li class="aactive" ><a href="tematica_ambientacion.html">Ambientación</a></li>
                            <li><a href="tematica_bibliografia.html">Bibliografía</a></li>
                            <li><a href="tematica_influencia.html">Influencia en actividades</a></li>
                            <li><a href="tematica_descargas.html">Descargas / extras</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="boxed-bottom-second"></div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

