<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIX Mereth Aderthad: Temática / Ambientación</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIX Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Temática</span> Ambientación</h1>

<p>Una bruma espesa y pegajosa velaba los abismos cuando llegó el heraldo. Ya venían. Narvi recogió los planos de la mesa y se aclaró la voz vigorosamente.</p>

<p>Celebrimbor se bajó la capucha con parsimonia, entrando en la sala tallada en roca viva. Debajo brillaban una sonrisa, una seña enorme de complicidad y simpatía, y unos ojos brillantes y hambrientos de conocimiento. Narvi le ofreció una respetuosa reverencia. Celebrimbor respondió inclinándose graciosamente.</p>
<p>– Veo que su barba vuelve a rozar el suelo, maestre. Me alegro de que haya crecido tan espesa y saludable desde la última vez que nos vimos.</p>

<p>Narvi rió, con jugosas carcajadas vibrantes, que reverberaron en las paredes de piedra.</p>
<p>– No volveré a acercarme a la forja sin atarme bien la barba, eso por seguro.</p>
<p>– Traigo nuevas herramientas para que las revise, maestre. Espero que esta vez sí podamos terminarlas.</p>


<p>
Un tiempo atrás Narvi le había mostrado la Puerta Este, cubierta de hechizos y mensajes en todas las lenguas de los pueblos libres. Aquella fue la primera vez que sintió curiosidad sobre la extraña lengua de los enanos. Había oído hablar de ella, pero no la había escuchado jamás. Y era la única lengua que no lograba descifrar, aun conociendo las runas.
</p>

<p><em>– Estas runas son de origen élfico – explicó, pasando la mano por la tosca inscripción de la Puerta Este – mi antepasado Daeron las creó y enseñó a los pueblos, pero ya no las utilizamos.</em></p>
<p><em>– Tu historia no es cierta – gruñó Narvi, con los gruesos brazos cruzados –. Nuestra tradición afirma que estas son las runas de los khâzad… estoy seguro que lo que ese tal Daeron hizo fue copiarlas y enseñároslas a los elfos.</em></p>
<p><em>– Cuidado ahora, maese Narvi – respondió Celebrimbor, alzando un dedo – es de mi ancestro de quien hablas. Puede que los eldar vivamos tanto como la tierra y el cielo, pero eso no significa que no respetemos a los que vinieron antes que nosotros…</em></p>
<p><em>Aquellas puertas le daban escalofríos. Eran palabras terribles las que estaban grabadas allí, ominosas y oscuras, y Celebrimbor se estremecía con el simple roce. Había amenaza, gruñidos y odio remendados con gruesas puntadas y remachados a la piedra. Vete de aquí, le decían los pulsos severos, no te acerques, no te queremos, eres un intruso.</em></p>
<p><em>– No seré yo quien traspase este acceso – balbuceó, acongojado – pues augura unas consecuencias demasiado funestas.</em></p>
<p><em>– Protegemos lo que es nuestro – respondió Narvi, que a pesar de todo también se sentía sobrecogido ante aquellas puertas, aunque no daba muestra de ello –. Nada más, y nada menos. Pero nuestro objetivo es que las puertas del oeste no sean así…</em></p>
<p><em>Aprovechando la amplia repisa de la pared vertical, desplegó una piel curtida repleta de líneas. Trazos rotundos que florecieron ante los ojos del herrero, maravillado por su complejidad. recorrió con mirada ansiosa cada palanca, cada traba, cada hueco.</em></p>
<p><em>– El mecanismo de cierre está desarrollado. Pero ahora falta tu mano, amigo, para darle lo que necesita. Para convertirla en la puerta de un Reino.</em></p>


<p>Ahora traía varios fardos pesados, pero sólo los desenvolvió cuando Narvi y él estuvieron solos. Las barras de mithril que Narvi le confiase después de su primera visita se habían transformado en algo diferente. Más sutil, más líquido, con un brillo argentino que parecía impregnar las pesadas telas en las que vino arropado. Una luz semejante a la de la luna inundó la forja de Narvi, haciendo relucir sus paredes y refulgir sus metales.</p>
<p>Pero todo fue tan fugaz como la estrella que cae de la bóveda celeste en una noche de luna nueva. El metal se apagó, confundiéndose con la envoltura y tomando el aspecto del acero más burdo. Celebrimbor expuso las madejas sobre el mostrador.</p>
<p>– Acérquese, maese Narvi – le invitó, con un brillo cómplice en la mirada –, no se quemará si toca el ithildin.</p>
<p>El enano tomó una de las madejas. 'Es ligera como una brisa' pensó, sopesándola en las gruesas manos, 'pero parece bastante robusta'. La belleza del metal era inconmensurable. Ahora se sentía aliviado por haber confiado el mithril al elfo para que se lo llevara, aunque al principio todo fuesen recelos.</p>
<p>Era el turno de Celebrimbor para asombrar al naugrim. Quebró el lacre de un fardo delgado y largo que llevaba colgado a la espalda. Al principio el enano pensó que sería algún tipo de arma para protegerse en su viaje, pero lo que el elda extrajo parecía más bien una fisga corta y muy delgada. Con una mueca misteriosa y los ojos brillantes, la presentó ante su amigo.</p>
<p>Narvi la recogió con mucho cuidado, porque parecía extraordinariamente afilada. Comprobó que estaba hueca, fabricada con un metal duro y muy pulido. Su forma le recordaba a algo, aunque no conseguía averiguar exactamente a qué.</p>

<p>Trabajaron incansablemente día y noche, bajo el frío de la luna nueva y ante el fuego abrasador de la forja. Batieron con fuerza el metal y labraron con delicadeza la piedra. Muchos amaneceres los encontraron torciendo el <em>ithildin</em> y debastando la roca.</p>

<p>Algunas veces Celebrimbor descendía la ladera para inundarse de bosque y respirar de los árboles, él y sus compañeros corrían y cantaban entre los troncos aliviados y serenos, y siempre volvía renovado y fresco al trabajo. Narvi escalaba hasta el Kheled-zâram algunas veces, cuando ya era noche cerrada,  y podía vérselo sentado, contemplando la Corona de Dúrin, tan detenido como una estatua severa de antaño, y siempre volvía con vigor y orgullo a la tarea.</p>

<p>Algunos días las labores se llevaban a cabo en un completo secreto. Grandes y pesados telones cubrían la entrada entonces, y los otros mantenían una distancia respetuosa en torno al lugar de trabajo. Pronto, las puertas estuvieron colocadas en su lugar, pero sin que el mecanismo se hubiese puesto en funcionamiento aún.</p>

<p>Fue entonces el turno de Celebrimbor y sus ayudantes. Narvi se mesaba las barbas, con una impaciencia feroz horadándole el pecho. Observó cómo el elfo recogía aquella extraña pieza afilada de nuevo, e introducía su punta en uno de los vanos tallados en la roca. En voz baja, casi en un susurro, dio instrucciones a sus asistentes, que cargaron el alma del instrumento con una fina fibra de ithildin.</p>
<p>Cuando el metal fundido acarició la piedra, el entendimiento se abrió paso en la memoria del enano.</p>

<p><em>– Runas lunares. Escritas con pluma de plata.</em></p>
<p><em>El elfo escudriñó el papel, tratando de desentrañar el secreto de aquellas letras. ¿Qué sustancia, qué maravilloso hechizo podía ocultar de esa manera la escritura, sólo visible a la luz de la luna? ¿qué secretos métodos habían llevado a los naugrim a mostrar tal maestría en un arte poco cultivado entre los de su raza?</em></p>
<p><em>– Tu extrañeza me sorprende, amigo – gruñó Narvi, sirviéndose más bebida –. Sí, los enanos tenemos escribas, aunque no todos escribimos. Del mismo modo que no todos vosotros vais tocando el arpa o lanzando flechas.</em></p>
<p><em>– Yo toco el arpa – bromeó Celebrimbor, sin dejar de examinar el manuscrito.</em></p>
<p><em>– Y yo el violín, caramba – respondió con sorna el enano, extendiendo las palmas amplias y callosas sobre la mesa –. Estas manos nuestras no se hicieron para el arte, me temo. </em></p>
<p><em>Celebrimbor soltó el papel, derrotado por aquel misterio, y dio un trago largo de su jarra. Sus dientes relucieron, divertidos, en una pícara sonrisa.</em></p>
<p><em>– Mi nombre significa 'puños de plata', y tan preciosas como la plata son las obras de nuestras manos ¿Qué son tus estructuras, tus puentes, tus hachas? ¿Qué son mis filos, mis mascarones, mis anillas? Somos maestros del arte, de un arte que no se escucha ni se saborea, pero que se siente en los dedos.</em></p>
<p><em>– Y en las costillas de nuestros enemigos – respondió Narvi, alzando su jarra. Celebrimbor brindó con él – ¡Y que sea así por muchos años venideros!</em></p>

<p>'Así que es eso...' se sonrió Narvi 'Runas lunares… las nuestras propias. Escritas con pluma de plata, con puño de plata'.</p>

<p>El <em>ithildin</em> trazó filigranas en la roca, rellenando los vanos con su brillo celeste, y apagándose al enfriarse hasta adquirir el mismo color de la piedra. Una puerta secreta, un camino escondido, y un enigma que sólo se desvelaría a la luz de la luna.</p>

<p>Largamente se asieron los antebrazos, mirándose a los ojos con intensidad.</p>
<p>– El trabajo ha concluido. Adiós, Celebrimbor, hijo de Curufin. Gran regalo le hiciste al reino de Khazad-Dûm, un don que no será olvidado en las eras por venir. Esta puerta lo atestigua – señaló con un amplio arco de la mano libre las brillantes marcas de <em>ithildin</em>, refulgiendo bajo la luna llena –, pues está hecha y escrita para que nuestros amigos <em>eldar</em> la franqueen.</p>
<p>– Nuestros nombres están grabados en la piel del gran Reino de Hadhodrond, Narvi, hijo de Lóni. Que nadie derrumbe jamás esta amistad, del mismo modo en que nadie podrá derribar este portal.</p>

<p>Narvi se alejó un paso, con el orgullo pintado en la mirada.</p>

<p>– Así sea... <em>mellon</em>.</p>

<p>Las puertas del Oeste se abrieron con un rugido estremecedor ante la palabra secreta. Narvi caminó con pasos rotundos hacia la oscuridad de la gran Mansión de los Enanos, sin volver la vista atrás. Celebrimbor tornó su mirada hacia Eregion, anhelando el murmullo de sus ríos y el susurro de sus hojas.</p>

<p>–  Así sea, amigo.</p>

			  </div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <p>&nbsp;</p>
                        <h2>Subsecciones</h2>
                        <p>En este apartado, existen los siguientes enlaces fundamentales:</p>
                        <ul class="list1">
                            <li class="aactive" ><a href="tematica_ambientacion.html">Ambientación</a></li>
                            <li><a href="tematica_bibliografia.html">Bibliografía</a></li>
                            <li><a href="tematica_influencia.html">Influencia en actividades</a></li>
                            <!--<li><a href="tematica_descargas.html">Descargas / extras</a></li>-->
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                    <div class="boxed-bottom-second"></div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.png" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

