<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XX Mereth Aderthad: Temática / Ambientación</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
            <a href="index.html"><img src="/static/images/logo_transparente_vacio.gif"></a>
		</div>
		<div id="menu">
			<ul>
                <li class="first"><a href="/tematica.html" accesskey="1" title="En esta sección encontrarás información útil sobre la ambientación, bibliografía relacionada y cómo todo esto influye en las actividades.">Temática</a></li>
                <li><a href="/merethaderthad.html" accesskey="2" title="En esta sección se describe qué es una Mereth Aderthad, qué particularidades tiene ésta, cómo puedes participar, qué concursos y premios tendrán lugar durante su transcurso, el programa de actividades siempre actualizado, el formulario de inscripción y la ficha personal para inscritos.">La Mereth Aderthad</a></li>
                <li><a href="/cuestionespracticas.html" accesskey="3" title="En esta sección se informa del lugar de celebración, sus condiciones, cómo llegar hasta él, teléfonos útiles y consejos y normas diversos.">Cuestiones prácticas</a></li>
                <li><a href="/sobrenosotros.html" accesskey="4" title="En esta sección se presenta la propia Sociedad Tolkien Española, el smial que coordina el evento de este año, qué son exactamente las convenciones anuales y una colección de fotografías de interés.">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Temática</span> Ambientación</h1>

<p>Por aquellos años los Elfos estaban desunidos, así que Fingolfin, rey de los Noldor, pretendió unificarlos, convocándolos en la primavera a una reunión en Eithel Ivrin, el nacimiento del río Narog. A ella asistieron los representantes de los siguientes reinos élficos:</p>

<p>Por parte de los Noldor acudieron las casas de Fingolfin, Finrod y Finarfin.
De los Sindar acudieron Círdan de las Falas, los Laiquendi de Ossiriand y los elfos Mablung y Daeron del reino de Doriath.
De la casa de Fëanor acudieron Maedhros y Maglor.</p>

<p>En la Mereth Aderthad se celebraron de buen grado múltiples consejos, y se oyeron juramentos de alianza y amistad, sobre todo la lengua de los Elfos Grises, usada aun los mismos Noldor, pues aprendieron de prisa el idioma de Beleriand; en cambio, los Sindar eran lentos en dominar la lengua de Valinor.</p>

<p>Finalmente, la Mereth Aderthad fue un éxito, pues Fingolfin consiguió unificar a los Elfos, para que todos dirigiesen sus esfuerzos en combatir a Morgoth y con ello gozar de unos años de paz y alegría:</p>

<p><em>(...) y en verdad siguieron luego largos años de paz, mientras un cerco de espadas defendía Beleriand de la maldad de Morgoth, que ya no tenía poder sino dentro de sus propias estancias. En aquellos días había alegría bajo el nuevo Sol y la nueva Luna, y toda la tierra estaba complacida; pero la Sombra aún meditaba en el norte...1</em></p>

			  </div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
                    <div class="boxed-top-second"></div>
                    <div class="boxed-content-second">
                        <!--p><a href="index.html">Inicio</a></p-->
                        <h2>Subsecciones</h2>
                        <ul class="list1"><li><a href="tematica_enlaces.html">Enlaces relacionados</a></li>
                            <!--li><a href="tematica_influencia.html">Influencia en actividades</a></li-->
                            <!--<li><a href="tematica_descargas.html">Descargas / extras</a></li>-->
                        </ul>
                    </div>
                    <div class="boxed-bottom"></div>
                	</div>
                	<center>
                	<p><div><a href="http://www.sociedadtolkien.org"><img src="/static/images/tiodelapipa.png" alt="" width="230" height="100" /></a></div>
                	<p><div></div>
                	</center>
                	</div> 
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
    <div id="footer">
        <br><br><br></br></br></br>
        <p><center>Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p></center>
    </div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>

