<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>XIV Mereth Aderthad: Temática / Bibliografía</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start wrapper -->
<div id="wrapper">
	<!-- start header -->
	<div id="header">
		<div id="logo">
			<h1><a href="index.html">XIV Mereth Aderthad</a></h1>
			<p><a href="index.html">Sociedad Tolkien Española</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="first"><a href="tematica.html" accesskey="1" title="">Temática</a></li>
				<li><a href="merethaderthad.html" accesskey="2" title="">La Mereth Aderthad</a></li>
				<li><a href="cuestionespracticas.html" accesskey="3" title="">Cuestiones prácticas</a></li>
				<li><a href="sobrenosotros.html" accesskey="4" title="">Sobre nosotros</a></li>
			</ul>
		</div>
	</div>
	<hr />
	<!-- end header -->
	<!-- start page -->
	<div id="page">
		<div id="page-bg">
			<!-- start content -->
			<div id="content">
				<div class="one-column">
					<h1><span>Temática</span> Bibliografía</h1>
					
					<p>En un primer momento, podría parecer que esta sección no tiene mucho sentido. La bibliografía recomendada en una convención sobre JRR Tolkien ofrece pocas dudas. Sin embargo, al ambientar la XIV Mereth Aderthad en las obras consideradas menores, hemos considerado útil hacer foco sobre estos cuentos o escritos menos conocidos o valorados. De esta forma, esperamos que los asistentes dediquen algún tiempo a leer un subconjunto de éstos y disfruten más de la ambientación prevista.</p>

<table>
<tr>
<td>
<b>Hoja de Niggle</b> 
(título y edición original: "Leaf by Niggle", in <i>Dublin Review</i>, enero de 1945)
<div type="descripcion">
Cuenta la vida y muerte de un artista, pero es también una inspirada ejemplificación de una de las ideas fundamentales de Tolkien: la necesidad de que la obra de arte tenga "la consistencia interior de la realidad".
</div>
<div type="edicion">
Edición recomendada: <a href="http://www.edicionesminotauro.com/FichaLibro.aspx?IdPack=2&IdPildora=EXT493110">Egidio, el granjero de Ham. Hoja de Niggle. El herrero de Wotton Mayor</a>, de Ediciones Minotauro. Esta edición contiene tres de las principales historias cortas de Tolkien.
</div>
</td>
<td><img src="/static/images/portada_egidio_hoja_herrero.jpg"></td>
</tr>

<tr><td>
<b>Egidio, el granjero de Ham</b> 
(título y edición original: <i>Farmer Giles of Ham</i>, Allen & Unwin, octubre de 1949)
<div type="descripcion">
Una historia amena que cuenta el ascenso de un hombre común (un mediano) y sin ambiciones, hasta convertirse en rey del Pequeño Reino. Hay dragón incluido, el astuto Crisófilax Dives.
</div>
<div type="edicion">
Edición recomendada: <a href="http://www.edicionesminotauro.com/FichaLibro.aspx?IdPack=2&IdPildora=EXT493110">Egidio, el granjero de Ham. Hoja de Niggle. El herrero de Wotton Mayor</a>, de Ediciones Minotauro. Esta edición contiene tres de las principales historias cortas de Tolkien.
</div>
</td>
<td><img src="/static/images/portada_egidio_hoja_herrero.jpg"></td>
</tr>

<tr><td>
<b>Las aventuras de Tom Bombadil</b> 
(título y edición original: <i>The adventures of Tom Bombadil</i>, Allen & Unwin, 22 de noviembre de 1962)
<div type="descripcion">
El libro Las aventuras de Tom Bombadil es una recopilación de poemas de J. R. R. Tolkien. Publicado en 1962, contiene 16 poemas. Sólo dos de los poemas tratan de Tom Bombadil, un personaje conocido por su encuentro con Frodo Bolsón en El Señor de los Anillos I. La comunidad del Anillo. El resto de los poemas, que correspondería al subtítulo del libro y otros poemas de El Libro Rojo, son cuentos de hadas o relatos de bestiario en verso.
</div>
<div type="edicion">
Edición recomendada: <a href="http://www.edicionesminotauro.com/fichalibro.aspx?IdPack=2&IdPildora=44">Las aventuras de Tom Bombadil</a>, de Ediciones Minotauro, 2ª edición (la primera contiene numerosos errores). 
</div>
</td>
<td><img src="/static/images/portada_bombadil.jpg"></td>
</tr>



<tr><td>
<b>El herrero de Wootton Mayor</b>
(título y efición original: <i>Smith of Wootton Major</i>, Allen & Unwin, 9 de noviembre de 1967)
<div type="descripcion">
Escrito hacia al final de su vida, en 1967, es de algún modo, la historia de una emoción terminal, la de quien en vida ha visitado a menudo tierras misteriosas y descubre ahora la proximidad de la muerte.
</div>
<div type="edicion">
Edición recomendada: <a href="http://www.edicionesminotauro.com/FichaLibro.aspx?IdPack=2&IdPildora=EXT493110">Egidio, el granjero de Ham. Hoja de Niggle. El herrero de Wotton Mayor</a>, de Ediciones Minotauro. Esta edición contiene tres de las principales historias cortas de Tolkien.
</div>
</td>
<td><img src="/static/images/portada_egidio_hoja_herrero.jpg"></td>


</tr>

<tr><td>
<b>Las Cartas de Papá Noel</b>
(título y edición original: <i>The Father Christmas Letters</i>, Allen & Unwin, 1976)
<div type="descripcion">
Tolkien escribía cartas a sus hijos (cuando éstos eran muy pequeños) haciéndose pasar por Papá Noel y les contaba historias muy divertidas sobre el propio Papá Noel y su trabajo con los duendes para hacer juguetes, o del patoso Oso Polar o del día que bajó el Hombre de la Luna (el mismo de la canción de Frodo). Las ilustraciones son de Tolkien.
</div>
<div type="edicion">
Edición recomendada: <a href="http://www.edicionesminotauro.com/FichaLibro.aspx?IdPack=2&IdPildora=EXT493113">Cartas de Papá Noel</a>, de Ediciones Minotauro. 
</div>
</td>
<td><img src="/static/images/portada_papanoel.jpg"></td>
</tr>

<tr><td>
<b>Roverandom</b>
(título y edición original: <i>Roverandom</i>, HarperCollins Publishers, 1998)
<div type="descripcion">
Editado por Christina Scull y Wayne G.
Hammond, es el resultado de bucear entre los escritos legados por Tolkien. En 1925, Michael, uno de los hijos de Tolkien, perdió en la playa su querido perrito de juguete mientras estaban de vacaciones. Para consolarlo, su padre inventó una historia sobre un perro real que un brujo transforma en un perro de juguete. Rover, el perro, también conocido como Roverandom, es enviado a la Luna por el Mago de la Arena y, cuando no encuentra lo que busca lo manda al fondo del mar para que siga su aventura. Dragones, Magos, el Hombre de la Luna, la Ballena Sabia, el Rey del Mar; todos están allí en un relato encantador.
</div>
<div type="edicion">
Edición recomendada: <a href="http://www.edicionesminotauro.com/FichaLibro.aspx?IdPack=2&IdPildora=EXT493119">Roverandom</a>, de Ediciones Minotauro.
</div>
</td>
<td><img src="/static/images/portada_roverandom.jpg"></td>
</tr>

<tr><td>
<b>El señor Bliss</b>
(título y edición original: <i>Mr. Bliss</i>, HarperCollins Publishers, septiembre de 1982)

<div type="descripcion">
Mr. Bliss es un libro infantil con ilustraciones del propio Tolkien, publicado póstumamente en forma de libro en 1982. Es uno de los relatos cortos de Tolkien menos conocidos, y cuenta la historia del señor Bliss y su primer viaje en su nuevo coche, en el que le ocurren varias aventuras: encuentros con osos, vecinos enojados, airados tenderos, y variadas colisiones.

La historia está inspirada en los propios contratiempos de Tolkien con su primer coche, que compró en 1932. Los osos están basados en los osos de peluche de sus propios hijos.
</div>
<div type="edicion">
Edición recomendada: <a href="http://www.edicionesminotauro.com/FichaLibro.aspx?IdPack=2&IdPildora=EXT493029">El señor Bliss</a>, de Ediciones Minotauro.
</div>
</td>
<td><img src="/static/images/portada_bliss.jpg"></td>
</tr>

<tr><td>
Todos estos libros pueden adquirirse a partir de la página de <a href="http://www.edicionesminotauro.com">Ediciones Minotauro</a>.
<br/><br/>
Los datos para este artículo han sido obtenidos de las siguientes fuentes, a las que se puede acudir para ampliar información:
<ul>

<li><a href="http://www.edicionesminotauro.com/">Ediciones Minotauro</a>, editorial en español de la obra de Tolkien</li>
<li><a href="http://www.sociedadtolkien.org/texto.php?id=13">Sociedad Tolkien Española</a>, sección "Bibliografía"</li>
<li><a href="http://es.wikipedia.org/wiki/Bibliograf%C3%ADa_de_John_Ronald_Reuel_Tolkien">Wikipedia</a>, sección "Bibliografía de J.R.R. Tolkien"</li>
<li><a href="http://www.tolkienlibrary.com">Tolkien Library</a></li>
</ul>
</td></tr>
</table>

				</div>
			</div>
			<!-- end content -->
			<!-- start sidebar -->
			<div id="sidebar">
				<div class="boxed-second">
					<div class="boxed-top-second">
						<div class="boxed-bottom-second">
							<p>&nbsp;</p>
							<h2>Subsecciones</h2>
							<p>En este apartado, existen los siguientes enlaces fundamentales:</p>
							<ul class="list1">
							
							<li><a href="tematica_ambientacion.html">Ambientación</a></li>
							<li class="aactive" ><a href="tematica_bibliografia.html">Bibliografía</a></li>
							<li><a href="tematica_influencia.html">Influencia en actividades</a></li>
				<li><a href="tematica_descargas.html">Descargas / extras</a></li>
						</ul>
																		
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div><a href="http://www.sociedadtolkien.org"><img src="/static/images/homepage18.jpg" alt="" width="230" height="100" /></a></div>
			</div>
			<!-- end sidebar -->
			<div style="clear: both;">&nbsp;</div>
		</div>
	</div>
	<!-- end page -->
	<!-- start footer -->
	<hr />
	<div id="footer">
		<p>Smial de Hammo - Sociedad Tolkien Española. Contenido bajo Creative Commons BY-NC-SA 2.0.</p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrapper -->

{% comment %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-1016655-7");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endcomment %}
</body>
</html>
