from .development import *

PRE_SIGNUP_FORM = False

SCHEDULE_HIDDEN = False

SIGNUP_CLOSED = False

ADMINS = [
    ('Admin', 'webmaster@sociedadtolkien.org')
]

MANAGERS = [
    ('Estelcon', 'estelcon@sociedadtolkien.org')
]

