{% extends "dynamic_page.html" %}

{% block dynamic_content %}
<div class="heading">
<h1>Ficha personal</h1>
</div>
{% if messages %}
    {% for message in messages %}
        <h3 class="message">{{ message }}</h3>
    {% endfor %}
{% endif %}
<p>Si has olvidado tu contraseña, introduce aquí tu nombre de usuario y se te enviará
        a tu correo electrónico un mensaje con instrucciones para crear una nueva.</p>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post" action=".">
        {% csrf_token %}
        <div class="form-group">
        <label>Usuario:</label>
        {{ form.username }}
        {% if form.username.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.username.errors|join:", " }}&nbsp;</b>{% endif %}
        </div>
        <input type="submit" value="Recuperar" class="btn btn-primary btn-lg"/>
        </form>
    </div>
</div>
{% endblock %}
