{% extends "dynamic_page.html" %}

{% block dynamic_content %}
<h1>Formulario de pre inscripción</h1>

<p><em>Muchas gracias por decidirte a asistir a la XX Mereth Aderthad 2017. Recuerda que las fechas
son <b>9, 10, 11 y 12 de octubre de este a&ntilde;o 2017</b>.</em></p>
<p><b>En unos días estará disponible la inscripción oficial</b>, pero ya puedes preinscribirte
para indicarnos tu interés en asistir, es muy importante que tengamos cuanto antes una idea
aproximada del número de visitantes, dado que nos movemos con un plazo muy ajustado para las
reservas de alojamiento.</p>
<p>Los precios definitivos aún no están cerrados, pero podemos dar una cifra orientativa de
<b>110€</b> para la EstelCon completa, y <b>40€</b> para la asistencia a la Cena de Gala sin
alojamiento.</p>
<p>Por favor, rellena una ficha por cada persona, incluyendo menores a partir de 2 años. Si vienes
con tus hijos, puedes indicar sus nombres en la casilla de comentarios, para que podamos relacionar
las fichas.</p>

<form method="post" action=".">
  {% csrf_token %}
  <table style="vertical-align:top">
    <tr>
      <td><p title="Introduce tu nombre.">
        <label for="id_first_name">Nombre: *</label><br/>
        {{ form.first_name }}
        {% if form.first_name.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.first_name.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
      <td><p title="Introduce tus apellidos.">
        <label for="id_last_name">Apellidos: *</label><br/>
        {{ form.last_name }}
        {% if form.last_name.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.last_name.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td><p title="Introduce tu pseudónimo en la STE, si lo tienes. Si no, puedes dejarlo en blanco.">
        <label for="id_alias">Pseudónimo:</label><br/>
        {{ form.alias }}
        {% if form.alias.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.alias.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
      <td><p title="Nombre del smial al que perteneces, o en blanco si no eres de la STE.">
        <label for="id_smial">Smial:</label><br/>
        {{ form.smial }}
        {% if form.smial.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.smial.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td><p title="Introduce tu dirección de correo electrónico.">
        <label for="id_email">Correo electrónico: *</label><br/>
        {{ form.email }}
        {% if form.email.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.email.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
      <td><p title="Introduce un teléfono de contacto.">
        <label for="id_phone">Teléfono: *</label><br/>
        {{ form.phone }}
        {% if form.phone.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.phone.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td colspan="2"><p title="Introduce la población donde resides habitualmente.">
        <label for="id_city">Población:</label><br/>
        {{ form.city }}
        {% if form.city.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.city.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td colspan="2"><p title="Recuerda que los menores necesitan venir con sus padres o una autorización firmada. Los niños de entre 2 y 12 años tienen un descuento en la inscripción, y los menores de 2 años no necesitan inscripción si no requieren cama ni comida.">
        <label for="id_age">Edad:</label><br/>
        {{ form.age }} Importante para menores o niños de hasta 12 años.
        {% if form.age.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.age.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr>
  </table>
  <br/>
  <p>Indica las noches que vas a pasar en el hotel:</p>
  <table title="Si asistes a la Estelcon completa, marca todo. Si no, dinos qué noches pernoctas en el hotel, incluyendo las comidas como se indica arriba. Si eliges una de las opciones sin alojamiento, no marques nada.">
    <tr>
      <td><label for="id_day_1">Viernes/Sábado<label></td>
      <td>{{ form.day_1 }}
      {% if form.day_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.day_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr><tr>
      <td><label for="id_day_2">Sábado/Domingo<label></td>
      <td>{{ form.day_2 }}
      {% if form.day_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.day_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr><tr>
      <td><label for="id_day_3">Domingo/Lunes + Cena de gala<label></td>
      <td>{{ form.day_3 }}
      {% if form.day_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.day_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/></td>
    </tr>
  </table>
  <br/>
  <p title="Escribe cualquier otra consideración que nos quieras comentar respecto de tu inscripción.">
    <label for="id_notes">¿Algún otro comentario?<label><br/>
    {{ form.notes }}
    {% if form.notes.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes.errors|join:", " }}&nbsp;</b>{% endif %}
  </p>
  <p>
    <input type="submit" value="enviar"/>
  </p>
  <p><em>En cumplimiento de la Ley de Protección de Datos, te informamos que los datos aquí introducidos
  serán incorporados a un fichero automatizado, que obrará en poder de la Sociedad Tolkien Española
  (nº 112532 en el Registro de Asociaciones del Ministerio del Interior) y será utilizado exclusivamente
  para gestionar la asistencia y las actividades de la EstelCon, siendo destruido al finalizar la misma.
  Puedes ejercer tus derechos de acceso, rectificación, cancelación y oposición en esta misma web, donde
  puedes consultarlos y modificarlos con los formularios correspondientes, o bien dirigirte a los
  organizadores de la EstelCon tal como se indica en la sección de contacto.</em></p>
</form>

{% endblock %}
