{% extends "dynamic_page.html" %}

{% block dynamic_content %}
<div class="heading">
<h1>Modificar</h1>
</div>
{% comment %}
<p>Aquí puedes modificar cualquier parte de tu información de inscripción, excepto los días
de asistencia. Si deseas cambiar este dato contacta con la organización.</p>
{% endcomment %}
<p><strong>Atención</strong>: si modificas algún dato que influya en el precio de la inscripción
(como el tipo de alojamiento), te agradeceremos que contactes con la organización para ver cómo
podemos compensar la diferencia.</p>

<form method="post" action="{% url 'user-profile-edit-inscription' %}">
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="form-group">
        <p title="Indica si vendrás en transporte privado o público, y en este caso, lugar y horario de llegada.">
          <label for="id_notes_transport">¿Cómo vas a venir?</label><br/>
          {{ form.notes_transport }}
          {% if form.notes_transport.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes_transport.errors|join:", " }}&nbsp;</b>{% endif %}
        </p>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <p title="Indica en qué tipo de habitación te vas a alojar. Si no te sirve ninguna de las opciones, pon 'otros' y contacta con la organización para ver el precio.">
            <label for="id_room_choice">Elige un tipo de alojamiento.</label><br/>
            {{ form.room_choice }}
            {% if form.room_choice.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.room_choice.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <p title="Si prefieres compartir habitación con alguien, o cualquier otro comentario al respecto, indicalo aquí.">
            <label for="id_room_preferences">¿Tienes alguna preferencia sobre con quién compartir habitación?</label>
            {{ form.room_preferences }}
            {% if form.room_preferences.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.room_preferences.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>
        <div class="form-group col-md-6">
          <p title="Indica si eres alérgico a algún alimento, vegetariano o cualquier otra condición especial.">
            <label for="id_notes_food">¿Tienes necesidades especiales respecto de las comidas?</label>
            {{ form.notes_food }}
            {% if form.notes_food.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes_food.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <p title="Si tienes algúna condición especial (alérgico, vegetariano... elige otros)">
            <label for="id_dinner_menu">El plato principal de la cena de gala:</label>
            {{ form.dinner_menu }}
            {% if form.dinner_menu.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.dinner_menu.errors|join:", " }}&nbsp;</b>{% endif %}
          </p>
        </div>
      </div>
      <div class="form-check">
        <p title="Ayudar a las personas que asisten por primera vez a una EstelCon es una gran idea.">
          {{ form.want_mentor }}
          <label for="id_mentor" class="form-check-label">¿Quieres ser mentora o mentor en esta Estelcon?</label>
          {% if form.mentor.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.mentor.errors|join:", " }}&nbsp;</b>{% endif %}
        </p>
      </div>

      <div class="form-check">
        <p title="Los escuderos son ayudantes voluntarios para echar una mano a la organización en tareas sencillas.">
          {{ form.squire }}
          <label for="id_squire" class="form-check-label">¿Quieres ser escudero en esta Estelcon?</label>
          {% if form.squire.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.squire.errors|join:", " }}&nbsp;</b>{% endif %}
        </p>
      </div>


      <div class="form-group">
        <p title="Escribe cualquier otra consideración que nos quieras comentar respecto de tu inscripción.">
          <label for="id_notes_general">¿Alguna otra necesidad que quieras compartir, o comentario?</label>
          {{ form.notes_general }}
          {% if form.notes_general.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes_general.errors|join:", " }}&nbsp;</b>{% endif %}
        </p>
      </div>
      <br/>
      <p>Hay tres tipos de camisetas, unisex, mujer y niño. Para ver cómo es el diseño principal, <a href="#shirt-modal" data-toggle="modal" data-target="#shirt-modal" class="">pulsa aquí</a>.</p>
      <p>Si vas a querer alguna camiseta, indícanos aquí la talla. También puedes, si lo deseas, reservar más de una,
      simplemente indicando la cantidad que quieres en la casilla o casillas correspondientes.</p>
      <p>El precio de las camisetas es de 10€, se entregarán junto con el Maratulmë de la EstelCon, cuando os registréis nada más llegar.</p>
      <p title="Indica cuántas camisetas quieres de cada talla.">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <label for="id_shirts_S_1">Camisetas talla S: </label>
          </div>
          <div class="col-md-2">
            <label for="id_shirts_M_1">Camisetas talla M: </label>
          </div>
          <div class="col-md-2">
            <label for="id_shirts_L_1">Camisetas talla L: </label>
          </div>
          <div class="col-md-2">
            <label for="id_shirts_XL_1">Camisetas talla XL: </label>
          </div>
          <div class="col-md-2">
              <label for="id_shirts_XXL_1">Camisetas talla XXL: </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            Unisex
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_S_1 }}
            {% if form.shirts_S_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_S_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_M_1 }}
            {% if form.shirts_M_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_M_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_L_1 }}
            {% if form.shirts_L_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_L_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_XL_1 }}
            {% if form.shirts_XL_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XL_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_XXL_1 }}
            {% if form.shirts_XXL_1.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XXL_1.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            Mujer
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_S_2 }}
            {% if form.shirts_S_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_S_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_M_2 }}
            {% if form.shirts_M_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_M_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_L_2 }}
            {% if form.shirts_L_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_L_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_XL_2 }}
            {% if form.shirts_XL_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XL_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_XXL_2 }}
            {% if form.shirts_XXL_2.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XXL_2.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            Niño
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_S_3 }}
            {% if form.shirts_S_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_S_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_M_3 }}
            {% if form.shirts_M_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_M_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_L_3 }}
            {% if form.shirts_L_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_L_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_XL_3 }}
            {% if form.shirts_XL_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XL_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
          <div class="form-group col-md-2">
            {{ form.shirts_XXL_3 }}
            {% if form.shirts_XXL_3.errors %} <b style="color:white;background-color:red">&nbsp;{{ form.shirts_XXL_3.errors|join:", " }}&nbsp;</b>{% endif %}<br/>
          </div>
        </div>
      </p>
      <br/>
      <p>
        <input type="submit" value="enviar" class="btn btn-template-outlined"/>
        <a href="{% url 'user-profile' %}" class="btn btn-template-outlined">Cancelar</a>
      </p>
    </div>
  </div>
</form>
{% endblock %}
