/** BASIC */

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #190e09 url(../images/Background.png) repeat left top;
}

/** FORMS */

form {
	margin: 0px;
	padding: 0px;
}

/** HEADINGS */

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

h1, h2 {
	color: #190e09;
}

h1 span, h2 span {
	padding: 0px 40px 0px 0px;
	background: url(../images/Homepage03.png) no-repeat right center;
}

h1 {
	margin-bottom: 20px;
	font-size: 14px;
}

h2 {
	margin-bottom: 15px;
	font-size: 13px;
}

h3 {
	margin-bottom: 5px;
	font-size: 11px;
	color: #190e09;
}

/** TEXTS */

body, th, td, input, textarea, select {
	font-family: TeX Gyre Cursor, Droid Sans, Gentium Basic, DejaVu Serif;
	font-size: 12px;
	color: #190e09;
}

p, blockquote, ul, ol, dl {
	margin-top: 0px;
	margin-bottom: 1em;
	text-align: justify;
}

.list1 {
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

.list1 li {
	display: block;
	font-size: 10px;
	height: 17px;
	margin-bottom: 3px;
	padding: 3px 0px 0px 10px;
	/**background: url(../images/homepage11.jpg) no-repeat left top;*/
}

.list1 li a {
	text-decoration: none;
	font-size: 10px;
}

.list1 li a:hover {
	text-decoration: underline;
	text-transform: none;
}

#sidebar .aactive {
        font-weight: bold;
        text-transform: uppercase;
        /**background: url(../images/homepage11b.jpg) no-repeat left top;*/
}


.list2 {
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

.list2 li {
	display: block;
	height: 13px;
	margin-bottom: 3px;
	padding: 3px 0px 0px 0px;
}

.list2 li a {
	text-decoration: underline;
}

.list2 li a:hover {
	text-decoration: underline;
	text-transform: none;
}

/** LINKS */

a {
	color: #994D2E;
}

a:hover {
	text-decoration: underline;
}

.more {
	margin: 10px 0px 20px 0px;
	padding: 0px 0px 0px 68px;
	background: url(../images/homepage09.gif) no-repeat left center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 9px;
}

.more a {
	padding-right: 15px;
	background: url(../images/homepage10.gif) no-repeat right center;
	text-decoration: none;
}

.more a:hover {
	text-decoration: underline;
}

/** STYLES */

.style1 {
}

.style1 li {

/**background: url(../images/homepage11b.jpg) no-repeat left top;*/
}
.style1 a {
}

.style1 a:hover {
}

/** BACKGROUNDS */

.bg1 {
}

/** MISC */

.english-edition {
    text-align: right;
    margin-bottom: 0;
}

.english-edition img {
    vertical-align: bottom;
}

.align-justify { text-align: justify; }
.align-right { text-align: right; }

img { border: none; }

img.left {
	float: left;
	margin: -5px 5px 0px -5px;
}

img.right {
	float: right;
	margin: -5px -5px 0px 5px;
}

hr { display: none; }

.hr1 {
	height: 31px;
	background: url(../images/homepage04.png) repeat-x left center;
}

/** WRAPPER */

#wrapper {
	height: 100%;
	min-height: 100%;
	background: url(../images/Background.png) fixed;
}

html>body #wrapper {
	height: auto;
}

/** HEADER */

#header {
	width: 980px;
	height: 200px;
}

/** LOGO */

#logo {
	width: 272px;
	height: 200px;
}

#logo h1, #logo p {
}

/** MENU */

#menu {
	width: 708px;
	height: 200px;
	background: url(../images/homepagemenu.png) no-repeat left top;
}

#menu a {
	text-decoration: none;
	font-weight: bold;
}

#menu a:hover {
	/* text-transform: uppercase; */
	text-decoration: underline;
}

/** PAGE */

#page {
	width: 980px;
	background: url(../images/subpagebg1.png) repeat-y left top;
}

#page-bg {
	background: url(../images/subpagebg2.png) repeat-y left top;
}

/** SIDEBAR > BOXED */

.boxed {
}

.boxed-top {
	background: url(../images/homepage15.png) no-repeat left top;
        min-height: 50px;
	
}

.boxed-content {
	padding: 10px 20px 5px 16px;
	background: url(../images/homepage16.png) repeat-y left top;
}


.boxed-bottom {
	background: url(../images/homepage17.png) no-repeat left bottom;
        min-height: 50px;
}

.boxed h2, .boxed-first h2 {
	margin-bottom: 5px;
	font-size: 10px;
}

.boxed .more, .boxed-first .more {
	padding: 0px;
        margin-bottom: 10px;
	background: none;
}

.boxed-first {
}

.boxed-top-first {
	background: url(../images/homepage15.png) no-repeat left top;
        min-height: 50px;
}

.boxed-content-first {
	padding: 10px 20px 5px 16px;
	background: url(../images/homepage16.png) repeat-y left top;
}

.boxed-content-first {
background: url(../images/homepage16.png) repeat-y left top;
}

.boxed-bottom-first {
	background: url(../images/homepage17.png) no-repeat left bottom;
        min-height: 50px;
}

.boxed-second {
}

.boxed-top-second {
	background: url(../images/subpage1_05.png) no-repeat left top;
        min-height: 45px;
}

.boxed-content-second {
	padding: 10px 20px 5px 16px;
	background: url(../images/subpage1_06.png) repeat-y left top;
}

.boxed-bottom-second {
	background: url(../images/subpage1_07.png) no-repeat left bottom;
        min-height: 45px;
}



/** FOOTER */

#footer {
	width: 980px;
	height: 80px;
	background: url(../images/subpagefooter.png) no-repeat left top;
}

#footer p {
	margin: 0px;
	padding: 40px 0px 0px 0px;
	text-align: center;
	font-size: 9px;
	color: #e6dad1;
}

table {

margin-left: 20px;
margin-right: 20px;
border: thin solid #190e09;
caption-side: bottom;
border-collapse: collapse;
text-align: left;
}

td, th {
border: thin dotted #190e09;
padding: 5px;

}

th {
background-color: #190e09;
}
caption {
font-style: italic;
padding-top: 8px;

}

.cellcolor {
background-color: #e6dad1;
}

/** FONTS*/

@font-face {
font-family: 'DejaVu Serif';
src: url('/fonts/DejaVuSerif-Bold-webfont.eot');
src: local('☺'), url('/fonts/DejaVuSerif-Bold-webfont.woff') format('woff'), url('/fonts/DejaVuSerif-Bold-webfont.ttf') format('truetype'), url('/fonts/DejaVuSerif-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: normal;
}


@font-face {
font-family: 'DejaVu Serif';
src: url('/fonts/DejaVuSerif-BoldItalic-webfont.eot');
src: local('☺'), url('/fonts/DejaVuSerif-BoldItalic-webfont.woff') format('woff'), url('/fonts/DejaVuSerif-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/DejaVuSerif-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: italic;
}


@font-face {
font-family: 'DejaVu Serif';
src: url('/fonts/DejaVuSerif-webfont.eot');
src: local('☺'), url('/fonts/DejaVuSerif-webfont.woff') format('woff'), url('/fonts/DejaVuSerif-webfont.ttf') format('truetype'), url('/fonts/DejaVuSerif-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}


@font-face {
font-family: 'DejaVu Serif';
src: url('/fonts/DejaVuSerifCondensed-Italic-webfont.eot');
src: local('☺'), url('/fonts/DejaVuSerifCondensed-Italic-webfont.woff') format('woff'), url('/fonts/DejaVuSerifCondensed-Italic-webfont.ttf') format('truetype'), url('/fonts/DejaVuSerifCondensed-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: italic;
}


@font-face {
font-family: 'DejaVu Serif';
src: url('/fonts/DejaVuSerifCondensed-Bold-webfont.eot');
src: local('☺'), url('/fonts/DejaVuSerifCondensed-Bold-webfont.woff') format('woff'), url('/fonts/DejaVuSerifCondensed-Bold-webfont.ttf') format('truetype'), url('/fonts/DejaVuSerifCondensed-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: normal;
}


@font-face {
font-family: 'DejaVu Serif';
src: url('/fonts/DejaVuSerifCondensed-BoldItalic-webfont.eot');
src: local('☺'), url('/fonts/DejaVuSerifCondensed-BoldItalic-webfont.woff') format('woff'), url('/fonts/DejaVuSerifCondensed-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/DejaVuSerifCondensed-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: italic;
}


@font-face {
font-family: 'DejaVu Serif';
src: url('/fonts/DejaVuSerif-Italic-webfont.eot');
src: local('☺'), url('/fonts/DejaVuSerif-Italic-webfont.woff') format('woff'), url('/fonts/DejaVuSerif-Italic-webfont.ttf') format('truetype'), url('/fonts/DejaVuSerif-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: italic;
}



@font-face {
font-family: 'Gentium Basic';
src: url('/fonts/GenBasB-webfont.eot');
src: local('☺'), url('/fonts/GenBasB-webfont.woff') format('woff'), url('/fonts/GenBasB-webfont.ttf') format('truetype'), url('/fonts/GenBasB-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: normal;
}


@font-face {
font-family: 'Gentium Basic';
src: url('/fonts/GenBasBI-webfont.eot');
src: local('☺'), url('/fonts/GenBasBI-webfont.woff') format('woff'), url('/fonts/GenBasBI-webfont.ttf') format('truetype'), url('/fonts/GenBasBI-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: italic;
}


@font-face {
font-family: 'Gentium Basic';
src: url('/fonts/GenBasI-webfont.eot');
src: local('☺'), url('/fonts/GenBasI-webfont.woff') format('woff'), url('/fonts/GenBasI-webfont.ttf') format('truetype'), url('/fonts/GenBasI-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: italic;
}


@font-face {
font-family: 'Gentium Basic';
src: url('/fonts/GenBasR-webfont.eot');
src: local('☺'), url('/fonts/GenBasR-webfont.woff') format('woff'), url('/fonts/GenBasR-webfont.ttf') format('truetype'), url('/fonts/GenBasR-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}



@font-face {
font-family: 'Droid Sans';
src: url('/fonts/DroidSans-Bold-webfont.eot');
src: local('☺'), url('/fonts/DroidSans-Bold-webfont.woff') format('woff'), url('/fonts/DroidSans-Bold-webfont.ttf') format('truetype'), url('/fonts/DroidSans-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: normal;
}


@font-face {
font-family: 'Droid Sans';
src: url('/fonts/DroidSans-webfont.eot');
src: local('☺'), url('/fonts/DroidSans-webfont.woff') format('woff'), url('/fonts/DroidSans-webfont.ttf') format('truetype'), url('/fonts/DroidSans-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}



@font-face {
font-family: 'TeX Gyre Cursor';
src: url('/fonts/texgyrecursor-bold-webfont.eot');
src: local('☺'), url('/fonts/texgyrecursor-bold-webfont.woff') format('woff'), url('/fonts/texgyrecursor-bold-webfont.ttf') format('truetype'), url('/fonts/texgyrecursor-bold-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: normal;
}


@font-face {
font-family: 'TeX Gyre Cursor';
src: url('/fonts/texgyrecursor-bolditalic-webfont.eot');
src: local('☺'), url('/fonts/texgyrecursor-bolditalic-webfont.woff') format('woff'), url('/fonts/texgyrecursor-bolditalic-webfont.ttf') format('truetype'), url('/fonts/texgyrecursor-bolditalic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 700;
font-style: italic;
}


@font-face {
font-family: 'TeX Gyre Cursor';
src: url('/fonts/texgyrecursor-italic-webfont.eot');
src: local('☺'), url('/fonts/texgyrecursor-italic-webfont.woff') format('woff'), url('/fonts/texgyrecursor-italic-webfont.ttf') format('truetype'), url('/fonts/texgyrecursor-italic-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: italic;
}


@font-face {
font-family: 'TeX Gyre Cursor';
src: url('/fonts/texgyrecursor-regular-webfont.eot');
src: local('☺'), url('/fonts/texgyrecursor-regular-webfont.woff') format('woff'), url('/fonts/texgyrecursor-regular-webfont.ttf') format('truetype'), url('/fonts/texgyrecursor-regular-webfont.svg#webfontX4pGz9fc') format('svg');
font-weight: 400;
font-style: normal;
}
