/** HEADER */

#header {
	margin: 0px auto;
}

/** LOGO */

#logo {
	float: left;
	background: url(../images/Logo.png) no-repeat left top;
}

#logo h1{
	margin: 150px 0px 0px 0px;
	text-indent: 78px;
	
}

#logo h1 a{
	margin: 150px 0px 0px 0px;
	text-indent: 78px;
text-decoration: none;
	
}


#logo p {
	text-indent: 88px;

}

#logo p a{
	text-indent: 88px;
	text-decoration: none;

}


/** MENU */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 158px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 20px;
	padding: 4px 4px 0px 50px;
	background: transparent no-repeat left center;
}

#menu .first a {
	background: none;
	padding: 4px 4px 0px 15px;
}

/** PAGE */

#page {
	margin: 0px auto;
}

/** CONTENT */

#content {
	float: right;
	width: 602px;
	padding: 15px 77px 0px 0px;
}

/** ONE COLUMN WIDE */

.one-column {
}

.one-column-wide {
	padding: 20px 90px;
}

/** 2-COLUMNS */

.two-columns {
}

.two-columns .column1 {
	float: left;
	width: 360px;
}

.two-columns .column2 {
	float: right;
	width: 207px;
	padding: 0px 0px 0px 18px;
	background: url(../images/homepage05.png) repeat-y left top;
}

/** SIDEBAR */

#sidebar {
	float: left;
	width: 230px;
	padding: 0px 0px 0px 49px;
}

/** FOOTER */

#footer {
	margin: 0px auto;
}


/** Tables */

table {

margin-left: 20px;
margin-right: 20px;
border: thin solid #190e09;
caption-side: bottom;
border-collapse: collapse;
text-align: left;
}

td, th {
border: thin dotted #190e09;
padding: 5px;

}

th {
background-color: #190e09;
}
caption {
font-style: italic;
padding-top: 8px;

}

.cellcolor {
background-color: #e6dad1;
border: 1px solid #190e09;
}

/** IMAGES */

.zoom{
		border: 2px solid #190e09;
		transition: 1.5s ease;
 		-moz-transition: 1.5s ease; /* Firefox */
 		-webkit-transition: 1.5s ease; /* Chrome - Safari */
 		-o-transition: 1.5s ease; /* Opera */
	}
	.zoom:hover{
		border: none;
		transform : scale(2);
		-moz-transform : scale(2); /* Firefox */
		-webkit-transform : scale(2); /* Chrome - Safari */
		-o-transform : scale(2); /* Opera */
		-ms-transform : scale(2); /* IE9 */
	}
	
