{% extends "dynamic_page.html" %}

{% block dynamic_content %}

<h1>Programa provisional</h1>
<p>El programa de actividades está en preparación. En líneas generales, las actividades previstas en los distintos días del evento son las siguientes:<br>
<br> 
<strong>Jueves  12 de octubre: </strong>Recepción de asistentes, ceremonia de inauguraci&oacute;n y lectura de cuentos por la tarde-noche en el Seminario de Tortosa.
<p>
<br> 
<strong>Viernes  13 de octubre: </strong>Conferencias  y talleres por la ma&ntilde;ana. Rol en vivo 


y cine-f&oacute;rum sobre &ldquo;The Hunt for Gollum&rdquo; con la presencia de  Chris Bouchard (director) y de Adrian Webster (Áragorn) por la tarde. Tras la cena Lumilind&euml;.
<p>
<br> 
<strong>S&aacute;bado 14 de octubre: </strong>Asamblea General de la Sociedad Tolkien Espa&ntilde;ola (ma&ntilde;ana), encuentro con John Garth autor de &quot;Tolkien y la Gran Guerra&quot; en el Seminario de Tortosa. Cena de Gala para asistentes inscritos a la EstelCon en el Castillo de Miravet.
<p>
<br> 
<strong>Domingo 15 de octubre: </strong>Podcast en directo, entrega de premios y clausura de la EstelCon por la ma&ntilde;ana en el Seminario de Tortosa.

{% comment %}
<p>En estos momentos no tenemos aún el programa oficial. Estamos recibiendo propuestas
y planeando la parrilla de actividades. Cuando tengamos el programa informaremos a
través de las redes sociales.</p>

<p>Mientras tanto, si ya te has inscrito en la EstelCon, puedes mandarnos tus propuestas.
Asegúrate de leer la sección <a href="/como-participar">¿Cómo participar?</a>,
y luego haznos una <a href="/propuesta">propuesta de actividad</a>.</p>
{% endcomment %}

{% endblock %}
