{% extends "dynamic_page.html" %}

{% block dynamic_content %}
<div class="heading">
    <h1>Programa provisional</h1>
</div>
<p>El programa de actividades est&aacute; en preparaci&oacute;n. En l&iacute;neas generales, las actividades previstas en los distintos d&iacute;as del evento son las siguientes:</p>
<div class="row justify-content-center">
    <div class="col-md-10">
            <div class="card">
                    <div class="card-body">
<p><h3>Jueves 1 de noviembre:</h3> Recepci&oacute;n de asistentes, ceremonia de inauguraci&oacute;n y lectura de cuentos por la noche.</p>

<p><h3>Viernes 2 de noviembre:</h3> Conferencias y talleres por la ma&ntilde;ana. Tarde-noche Lumilind&euml;.</p>

<p><h3>S&aacute;bado 3 de noviembre:</h3> Asamblea General de la Sociedad Tolkien Espa&ntilde;ola (ma&ntilde;ana). Cena de Gala para asistentes inscritos.</p>

<p><h3>Domingo 4 de noviembre:</h3> Entrega de premios y clausura de la EstelCon por la ma&ntilde;ana.</p>
    </div>
</div>
</div>
</div>
{% comment %}
<p>En estos momentos no tenemos aún el programa oficial. Estamos recibiendo propuestas
y planeando la parrilla de actividades. Cuando tengamos el programa informaremos a
través de las redes sociales.</p>

<p>Mientras tanto, si ya te has inscrito en la EstelCon, puedes mandarnos tus propuestas.
Asegúrate de leer la sección <a href="/como-participar">¿Cómo participar?</a>,
y luego haznos una <a href="/propuesta">propuesta de actividad</a>.</p>
{% endcomment %}

{% endblock %}
