{% extends "webapp/common/base_subsection.html" %}

{% block subsecciones %}
<ul class="list1">
    <li><a href="/merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
    <li><a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
    <li><a href="/merethaderthad_premios.html">Concursos y Premios</a></li>
    <li class="aactive"><a href="/merethaderthad_programa">Programa de actividades</li>
    <li><a href="/merethaderthad_inscripcion">Formulario de inscripción</a></li>
    <li class="aactive"><a href="/merethaderthad_ficha">Ficha personal</a></li>
</ul>
{% endblock %}

{% block content %}
<h1><span>La Mereth Aderthad</span> <span>Ficha personal</span> Propuesta de actividad</h1>

{% if messages %}
    {% for message in messages %}
        <h3 class="message">{{ message }}</h3>
    {% endfor %}
{% endif %}

<p>¿Quieres organizar una actividad? ¡Proponla y te buscaremos un hueco!</p>

<p>Rellena este formulario y envíanoslo. Rellena las casillas con el mayor detalle que puedas.
Una vez aceptada y asignada un horario, la actividad aparecerá en el Programa de actividades, y tendrá su propia ficha, rellena con los datos que nos has pasado.
Más adelante podrás modificar cualquiera de estos datos desde tu ficha personal.</p>

<p><strong>Ten en cuenta que en este evento, las actividades más adecuadas serán las que tengan un
caracter abierto al público, de manera que si tienes alguna pequeña obra de teatro, alguna conferencia
de carácter divulgativo, o algún taller vistoso y simpático, serán bienvenidas y celebradas.</strong></p>

<p>Indicanos la duración prevista y si hay un tope máximo de plazas. También si es una actividad
que requiere inscripción. Si es así, los demás asistentes a la EstelCon podrán inscribirse y podrás
consultar en todo momento quienes están apuntados.</p>

<p>Debes indicar también si hay más responsables y organizadores. Los responsables tendrán
permiso para modificar la ficha de la actividad. Y los organizadores son todas las demás personas
involucradas en la organización, que podrán consultar la ficha completa y la lista de inscritos,
si la hay, pero no modificar nada.</p>

{% comment %}
<p>Si quieres vender artículos en la <b>Esteltienda</b>, puedes usar también este formulario. Indica
"Esteltienda" en el título, y usa la descripción y los campos que necesites para explicar los
artículos a vender y cualquier otro comentario.</p>
{% endcomment %}

<p>MANTÉN INMÓVIL DURANTE 1 SEG. EL CURSOR DEL RATÓN SOBRE LOS RECUADROS DE TEXTO PARA OBTENER MÁS INFORMACIÓN.</p>

<form method="post" action=".">
  {% csrf_token %}
  <table style="vertical-align:top">
    <tr>
      <td><p title="Descripción breve en una línea, tal como aparecerá en el Programa.">
        <label for="id_title">Título de la actividad: *</label><br/>
        {{ form.title }}
        {% if form.title.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.title.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
     </tr><tr>
      <td><p title="Un comentario breve, en una o dos líneas, que aparecerá debajo del título.">
        <label for="id_subtitle">Entradilla:</label><br/>
        {{ form.subtitle }}
        {% if form.subtitle.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.subtitle.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      </tr><tr>
      <td><p title="La duración prevista para la actividad, o 0 si es indefinida.">
        <label for="id_duration">Duración aproximada: *</label><br/>
        {{ form.duration }}
        {% if form.duration.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.duration.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
     </tr><tr>
      </tr><tr>
      <td><p title="Indica cuántas personas podrán apuntarse como máximo, o 0 si no hay límite.">
        <label for="id_max_places">Nº máximo de plazas (si lo hay):</label><br/>
        {{ form.max_places }}
        {% if form.max_places.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.max_places.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td><p title="Indica si se mostrará en el Programa el nombre de los responsables.">
        <label for="id_show_owners">Mostrar responsables: </label>
        {{ form.show_owners }}
        {% if form.show_owners.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.show_owners.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
     </tr><tr>
     </tr><tr>
      <td><p title="Indica si será necesario inscribirse previamente para participar en esta actividad.">
        <label for="id_requires_inscription">Requiere inscripción: </label>
        {{ form.requires_inscription }}
        {% if form.requires_inscription.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.requires_inscription.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
     </tr><tr>
      <td><p title="Entre una y tres personas que representan la actividad y podrán modificar estos datos.">
        <label for="id_owners">Responsable(s) además de ti (nombre y apellidos, pseudónimo y/o nombre de usuario en esta web): </label><br/>
        {{ form.owners }}
        {% if form.owners.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.owners.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
     </tr><tr>
      <td><p title="Todas las demás personas que colaborarán en organizar esta actividad.">
        <label for="id_organizers">Otros organizadores: </label><br/>
        {{ form.organizers }}
        {% if form.organizers.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.organizers.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td><p title="Describe la actividad con el detalle que quieras. Se mostrará en el Programa detallado.">
        <label for="id_text">Descripción: *</label><br/>
        {{ form.text }}
        {% if form.text.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.text.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td><p title="Dinos qué necesidades tienes. Esto sólo lo verá la organización de la EC.">
        <label for="id_logistics">Necesidades logísticas (materiales, espacio y cualquier otro recurso necesario):</label><br/>
        {{ form.logistics }}
        {% if form.logistics.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.logistics.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr><tr>
      <td><p title="Coméntanos cualquier otra cosa que se te ocurra, sólo para verlo nosotros.">
        <label for="id_notes_organization">Comentarios para la organización de la EC:</label><br/>
        {{ form.notes_organization }}
        {% if form.notes_organization.errors %}<br/><b style="color:white;background-color:red">&nbsp;{{ form.notes_organization.errors|join:", " }}&nbsp;</b>{% endif %}
      </p></td>
    </tr>
   </table>
  <p>
    <input type="submit" value="enviar"/>
  </p>
</form>

{% endblock %}
