{% extends "webapp/common/base_subsection.html" %}

{% block subsecciones %}
<ul class="list1">
    <li><a href="/merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
    <li><a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
    <li><a href="/merethaderthad_premios.html">Concursos y Premios</a></li>
    <li class="aactive"><a href="/merethaderthad_programa">Programa de actividades</li>
    <li><a href="/merethaderthad_invitados.html">Nuestros invitados</a></li>
    <li><a href="/merethaderthad_inscripcion">Formulario de inscripción</a></li>
    <li class="aactive"><a href="/merethaderthad_ficha">Ficha personal</a></li>
</ul>
{% endblock %}

{% block content %}
<h1><span>La Mereth Aderthad</span> <span>Ficha personal</span> Propuesta de actividad</h1>

{% if messages %}
    {% for message in messages %}
        <h3 class="message">{{ message }}</h3>
    {% endfor %}
{% endif %}

<p>Estudiaremos la actividad que propones y le buscaremos un hueco en la Estelcon. En cuanto
lo hagamos, podrás ver cómo aparece en el Programa de actividades,
incluyendo una ficha rellena con los datos que nos has enviado (al menos con la parte pública).
Y si tú o cualquiera de las personas designadas como responsables accedéis a la web con vuestro
usuario y contraseña, podréis consultar y modificar todos los datos.</p>

<p>Si tenemos alguna duda o consulta que hacerte, contactaremos contigo a través del correo
electrónico o el teléfono que indicaste al registrarte.</p>

<p>¡Muchas gracias por participar! Entre todos haremos una gran Mereth Aderthad.</p>

{% endblock %}
