{% extends "webapp/common/base_subsection.html" %}

{% block subsecciones %}
<ul class="list1">
    <li><a href="/merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
    <li><a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
    <li><a href="/merethaderthad_premios.html">Concursos y Premios</a></li>
    <li class="aactive"><a href="/merethaderthad_programa">Programa de actividades</li>
    <li><a href="/merethaderthad_inscripcion">Formulario de inscripción</a></li>
    <li><a href="/merethaderthad_ficha">Ficha personal</a></li>
</ul>
{% endblock %}

{% block content %}

<h1><span>La Mereth Aderthad</span> Programa de actividades</h1>

<p>En estos momentos no tenemos aún el programa oficial. Estamos recibiendo propuestas
y planeando la parrilla de actividades. Cuando tengamos el programa informaremos a
través de las redes sociales.</p>

<p>Mientras tanto, si ya te has inscrito en la EstelCon, puedes mandarnos tus propuestas.
Asegúrate de leer la sección <a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a>,
y luego haznos una <a href="/merethaderthad_propuesta">propuesta de actividad</a>.</p>

{% endblock %}
