{% extends "webapp/common/base_subsection.html" %}

{% block subsecciones %}
<ul class="list1">
    <li><a href="/merethaderthad_modelo.html">Modelo de Mereth Aderthad</a></li>
    <li><a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a></li>
    <li><a href="/merethaderthad_premios.html">Concursos y Premios</a></li>
    <li class="aactive"><a href="/merethaderthad_programa">Programa de actividades</li>
    <li><a href="/merethaderthad_inscripcion">Formulario de inscripción</a></li>
    <li><a href="/merethaderthad_ficha">Ficha personal</a></li>
</ul>
{% endblock %}

{% block content %}

<h1><span>La Mereth Aderthad</span> Programa provisional</h1>

<p>El programa de actividades está en preparación. En líneas generales, las actividades previstas en los distintos días del evento son las siguientes:<br>
<br> <strong>Viernes 9 de octubre: </strong>Recepción de asistentes, presentación y actividades de bienvenida por la tarde-noche, en la Sede/Museo de la Volvo’s Ocean Race.<p>
<br> <strong>Sábado 10 de octubre: </strong>Presentaciones, actividades y talleres aproximadamente de 11:00 a 18:00 en el Castillo de Santa Bárbara. Actividades en la Volvo’s Ocean Race a partir de las 20:00.<p>
<br> <strong>Domingo 11 de octubre: </strong>Presentaciones, actividades y talleres aproximadamente de 11:00 a 19:00 en el Castillo de Santa Bárbara. Cena de Gala para asistentes inscritos a la EstelCon en el Castillo, tras el cierre de puertas.<p>
<br> <strong>Lunes 12 de octubre: </strong>Actividades, entrega de premios y clausura de la EstelCon por la mañana y mediodía en el Castillo de Santa Bárbara.

{% comment %}
<p>En estos momentos no tenemos aún el programa oficial. Estamos recibiendo propuestas
y planeando la parrilla de actividades. Cuando tengamos el programa informaremos a
través de las redes sociales.</p>

<p>Mientras tanto, si ya te has inscrito en la EstelCon, puedes mandarnos tus propuestas.
Asegúrate de leer la sección <a href="/merethaderthad_comoparticipar.html">¿Cómo participar?</a>,
y luego haznos una <a href="/merethaderthad_propuesta">propuesta de actividad</a>.</p>
{% endcomment %}

{% endblock %}
